<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>

    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                코드관리
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">

                        <div class="box-footer" style="padding-bottom:0px;">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-7">
                                            <i class="fa fa-fw fa-th-list"></i>
                                            <!--<button type="button" id="register" class="btn btn-primary btn-sm pull-left" onclick="procMovePage(GET_CLIENT_FORM);">-->
                                            <!--클라이언트 등록-->
                                            <!--</button>-->
                                        </div>
                                        <div class="col-xs-7 col-sm-5">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                                <input type="text" name="table_search" id="searchKeyword"
                                                       class="form-control" style="margin-left:-1px;"
                                                       placeholder="Search" onkeyup="procSearchByKeyword(event);"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <!--boxL -->
                                    <div class="form-group">

                                        <div class="b-group pull-right">
                                            <button type="button" class="btn btn-sm btn-warning" onclick="procMovePage();">추가</button>
                                            <button type="button" class="b btn btn-sm btn-primary" onclick="procMovePage();">저장</button>
                                        </div><br/>
                                        <label>Table</label>
                                        <!--Table -->
                                        <div id="starterListMessageArea" class="table-responsive">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>코드</th>
                                                    <th>코드이름</th>
                                                </tr>
                                                <tbody id="starterListTableArea">
                                                </tbody>
                                            </table>
                                        </div> <!--Table -->
                                    </div>
                                </div>
                                <!-- boxR -->
                                <div class="col-md-6">
                                    <!-- /.form-group -->
                                    <div class="b-group pull-right">
                                        <button type="button" class="btn btn-sm btn-warning" onclick="procMovePage();">추가</button>
                                        <button type="button" class="btn btn-sm btn-danger" onclick="procMovePage();">삭제</button>
                                        <button type="button" class="b btn btn-sm btn-primary" onclick="procMovePage();">저장</button>
                                    </div><br/>
                                    <label>Table</label>
                                    <!--Table -->
                                    <div id="starterListMessageArea" class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Key</th>
                                                <th>Value</th>
                                                <th>요약</th>
                                                <th>사용</th>
                                            </tr>
                                            <tbody id="starterListTableArea">
                                            </tbody>
                                        </table>
                                    </div> <!--Table -->
                                    <!-- /.form-group -->
                                </div>
                            </div>


                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->
<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/

    var LIST_PROC_URL = "/commonCode/getCommonCode";
    var INSERT_PROC_URL = "/commonCode/insertCommonCode";
    var UPDATE_PROC_URL = "/commonCode/updateCommonCode";
    var DELETE_PROC_URL = "/commonCode/deleteCommonCode";

    var PROC_TYPE_COMMON_CODE_GROUP = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).PROC_NAME_COMMON_CODE_GROUP}]]*/ "";
    var PROC_TYPE_COMMON_CODE_DETAIL = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).PROC_NAME_COMMON_CODE_DETAIL}]]*/ "";
    var RESULT_STATUS_FAIL_DUPLICATED = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).RESULT_STATUS_FAIL_DUPLICATED}]]*/ "";

    var GROUP_ID = "";
    var LAST_USE_YN = "";
    var LAST_CHECKED_LIST = [];
    var EDIT_CELL_INDEX_GRID_01 = 0;
    var EDIT_CELL_INDEX_GRID_02 = 0;


    /*]]>*/
</script>
</body>
</html>