<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>

    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper" >

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                할당량 관리
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">


                    <div class="box"><!-- box-primary -->
                        <div class="box-header with-border">

                            <div class="nav-tabs-custom" style="margin-bottom:0px;">
                                <ul class="nav nav-tabs">

                                    <li class="header no-padding active"><a href="#orgTab" data-toggle="tab" aria-expanded="true"  data-tab-type="org">조직 할당량</a></li>
                                    <li class="header no-padding"><a href="#spaceTab" data-toggle="tab" aria-expanded="false" data-tab-type="space">공간 할당량</a></li>

                                </ul>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="orgTab">

                                    <div class="box">
                                        <div id="orgTabLoadingBar" class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
                                        <div class="box-header">

                                            <h3 class="box-title"></h3>

                                            <div class="box-tools col-xs-6 col-sm-3 pull-left" style="position:static;padding-left: 0px;">
                                                <div class="has-feedback">
                                                    <input type="text" class="form-control input-sm" onkeyup="procSearchByKeyword(event);" placeholder="이름으로 검색"/>
                                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                                </div>
                                            </div>

                                            <div class="pull-right" style="padding-right: 0px;">
                                                <button type="button" class="btn btn-block btn-primary btn-sm" name="registBtn" data-title-text="조직 할당량 등록" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#quotaDefinitionFormModal">
                                                    조직 할당량 등록
                                                </button>
                                            </div>

                                        </div>
                                        <!-- /.box-header -->

                                        <div class="box-body no-padding table-responsive">
                                            <table class="table table-striped text-center" style="table-layout:fixed; word-break:break-all;"> <!-- table-responsive -->
                                                <thead>
                                                <tr class="text-center">
                                                    <th>이름</th>
                                                    <th>메모리</th>
                                                    <th>인스턴스 메모리</th>
                                                    <th>라우트</th>
                                                    <th>서비스 인스턴스</th>
                                                    <th>가격</th>
                                                    <th>예약 라우트 포트</th>
                                                </tr>
                                                </thead>
                                                <tbody id="orgQuotaDefinitionList">
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->

                                </div>
                                <!-- /.tab-pane tab_1 -->

                                <div class="tab-pane fade" id="spaceTab">

                                    <div class="box">
                                        <div id="spaceTabLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                                        <div class="box-header">
                                            <h3 class="box-title"></h3>
                                            <div class="box-tools col-xs-6 col-sm-3 pull-left" style="position:static;padding-left: 0px;">
                                                <div class="has-feedback">
                                                    <input type="text" class="form-control input-sm" onkeyup="procSearchByKeyword(event);" placeholder="이름으로 검색"/>
                                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                                </div>
                                            </div>

                                            <div class="pull-right" style="padding-right: 0px;">
                                                <button type="button" class="btn btn-block btn-primary btn-sm" name="registBtn" data-title-text="공간 할당량 등록" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#quotaDefinitionFormModal">
                                                    공간 할당량 등록
                                                </button>
                                            </div>

                                        </div>
                                        <!-- /.box-header -->

                                        <div class="box-body no-padding table-responsive"> <!-- table-responsive -->
                                            <table class="table table-striped text-center" style="table-layout:fixed; word-break:break-all;">
                                                <thead>
                                                <tr class="text-center">
                                                    <th>이름</th>
                                                    <th>메모리</th>
                                                    <th>인스턴스 메모리</th>
                                                    <th>라우트</th>
                                                    <th>서비스 인스턴스</th>
                                                    <th>가격</th>
                                                    <th>예약 라우트 포트</th>
                                                    <th>생성 조직명</th>
                                                </tr>
                                                </thead>
                                                <tbody id="spaceQuotaDefinitionList">
                                                <tr>
                                                    <td>Default</td>
                                                    <td>10G</td>
                                                    <td>10G</td>
                                                    <td>1000</td>
                                                    <td>100</td>
                                                    <td>무료</td>
                                                    <td>100</td>
                                                    <td>Org-target</td>
                                                </tr>
                                                <tr>
                                                    <td>Space_quota</td>
                                                    <td>20G</td>
                                                    <td>무제한</td>
                                                    <td>2000</td>
                                                    <td>200</td>
                                                    <td>유료</td>
                                                    <td>무제한</td>
                                                    <td>Org-target</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->

                                </div>
                                <!-- /.tab-pane tab_2 -->


                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Modal Layer-->
            <div class="modal fade" id="quotaDefinitionFormModal" style="display: none;" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>

                            <h4 class="modal-title">
                                <div id="title">조직 할당량 등록</div>
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div class="box" style="margin-bottom: 0px; border-top: 0px; box-shadow: 0 0px 0px">
                                <!--<div class="box-header"></div>-->
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div id="modalLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                                <form class="form-horizontal" id="form">
                                    <div class="box-body" style="padding: 0px">

                                        <div class="form-group required has-feedback"><!-- has-success has-feedback --><!--has-error has-feedback -->
                                            <label for="name" class="col-sm-3 control-label">이름</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control toCheckStringOrg toCheckStringSpace" id="name" name="useCheck" placeholder="예시) 20G_quota"/>
                                                <input type="hidden" id="quotaId" class="toCheckString"/>
                                                <span class="glyphicon form-control-feedback" ></span>
                                            </div>
                                        </div>

                                        <div class="form-group required" style="display: none;" id="organizationReg">
                                            <label for="organization" class="col-xs-9 col-sm-3 control-label">생성 조직명</label>
                                            <div class="col-xs-9 col-sm-3">

                                                <select class="form-control toCheckStringSpace" id="organization">
                                                    <option value=""></option>
                                                </select>

                                            </div>
                                            <div class="col-xs-3 col-sm-3">
                                                <!-- <input type="text" class="form-control" id="password" placeholder="단위 : MB"> -->
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label for="memorySize" class="col-sm-3 control-label">메모리(MB)</label>
                                            <div class="col-sm-9">
                                                <input class="form-control toCheckStringOrg toCheckStringSpace" type="number" id="memorySize" placeholder="예시) 1024, 10240"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="instanceMemorySize" class="col-sm-3 control-label">인스턴스 메모리(MB)</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="number" name="unlimitableOnMem" id="instanceMemorySize" placeholder="예시) 1024, 10240" data-toggle="popover" />
                                            </div>
                                            <div class="col-xs-3 col-sm-3">
                                                <!-- <input type="text" class="form-control" id="password" placeholder="단위 : MB"/> -->
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="routeCnt" class="col-sm-3 control-label">라우트</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="number" name="unlimitableOnOrg" id="routeCnt" placeholder="예시) 100" data-toggle="popover" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="serviceCnt" class="col-sm-3 control-label">서비스 인스턴스</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="number" name="unlimitableOnOrg" id="serviceCnt" placeholder="예시) 100" data-toggle="popover" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="appsCnt" class="col-xs-9 col-sm-3 control-label">APP 인스턴스</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="number" name="unlimitableOnOrg" id="appsCnt" placeholder="예시) 100" data-toggle="popover" />
                                            </div>
                                            <div class="col-xs-3 col-sm-3">
                                                <!-- <input type="text" class="form-control" id="password" placeholder="ex) admin"/> -->
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="isFreeArea" class="col-sm-3 control-label">무료 여부</label>
                                            <div class="col-sm-9">

                                                <div id="isFreeArea" class="radio">
                                                    <div class="col-sm-2">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="isFreeY" value="true" checked=""/>
                                                            Y
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="isFreeN" value="false" />
                                                            N
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="reservedRouteCnt" class="col-sm-3 control-label">예약된 라우트 포트</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="number" name="unlimitableOnRoute" id="reservedRouteCnt" placeholder="예시) 100" data-toggle="popover"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer"><!--style="border-top: 0px"-->
                            <button type="button" id="deleteBtn" class="btn btn-sm btn-danger pull-left" onClick="deleteQuotaDefinitionModal();">삭제</button>
                            <button type="button" id="closeBtn" class="btn btn-sm btn-default pull-left" data-dismiss="modal">취소</button>
                            <button type="button" id="regBtn" class="btn btn-sm btn-primary" onClick="createQuotaDefinition()">등록</button>
                            <button type="button" id="saveBtn" class="btn btn-sm btn-primary pull-right" onClick="updateQuotaDefinition();">저장</button>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Modal Layer-->

            <div class="modal fade" tabindex="-1" role="dialog" id="quotaDefinitionsConfirmModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> &times; </span></button>
                            <h1 id="popupTitle" class="modal-title" style="font-size:25px"> TITLE </h1>
                        </div>
                        <div class="modal-body">
                            <p id="popupMessage"> MESSAGE </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="popupButtonText"> SAVE CHANGES </button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" id="popupCancelButtonText"> 취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- /.Content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/

    var ORG_SOURCE_LIST;
    var SPACE_SOURCE_LIST;
    var IS_NAME_DUP = false;
    var ACTIVE_TAB = 'org';

    var ORG_LIST_MAP = new Map(); // 조직 할당량정의에서 사용할 조직 정보 Map

    $( "#apiUrls" ).change(function() {
        key = $("#apiUrls").val();
        $.cookie("api_key",key);

        procCallAjax("/v2/orgs"+"?key="+key, "GET", null, procCallbackGetOrgList, null);

        var searchResult = [];

        if(ACTIVE_TAB == 'org'){
            printOrgData(searchResult);
        }else{
            printSpaceData(searchResult);
        }
    });

    var init = function(){
        // 삭제후 조회시 딜레이 필요.
//        setTimeout(function() {
//            getOrgQuotaDefinitionList();
//            getSpaceQuotaDefinitionList();
//            $('#quotaDefinitionFormModal').modal('hide');
//        }, 1000);

        if($.cookie("api_key") != null){
            key = $.cookie("api_key");
            $("#apiUrls").val(key);
        }else{
            key = $("#apiUrls").val();
        }

        getOrgQuotaDefinitionList();
        getSpaceQuotaDefinitionList();
        $('#quotaDefinitionFormModal').modal('hide');

    };

    $(document).ready(function () {


        getOrgList();
        setPopover();

        // Active Tab Check.
        $('.nav-tabs li').each(function(){
            $(this).click(function(e){
                ACTIVE_TAB = $(e.target).data('tabType');

                $('#organizationReg').toggle(); // 생성 조직명 show/hide toggle

            });
        });

        // 조직/공간 할당량 정의 등록 버튼 클릭시, 등록 팝업 설정
        $(document).on( "click", 'button[name=registBtn]' ,function(e){

            var titleText = $(e.target).data('titleText');

            $('#title').text(titleText);
            //$('#title').show();
            $('#deleteBtn').hide();
            $('#saveBtn').hide();
            $('#regBtn').show();

            $('#form')[0].reset();
            $('#name').attr("disabled",false);
            $('#organization').attr("disabled",false);

        });

        // 리스트 클릭시, 상세 팝업 설정
        $(document).on( 'click', '#orgQuotaDefinitionList', function(){

            //var title = (ACTIVE_TAB == 'org') ? "조직 할당량 상세" : "공간 할당량 상세" ;

            $('#title').text("조직 할당량 상세");

            $('#deleteBtn').show();
            $('#saveBtn').show();
            $('#regBtn').hide();

            $('#name').attr("disabled",true);
            $('#name').closest('.form-group').removeClass('has-success has-error');
            $('#name').closest('.form-control-feedback').hide();
        });

        // 리스트 클릭시, 상세 팝업 설정
        $(document).on( 'click', '#spaceQuotaDefinitionList', function(){

            $('#title').text("공간 할당량 상세");

            $('#deleteBtn').show();
            $('#saveBtn').show();
            $('#regBtn').hide();

            $('#name').attr("disabled",true);
            $('#organization').attr("disabled",true);
            $('#name').closest('.form-group').removeClass('has-success has-error');
            $('#name').closest('.form-control-feedback').hide();
        });

        // 팝업 레이어 '이름' 사용 가능 체크 이벤트
        $(document).on("keyup","input[name='useCheck']", function (e) {
            procNameUseCheck(e)
        });

    });

    //Pop-Over 설정
    function setPopover(){
        // 인스턴스 메모리
        $('input[name=unlimitableOnMem]').data('content','값 입력하지 않을시 : 메모리 허용량 내 무제한으로 설정');
        // 라우트, 서비스, APP
        $('input[name=unlimitableOnOrg]').data('content','값 입력하지 않을시 : 조직 허용량 내 무제한으로 설정');
        // 예약 라우트
        $('input[name=unlimitableOnRoute]').data('content','값 입력하지 않을시 : 라우트 허용량 내 무제한으로 설정');

        $('[data-toggle="popover"]').popover({container: "body",placement:"bottom",trigger:"hover"});
    };

    function procSearchByKeyword(e) {

        var searchKeyword = $(e.target).val().toLowerCase();
        var searchResult = [];
        var newIdx = 0;

        var SOURCE_LIST = (ACTIVE_TAB == 'org') ? ORG_SOURCE_LIST : SPACE_SOURCE_LIST;

        for (var i=0; i < SOURCE_LIST.length; i++ ){

            if (SOURCE_LIST[i].entity.name.toLowerCase().includes(searchKeyword)) {
                searchResult[newIdx++] = SOURCE_LIST[i];
            }
        }

        if(ACTIVE_TAB == 'org'){
            printOrgData(searchResult);
        }else{
            printSpaceData(searchResult);
        }
    }

    // 이름 중복 체크
    function procNameUseCheck(e){

        var $target     = $(e.target);
        var $formTarget = $target.closest('.form-group');
        var $spanTarget = $formTarget.find('.form-control-feedback');
        var name        = $target.closest("input").val().trim();

        var SOURCE_LIST;

        if(ACTIVE_TAB == 'org'){
            SOURCE_LIST = ORG_SOURCE_LIST;
        }else{
            SOURCE_LIST = SPACE_SOURCE_LIST;
        }

        for (var i=0; i < SOURCE_LIST.length; i++ ){

            if(name.length == 0){
                IS_NAME_DUP = false;
                $formTarget.removeClass('has-success has-error');
                $spanTarget.removeClass('glyphicon-ok glyphicon-remove');
                break;
            }

            if(SOURCE_LIST[i].entity.name == name){
                IS_NAME_DUP = true;
                $formTarget.removeClass('has-success');
                $formTarget.addClass('has-error');
                $spanTarget.removeClass('glyphicon-ok');
                $spanTarget.addClass('glyphicon-remove');
                break;
            }else{
                IS_NAME_DUP = false;
                $formTarget.addClass('has-success');
                $formTarget.removeClass('has-error');
                $spanTarget.removeClass('glyphicon-remove');
                $spanTarget.addClass('glyphicon-ok');
            }
        }
    }

    // MB -> MB/GB , -1 -> 무제한
    function convertUnit(amount){
        var unit;
        var regex = /^[0-9]*$/g;

        if(amount == -1){
            return '무제한';
        }

        if(amount >= 1024){
            amount = amount/1024;
            unit = 'G';
        }else{
            unit = 'M';
        }

        if(!regex.test(amount)){
            amount = amount.toFixed(1); // 단위가 GB일시 소수점 1자리까지(반올림)
        }
        return amount+unit;
    }

    function convertViewToData(str){
        if(str.length == 0){ // 등록 수정 미입력시 -1 (무제한)
            return '-1';
        }else{
            return str;
        }
    };

    function convertDataToView(str){
        if(typeof(str) === 'boolean' && str == true){ // 무료/유료
            return '무료';
        }else if(typeof(str) === 'boolean' && str == false){
            return '유료';
        }else if(str == -1){ // 화면 출력시 -1 '무제한' 출력
            return '무제한'
        }else if(str.length == 0){
            return '';
        }else{
            return str;
        }
    };

    function convertDataToView2(str){
        if(str == -1){ // 화면 출력시 -1 '' 출력
            return ''
        }else{
            return str;
        }
    };

    // 수정 or 분리 필요
    function convertUnlimitStr(str){
        if(str == -1) {      // 화면 출력시 -1 '무제한' 출력
            return '무제한';
        }else if(str.length == 0){ // 등록 수정 미입력시 -1 (무제한)
            return '-1';
        }else{
            return str;
        }
    };


    function getOrgQuotaDefinitionList() {
        procCallAjax("/v2/orgs/quota-definitions"+"?key="+key, "GET", null, procCallbackGetOrgQuotaDefinitionList, $('#orgTabLoadingBar') );
    };

    function getSpaceQuotaDefinitionList() {
        procCallAjax("/v2/spaces/quota-definitions"+"?key="+key, "GET", null, procCallbackGetSpaceQuotaDefinitionList, $('#spaceTabLoadingBar') );
    };

    var procCallbackGetOrgQuotaDefinitionList = function(data){

        ORG_SOURCE_LIST = data.resources;
        printOrgData(ORG_SOURCE_LIST);
    };

    var procCallbackGetSpaceQuotaDefinitionList = function(data){

        SPACE_SOURCE_LIST = data.resources;
        printSpaceData(SPACE_SOURCE_LIST);
    };

    // 조직 허용량 상세
    function getOrgQuotaDefinition(quotaId) {
        $('#form')[0].reset();
        $('#quotaDefinitionFormModal .modal-title div').text("조직 할당량 상세");
        $('#quotaDefinitionFormModal').modal('toggle');
        procCallAjax("/v2/orgs/quota-definitions/"+quotaId+"?key="+key, "GET", null, procCallbackGetQuotaDefinition, $('#modalLoadingBar'));
    }

    // 공간 허용량 정의 상세
    function getSpaceQuotaDefinition(quotaId) {
        $('#form')[0].reset();
        $('#quotaDefinitionFormModal .modal-title div').text("공간 할당량 상세");
        $('#quotaDefinitionFormModal').modal('toggle');
        procCallAjax("/v2/spaces/quota-definitions/"+quotaId+"?key="+key, "GET", null, procCallbackGetQuotaDefinition, $('#modalLoadingBar'));
    }

    var procCallbackGetQuotaDefinition = function(data){

        var entity = data.entity;

        if (entity) {

            var instanceMemoryLimit = entity.instance_memory_limit;
            var appInstanceLimit    = entity.app_instance_limit;
            var routePorts          = entity.total_reserved_route_ports;
            var serviceCnt          = entity.total_services;
            var routeCnt            = entity.total_routes;
            var organizationId      = entity.organization_guid;

            $('#name').val(entity.name);
            $('#memorySize').val(entity.memory_limit);
            $('#instanceMemorySize').val(convertDataToView2(instanceMemoryLimit));
            $('#routeCnt').val(convertDataToView2(routeCnt));
            $('#serviceCnt').val(convertDataToView2(serviceCnt));
            $('#appsCnt').val(convertDataToView2(appInstanceLimit));

            if(entity.non_basic_services_allowed){
                $('input:radio[name=optionsRadios]:radio[value=true]').prop('checked','true');
            }else{
                $('input:radio[name=optionsRadios]:radio[value=false]').prop('checked','true');
            }

            $('#reservedRouteCnt').val(convertDataToView2(routePorts));
            $("#quotaId").val(data.metadata.guid);
            $('#organization').val(organizationId).prop('selected', true);

            //$('#quotaDefinitionFormModal').modal('toggle');
        }
    }

    // 허용량 정의 생성
    function createQuotaDefinition() {

        var apiUrl;
        var checkClassStr;

        var param = {
            name                    : $('#name').val(),
            memoryLimit             : $('#memorySize').val(),
            instanceMemoryLimit     : convertViewToData($('#instanceMemorySize').val()),
            totalRoutes             : convertViewToData($('#routeCnt').val()),
            totalServices           : convertViewToData($('#serviceCnt').val()),
            appInstanceLimit        : convertViewToData($('#appsCnt').val()),
            totalReservedRoutePorts : convertViewToData($('#reservedRouteCnt').val()),
            nonBasicServicesAllowed : $(':input:radio[name=optionsRadios]:checked').val()
        };

        if(ACTIVE_TAB == 'org'){
            apiUrl = "/v2/orgs/quota-definitions";
            checkClassStr = 'toCheckStringOrg';
        }else{
            apiUrl = "/v2/spaces/quota-definitions";
            param.orginazationGuid = $('#organization option:selected').val();
            checkClassStr = 'toCheckStringSpace';
        }

        if (!procCheckValidStringSpaceClass(checkClassStr)){
            return false;
        };

        procCallAjax(apiUrl+"?key="+key, "POST", JSON.stringify(param), init, $('#modalLoadingBar'));
    }

    // 조직/공간 할당량 정의 수정
    function updateQuotaDefinition() {

        var quotaId = $('#quotaId').val();
        var apiUrl;
        var checkClassStr;

        var param = {
            name                    : $('#name').val(),
            memoryLimit             : $('#memorySize').val(),
            instanceMemoryLimit     : convertViewToData($('#instanceMemorySize').val()),
            totalRoutes             : convertViewToData($('#routeCnt').val()),
            totalServices           : convertViewToData($('#serviceCnt').val()),
            appInstanceLimit        : convertViewToData($('#appsCnt').val()),
            totalReservedRoutePorts : convertViewToData($('#reservedRouteCnt').val()),
            nonBasicServicesAllowed : $(':input:radio[name=optionsRadios]:checked').val()
        };

        if(ACTIVE_TAB == 'org'){
            apiUrl = "/v2/orgs/quota-definitions/"+quotaId;
            checkClassStr = 'toCheckStringOrg';
        }else{
            apiUrl = "/v2/spaces/quota-definitions/"+quotaId;
            param.orginazationGuid = $('#organization option:selected').val();
            checkClassStr = 'checkClassStrSpace';
        }

        if (!procCheckValidStringSpaceClass(checkClassStr)){
            return false;
        };

        procCallAjax(apiUrl+"?key="+key, "PUT", JSON.stringify(param), init, null);
    }


    // 조직/공간 할당량 정의 삭제 (confirm layer)
    function deleteQuotaDefinitionModal() {

        var title = (ACTIVE_TAB == 'org') ? "조직 할당량 정의 삭제" : "공간 할당량 정의 삭제" ;

        $("#popupTitle").html(title);
        $("#popupMessage").html($("#name").val()+" "+/*[[#{delete.confirm.message('할당량')}]]*/ "");
        $("#popupButtonText").text("삭제");
        $("#popupButtonText").addClass('pull-left');
        $('#popupButtonText').attr('onclick', "deleteQuotaDefinition();");
        $("#popupButtonText").show();

        $('#quotaDefinitionsConfirmModal').modal('toggle');
    }

    // 조직/공간 할당량 정의 삭제 ( process )
    function deleteQuotaDefinition() {

        var quotaId = $('#quotaId').val();

        var apiUrl;

        if(ACTIVE_TAB == 'org'){
            apiUrl = "/v2/orgs/quota-definitions/"+quotaId;
        }else{
            apiUrl = "/v2/spaces/quota-definitions/"+quotaId;
        }

        //procCallAjax(apiUrl, "DELETE", null, init, null);
        procCallAjaxForSyncDelete(apiUrl+"?key="+key, "DELETE", null, init, null);
    }

    // 조직 할당량 정의 리스트 출력
    function printOrgData(dataList) {

        var objTable = $('#orgQuotaDefinitionList');

        objTable.html('');

        $.each(dataList, function (index, data) {

            objTable.append(" <tr style='cursor:pointer;'" +
                    " onclick='javascript:getOrgQuotaDefinition(\""+data.metadata.guid+"\");'>" +
                    "<td>" + data.entity.name + "</td>" +
                    "<td>" + convertUnit(data.entity.memory_limit) + "</td>" +
                    "<td>" + convertUnit(data.entity.instance_memory_limit) + "</td>" +
                    "<td>" + convertDataToView(data.entity.total_routes) + "</td>" +
                    "<td>" + convertDataToView(data.entity.total_services) + "</td>" +
                    "<td>" + convertDataToView(data.entity.non_basic_services_allowed) + "</td>" +
                    "<td>" + convertDataToView(data.entity.total_reserved_route_ports)  + "</td>"
            );
        });

        if(dataList.length == 0){
            objTable.append('<tr><td colspan="7">'+/*[[#{common.info.empty.data}]]*/ ""+'</td></tr>');
        }
    };

    // 공간 할당량 정의 리스트 출력
    function printSpaceData(dataList) {

        var objTable = $('#spaceQuotaDefinitionList');

        objTable.html('');

        $.each(dataList, function (index, data) {

            objTable.append(" <tr style='cursor:pointer;'" +
                    " onclick='javascript:getSpaceQuotaDefinition(\""+data.metadata.guid+"\");'>" +
                    "<td>" + data.entity.name + "</td>" +
                    "<td>" + convertUnit(data.entity.memory_limit) + "</td>" +
                    "<td>" + convertUnit(data.entity.instance_memory_limit) + "</td>" +
                    "<td>" + convertDataToView(data.entity.total_routes) + "</td>" +
                    "<td>" + convertDataToView(data.entity.total_services) + "</td>" +
                    "<td>" + convertDataToView(data.entity.non_basic_services_allowed) + "</td>" +
                    "<td>" + convertDataToView(data.entity.total_reserved_route_ports)  + "</td>" +
                    "<td>" + ORG_LIST_MAP.get(data.entity.organization_guid) + "</td>"
            );
        });

        if(dataList.length == 0){
            objTable.append('<tr><td colspan="8">'+/*[[#{common.info.empty.data}]]*/ ""+'</td></tr>');
        }
    };

    // 조직 정보 조회(공간 할당량정의시 참조 정보)
    function getOrgList() {
        key = $("#apiUrls").val();
        getInitMarketPlaceURL();
        procCallAjax("/v2/orgs"+"?key="+key, "GET", null, procCallbackGetOrgList, null);

    };

    var procCallbackGetOrgList = function(data) {
        var objTable = $('#organization');
        objTable.html('');

        $.each(data.resources, function (index, data) {
            // 조직 리스트 셀렉트 박스 출력
            objTable.append("<option value='" + data.metadata.guid + "'>" + data.entity.name + "</option>");
            // 조직 정보 Map
            ORG_LIST_MAP.set(data.metadata.guid, data.entity.name);
        });

        init();
    }


    //
    // var procCallAjaxForSyncDelete = function(reqUrl, reqMethod, param, callback, $targetLoadingBarElement) {
    //     var reqData = "";
    //
    //     if (param != null) {
    //         reqData = param;
    //     }
    //     $.ajax({
    //         url: reqUrl,
    //         method: reqMethod,
    //         data: reqData,
    //         dataType: 'json',
    //         //async: false,
    //         contentType: "application/json",
    //         beforeSend: function(){
    //             if($targetLoadingBarElement !== null && $targetLoadingBarElement !== undefined) {
    //                 $targetLoadingBarElement.removeClass("hide");
    //             }
    //         },
    //         success: function(data) {
    //
    //         },
    //         error: function(xhr, status, error) {
    //
    //         },
    //         complete : function(data) {
    //
    //             callback();
    //
    //             if($targetLoadingBarElement !== null && $targetLoadingBarElement !== undefined){
    //                 $targetLoadingBarElement.addClass('hide');
    //             }
    //             notifyAlert('success',"",'삭제 완료 되었습니다.');
    //         }
    //     });
    // };


    /*]]>*/
</script>
</body>
</html>
