<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head>

</head>
<body>
<div class="wrapper">
    <header></header>
    <div layout:fragment="content">
        <section class="content-header">
            <h3>
                사용자 관리
            </h3>
        </section>
        <section class="content">

            <div class="box" id="userInfoViewArea">
                <div id="serviceModalLoadingBar" class="overlay"><i class="fa fa-refresh fa-spin"></i></div>

                <div class="box-header">
                    <select class="form-control toCheckString" id="access" style="width:150px; margin-left: 255px;margin-top: -5px;" onchange="selectChange()">
                        <option value="All" selected="true">전체보기</option>
                        <option value="t">승인</option>
                        <option value="f">비승인</option>
                    </select>
                    <div class="box-tools" style="margin-right: 100px;">
                        <div class="input-group input-group-sm" style="width: 450px; height: 34px" >
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search"
                                   id="searchKeyword" onkeypress="procCheckSearchFormKeyEvent(event);" style="height: 34px;"/>
                            <div class="input-group-btn">
                                <button type="submit" id="btnSearch" class="btn btn-default"
                                        onclick="procButtonClick()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-tools">
                        <button type="button" class="btn btn-block btn-primary btn-sm" id="addUserBtn" name="addUserBtn" onclick="btnAddUser()">
                            사용자 등록
                        </button>
                    </div>
                    <div style="height: 30px">
                    </div>
                </div>
                <div class="box-body" id="userInfoMessageArea"></div>

                <table id="userInfoTableArea" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="text-align: center;"> 사용자 계정</th>
                        <th style="text-align: center;"> 이름</th>
                        <th style="text-align: center;"> 전화번호</th>
                        <th style="text-align: center;"> 관리자</th>
                        <th style="text-align: center;"> 상태</th>
                        <th style="text-align: center;"> 관리</th>
                    </tr>
                    </thead>
                    <tbody id="userInfoTable" style="text-align: center;">
                    </tbody>
                </table>
                <!-- /.box-body -->
            </div>
            <input type="hidden" id="currentPageNo" name="currentPageNo" value=""/>
            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="modaltitle">Default Modal</h4>
                        </div>
                        <div class="modal-body" id="modalbody">
                            <p>One fine body…</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="modalButtonText" data-dismiss="modal">확인
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </section>

        <!-- Modal Layer-->
        <div class="modal fade" id="addUserModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="segmentsOrgModalTitle">사용자 등록</h4>
                    </div>

                    <div class="modal-body">

                        <div class="box" style="margin-bottom: 10px; border-top: 0px; box-shadow: 0 0px 0px">
                            <div id="layerModalLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i>
                            </div>
                            <form id="securityGroupForm" class="form-horizontal">
                                <div class="box-body">

                                    <div class="form-group required">
                                        <label for="addUserId" class="col-sm-3 control-label">아이디</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="addUserId"/>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="addUserPassword" class="col-sm-3 control-label">비밀번호</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="addUserPassword" autocomplete="new-password"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="addUserActive" class="col-sm-3 control-label">Active 설정 (승인 여부)</label>
                                        <div class="col-sm-9" style="margin-top : 5px">
                                            <input type="checkbox" checked="" id="addUserActive"/>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="clientSaveBtn" name="modalSaveBtn" class="btn btn-sm btn-primary pull-right" onClick="addUserInsert();" data-dismiss="modal">등록</button>
                        <button type="button" id="clientCloseBtn" class="btn btn-sm btn-default pull-left" data-dismiss="modal">취소</button>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>

    <footer></footer>
</div>
<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">



    /*<![CDATA[*/
    var V2_URL = "/v2";
    var REST_URL = V2_URL + "/usermgnts";
    var REST_URL_ACCESS = V2_URL + "/usermgnts/access/";
    var LOADED_LIST_COUNT = 0;
    var BOOLEN_SEARCH = false;
    var REQUEST_TYPE_RESET_PASSWORD = "RESET_PASSWORD";
    var REQUEST_TYPE_UPDATE_OPERATING_AUTHORITY = "UPDATE_OPERATING_AUTHORITY";
    var REQUEST_TYPE_UPDATE_LOGIN_ACTIVE = "UPDATE_LOGIN_ACTIVE";
    var REQUEST_TYPE_DELETE_USER_ACCOUNT = "DELETE_USER_ACCOUNT";

    var usersObj = new Object();


    // GET LIST
    var getUserInfoList = function (reqPageNo) {
        key = $("#apiUrls").val();

        $('#buttonGetMoreList').hide();
        var filter = $("#access").val();
        var param = {
            searchKeyword: document.getElementById('searchKeyword').value.toLowerCase(),
            key: /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USER_MANAGEMENT_PAGE_SIZE}]]*/ "",
            pageNo: reqPageNo
        };

        procCallAjax(REST_URL+"/" +filter +"/user"+"?key="+key, "GET", param, procCallbackGetUserInfoList, $('#serviceModalLoadingBar'));

    };

    var procButtonClick = function () {
        key = $("#apiUrls").val();
        BOOLEN_SEARCH = true;
        getUserInfoList(/*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USER_MANAGEMENT_PAGE_NO }]]*/ "",key);
    }

    var procCheckSearchFormKeyEvent = function (e) {
        key = $("#apiUrls").val();
        if (e.keyCode == 13 && e.srcElement.type != 'textarea') {
            BOOLEN_SEARCH = true;
            getUserInfoList(/*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USER_MANAGEMENT_PAGE_NO }]]*/ "",key);
        }
    };

    var selectChange = function(){
        key = $("#apiUrls").val();
        $('#buttonGetMoreList').hide();
        var filter = $("#access").val();
        var param = {
            searchKeyword: document.getElementById('searchKeyword').value.toLowerCase(),
            pageSize: /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USER_MANAGEMENT_PAGE_SIZE}]]*/ "",
            pageNo: /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USER_MANAGEMENT_PAGE_NO }]]*/ ""
        };
        procCallAjax(REST_URL+"/"+filter+"/user"+"?key="+key , "GET", param, procCallbackGetUserInfoList, $('#serviceModalLoadingBar'));
    }


    // GET LIST CALLBACK
    var procCallbackGetUserInfoList = function (data, reqParam) {
        if (RESULT_STATUS_FAIL == data.RESULT) return false;
        var objTableArea = $('#userInfoTableArea');
        var objTable = $('#userInfoTable');
        var objMessageArea = $('#userInfoMessageArea');
        var listLength = data.list.length;
        var htmlString = [];

        var reqPageNo = reqParam.pageNo;

        document.getElementById('currentPageNo').value = reqPageNo;

        if (reqPageNo == /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USER_MANAGEMENT_PAGE_NO}]]*/ "") {
            LOADED_LIST_COUNT = 0;
            objTable.html('');
        }
        objMessageArea.html('');

        if (listLength < 1) {
            objTableArea.hide();
            objTable.hide();
            objMessageArea.append(/*[[#{common.info.empty.data}]]*/"");
            objMessageArea.show();

        } else {

            var resultList = data.list;
            var totalListCount = resultList[0].totalCount;
            var boldClass = '';
            var menuText = '';
            var activeText = '';

            usersObj = new Object();

            for (var i = 0; i < listLength; i++) {
                boldClass = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USE_YN_Y}]]*/ "" == resultList[i].adminYn ? 'fwb' : '';
                menuText = '운영권한 부여';
                activeText = '가입 승인';
                var telephone = resultList[i].tellPhone == null ? '-' : resultList[i].tellPhone;
                if (resultList[i].adminYn == /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USE_YN_Y}]]*/ "") menuText = '운영권한 삭제';
                if (resultList[i].active == /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USE_YN_Y}]]*/ "") activeText = '가입 해제';
                if (resultList[i].active == 'Y') {
                    htmlString.push('<tr id="Managementtable' + i + '" name=" ' + resultList[i].userId + '">'
                        + '<td class="col-md-4 ' + boldClass + '">' + resultList[i].userId + '</td>'
                        + '<td class="col-md-2 ' + boldClass + '">' + resultList[i].userName + '</td>'
                        + '<td class="col-md-2 ' + boldClass + '">' + telephone + '</td>'
                        + '<td class="col-md-1 tac ' + boldClass + '">' + resultList[i].adminYn + '</td>'
                        + '<td class="col-md-1 tac ' + boldClass + '">' + '<span class="label label-primary">' + '승인' + '</span>' + '</td>'
                        + '<td class="col-md-2 tac ' + boldClass + '">'
                        + '<div class="dropdown">'
                        + '<label class="fa fa-gears" id="dropdownMenu' + i + '" ' + 'data-toggle="dropdown" aria-expanded="false" aria-hidden="true" style="cursor: pointer;"></label>'
                        + '<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu' + i + '">'
                        + '<li role="presentation"><a role="menuitem" href="javascript:void(0);"  onclick="procUserManagementPopup(\'' + REQUEST_TYPE_RESET_PASSWORD + '\', \'' + resultList[i].userId +'\', \'' + resultList[i].userGuid + '\')"> 비밀번호 초기화 </a></li>'
                        + '<li role="presentation"><a role="menuitem" href="javascript:void(0);"  onclick="procUserManagementPopup(\'' + REQUEST_TYPE_UPDATE_OPERATING_AUTHORITY + '\', \'' + resultList[i].userId +'\', \'' + resultList[i].userGuid + '\')"> ' + menuText + ' </a></li>'
                        + '<li role="presentation"><a role="menuitem" href="javascript:void(0);"  onclick="procUserManagementPopup(\'' + REQUEST_TYPE_UPDATE_LOGIN_ACTIVE + '\', \'' + resultList[i].userId +'\', \'' + resultList[i].userGuid + '\')"> ' + activeText + ' </a></li>'
                        + '<li role="presentation"><a role="menuitem" href="javascript:void(0);"  onclick="procUserManagementPopup(\'' + REQUEST_TYPE_DELETE_USER_ACCOUNT + '\', \'' + resultList[i].userId + '\', \'' + resultList[i].userGuid + '\')"> 계정 삭제 </a></li>'
                        + '</ul></div>');
                } else {
                    htmlString.push('<tr id="Managementtable' + i + '" name=" ' + resultList[i].userId + '">'
                        + '<td class="col-md-4 ' + boldClass + '">' + resultList[i].userId + '</td>'
                        + '<td class="col-md-2 ' + boldClass + '">' + resultList[i].userName + '</td>'
                        + '<td class="col-md-2 ' + boldClass + '">' + telephone + '</td>'
                        + '<td class="col-md-1 tac ' + boldClass + '">' + resultList[i].adminYn + '</td>'
                        + '<td class="col-md-1 tac ' + boldClass + '">' + '<span class="label label-success" style="size: 100 ">' + '비승인' + '</span>' + '</td>'
                        + '<td class="col-md-2 tac ' + boldClass + '">'
                        + '<div class="dropdown">'
                        + '<label class="fa fa-gears" id="dropdownMenu' + i + '" ' + 'data-toggle="dropdown" aria-expanded="false" aria-hidden="true" style="cursor: pointer;"></label>'
                        + '<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu' + i + '">'
                        + '<li role="presentation"><a role="menuitem" href="javascript:void(0);"  onclick="procUserManagementPopup(\'' + REQUEST_TYPE_RESET_PASSWORD + '\', \'' + resultList[i].userId +'\', \'' + resultList[i].userGuid + '\')"> 비밀번호 초기화 </a></li>'
                        + '<li role="presentation"><a role="menuitem" href="javascript:void(0);"  onclick="procUserManagementPopup(\'' + REQUEST_TYPE_UPDATE_OPERATING_AUTHORITY + '\', \'' + resultList[i].userId +'\', \'' + resultList[i].userGuid + '\')"> ' + menuText + ' </a></li>'
                        + '<li role="presentation"><a role="menuitem" href="javascript:void(0);"  onclick="procUserManagementPopup(\'' + REQUEST_TYPE_UPDATE_LOGIN_ACTIVE + '\', \'' + resultList[i].userId +'\', \'' + resultList[i].userGuid + '\')"> ' + activeText + ' </a></li>'
                        + '<li role="presentation"><a role="menuitem" href="javascript:void(0);"  onclick="procUserManagementPopup(\'' + REQUEST_TYPE_DELETE_USER_ACCOUNT + '\', \'' + resultList[i].userId + '\', \'' + resultList[i].userGuid + '\')"> 계정 삭제 </a></li>'
                        + '</ul></div>');
                }

                htmlString.push('</td></tr>');

                usersObj[resultList[i].userId] = resultList[i].userName;
            }
            LOADED_LIST_COUNT += listLength;

            if (totalListCount > LOADED_LIST_COUNT) {
                $('#buttonGetMoreList').animate({
                    opacity: "show"
                });
            }
            objMessageArea.hide();
            objTable.append(htmlString);
            objTable.show();
            objTableArea.show();
        }

        $('#userInfoViewArea').show();
    };


    // GET MORE LIST
    var procGetMoreList = function () {
        key = $("#apiUrls").val();
        getUserInfoList(parseInt(document.getElementById('currentPageNo').value) + 1, key);
    };


    // USER MANAGEMENT POPUP
    var procUserManagementPopup = function (reqType, reqUserId,reqUserGuid) {

        var reqMessage = '';
        var reqFunction = '';
        var reqButton = '';
        if (REQUEST_TYPE_RESET_PASSWORD == reqType) {
            if (!procCheckEmailValidation(reqUserId)) {
                return false;
            }
            reqMessage = /*[[#{common.info.popup.reset.password.message}]]*/ "";
            reqFunction = 'resetPassword("' + reqUserId + '");';
            reqButton = '전송';
        }
        else if (REQUEST_TYPE_UPDATE_OPERATING_AUTHORITY == reqType) {
            reqMessage = /*[[#{common.info.popup.update.operating.authority.message}]]*/ "";
            reqFunction = 'updateOperatingAuthority("' + reqUserId + '");';
            reqButton = '실행';
        }
        else if (REQUEST_TYPE_DELETE_USER_ACCOUNT == reqType) {
            reqMessage = /*[[#{common.info.popup.delete.user.account.message}]]*/ "";
            reqFunction = 'deleteUserAccount("' + reqUserGuid + '");';
            reqButton = '삭제';
        }
        else if (REQUEST_TYPE_UPDATE_LOGIN_ACTIVE == reqType){
            reqMessage = "사용자포탈 로그인 접속 가능 상태를 수정하시겠습니까";
            reqFunction = 'updateUserActive("' + reqUserId+'");';
            reqButton = '수정';
        }
        modalInit('사용자 관리', reqMessage, reqFunction, reqButton);
    };

    var modalInit = function (reqTitle, reqMessage, procFunction, reqButtonText) {
        if (reqTitle == null || reqTitle.length < 1) return false;
        if (reqMessage == null || reqMessage.length < 1) return false;
        if (procFunction == null) return false;
        var objButtonText = $('#modalButtonText');
        var buttonText = null == reqButtonText || '' == reqButtonText ? reqMessage.split(' ')[0] : reqButtonText;

        $('#modaltitle').html(reqTitle);
        $('#modalbody').html(reqMessage);

        objButtonText.html(buttonText);
        objButtonText.attr('onclick', procFunction);
        $('#modal-default').modal();
    };


    // CLOSE POPUP
    var procClosePopup = function () {
        $('div.modal').modal();
    };

    // RESET PASSWORD
    var resetPassword = function (reqUserId) {
        alert(reqUserId)

        var regex = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;
        if (regex.test(reqUserId) == false) {
            procAlert("danger", /*[[#{common.email.validation.error.message}]]*/ "");
        } else {
            var param = {userid: reqUserId};
            procCallAjax(REST_URL + "/password/email"+"?key="+key, "POST", JSON.stringify(param), procCallbackResetPassword, $('#serviceModalLoadingBar'));
        }


    };


    // RESET PASSWORD CALLBACK
    var procCallbackResetPassword = function (data) {
        if (RESULT_STATUS_FAIL == data.RESULT) return false;

        procAlert("success", /*[[#{common.info.result.success}]]*/ "");
    };


    // UPDATE OPERATING AUTHORITY
    var updateOperatingAuthority = function (reqUserId) {
        var param = {userGuid: reqUserId};
        procCallAjax(REST_URL + "/" + reqUserId + "/authority"+"?key="+key, 'PUT', JSON.stringify(param), procCallbackUpdateOperatingAuthority, $('#serviceModalLoadingBar'));
    };


    // UPDATE OPERATING AUTHORITY CALLBACK
    var procCallbackUpdateOperatingAuthority = function (data) {
        if (RESULT_STATUS_FAIL == data.RESULT) return false;

        procInitPage();
        procAlert("success", /*[[#{common.info.result.success}]]*/ "");
    };


    // DELETE USER ACCOUNT
    var deleteUserAccount = function (reqUserGuid) {
        var param = {guid: reqUserGuid};
        procCallAjax(REST_URL + "/" + reqUserGuid +"?key="+key, 'DELETE', JSON.stringify(param), procCallbackDeleteUserAccount, $('#serviceModalLoadingBar'));
    };

    // UPDATE USER ACTIVE
    var updateUserActive = function(reqUserId){
        var param = {userGuid: reqUserId};
        procCallAjax(REST_URL + "/" + reqUserId+"/active" +"?key="+key, 'PUT', JSON.stringify(param), procCallbackDeleteUserAccount, $('#serviceModalLoadingBar'));
    };

    // DELETE USER ACCOUNT CALLBACK
    var procCallbackDeleteUserAccount = function (data) {
        if (RESULT_STATUS_FAIL == data.RESULT) {

        }
        procInitPage();
        procAlert("success", /*[[#{common.info.result.success}]]*/ "");
    };


    // CHECK EMAIL VALIDATION
    var procCheckEmailValidation = function (reqUserId) {
        if (!procCheckValidNull(reqUserId)) return false;

        var regExpPattern = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
        if (!regExpPattern.test(reqUserId)) {
            //procAlert("danger", /*[[#{common.email.validation.error.message}]]*/ "");
            notifyAlert('danger', "", /*[[#{common.email.validation.error.message}]]*/ "");
            return false;
        }
        return true;
    };
    // INIT PAGE
    var procInitPage = function () {
        procAlert("info", WELCOME_MESSAGE);
        key = $("#apiUrls").val();

        //key 값 설정
        if($.cookie("api_key") != null){
            key = $.cookie("api_key");
            $("#apiUrls").val(key);
        }else{
            key = $("#apiUrls").val();
        }
        // alert("INIT PAGE_index_"+key);

        getInitMarketPlaceURL();
        $('#userInfoViewArea').hide();
        getUserInfoList(/*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USER_MANAGEMENT_PAGE_NO}]]*/ "",key);
    };

    function btnAddUser() {
        $("#addUserId").val("");
        $("#addUserPassword").val("");
        showLayerPopAddUser();
    };

    function showLayerPopAddUser() {
        $("#addUserModal").modal("show");
    };

    function addUserInsert() {
        key = $("#apiUrls").val();

        if(usersObj[$("#addUserId").val()] != undefined) {
            notifyAlert("warning", "", $("#addUserId").val()+" 은(는) 이미 사용중인 ID 입니다.");
            return false;
        }

        var active2 = "N";
        if($("#addUserActive").is(":checked")) {
            active2 = "Y";
        }

        var param = {
            userId: $("#addUserId").val(),
            password: $("#addUserPassword").val(),
            active: $("#addUserActive").is(":checked"),
            active2: active2,
            status: 1,
            adminYn: "N"
        };

        procCallAjax(REST_URL + "/user"+"?key="+key, 'POST', JSON.stringify(param), procCallbackAddUserInsert, $('#layerModalLoadingBar'));
    };

    var procCallbackAddUserInsert = function(data) {
        if(data.result) {
            procInitPage();
        }
    };

    // ON LOAD
    $(document.body).ready(function () {

        procInitPage();
    });


    $( "#apiUrls" ).change(function() {
        key = $("#apiUrls").val();
        $.cookie("api_key",key);
        getUserInfoList(/*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).USER_MANAGEMENT_PAGE_NO}]]*/ "",key);
    });

    /*]]>*/
</script>
</body>
</html>