<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>

    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper" >

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Segments 할당 관리
            </h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"></h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 450px;">
                                    <input type="text" name="table_create" class="form-control pull-right" placeholder="Segment Name" id="createSegmentName" style="margin-right: 10px;"/>
                                    <div class="input-group-btn" >
                                        <button type="submit"  class="btn btn-primary btn-sm" onclick="btnCreateIsolationSegments()">Segment 등록</button>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 10px">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12" style="width: 49%">
                                <table class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Del</th>
                                        </tr>
                                    </thead>
                                    <tbody id="isolationList" name="dataList">
                                    </tbody>
                                </table>
                                <div id="noIsolationMessage" class='box-header with-border' style="display: none">생성된 Isolation Segments가 없습니다.</div>
                            </div>
                            <div class="box-body table-responsive no-padding" style="width: 49%">
                                <table class="table table-bordered table-striped dataTable">
                                    <thead>
                                    <tr>
                                        <th>Org Name</th>
                                    </tr>
                                    </thead>
                                    <tbody id="selectOrgList" name="dataList">
                                    </tbody>
                                </table>
                                <div id="noOrgMessage" class='box-header with-border' style="display: none">연결된 조직이 없습니다.</div>
                            </div>
                            <!-- /.box-header -->

                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                </div>
            </div>
        </section>

        <!-- /.Content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">

    var ISOLATION_SEGMENT_LIST;
    var SELECT_ORG_LIST;

    $(document).ready(function () {
        init();
    });

    function init() {
        getIsolationSegments();
    };

    function getIsolationSegments() {
        procCallAjax("/v3/isolationSegments", "GET", null, procCallbackGetIsolationSegments, $('#isolationTabLoadingBar') );
    };

    var procCallbackGetIsolationSegments = function(data){
        console.log(data);
        ISOLATION_SEGMENT_LIST = data.resources;

        var objTable = $('#isolationList');

        objTable.html('');

        $.each(ISOLATION_SEGMENT_LIST, function (index, data) {
            objTable.append('' +
                    '<tr id="isolation_'+(index+1)+'" onclick="getIsolationSegmentsOrgs(\''+data.guid+'\', \'isolation_'+(index+1)+'\');" style="cursor:pointer;">' +
                    '   <td>' + data.name  + '</td>' +
                    '   <td> <a style="color: black; cursor:pointer;" href="#none" onclick="btnDeleteIsolationSegments(\''+data.guid+'\');"> ㅇ </a></td>' +
                    '</tr>'
            );
        });

        getIsolationSegmentsOrgs(ISOLATION_SEGMENT_LIST[0].guid, 'isolation_1');
    };

    function getIsolationSegmentsOrgs (isolationSegmentId, selectId) {
        $("[id^='isolation_']").removeClass("bg-aqua disabled color-palette");
        $("#"+selectId).addClass("bg-aqua disabled color-palette");

        procCallAjax("/v3/isolationSegments/"+isolationSegmentId+"/organizations", "GET", null, procCallbackGetIsolationSegmentsOrgs, $('#isolationTabLoadingBar') );
    };

    var procCallbackGetIsolationSegmentsOrgs = function(data){
        console.log(data);
        SELECT_ORG_LIST = data.resources;

        $("#noOrgMessage").hide();

        var objTable = $('#selectOrgList');

        objTable.html('');

        $.each(SELECT_ORG_LIST, function (index, data) {
            objTable.append('' +
                '<tr>' +
                '<td>' + data.name  + '-'+ data.guid + '</td>' +
                '</tr>'
            );
        });

        if(SELECT_ORG_LIST.length == 0) {
            $("#noOrgMessage").show();
        }
    };

    function btnCreateIsolationSegments() {
        //TODO validation

        var createSegmentName = $("#createSegmentName").val();

        procCallAjax("/v3/isolationSegments/"+createSegmentName, "POST", null, procCallbackCreateIsolationSegments, null);
    };

    var procCallbackCreateIsolationSegments = function(data){
        console.log(data);
        if(data.guid != null) {
            console.log("success");
            procAlert("success", 'Segment가 등록 되었습니다.');
            init();
        } else {
            console.log("fail");
        }
    };

    function btnDeleteIsolationSegments(isolationSegmentId) {
        console.log(isolationSegmentId);

        procCallAjax("/v3/isolationSegments/"+isolationSegmentId, "DELETE", null, procCallbackDeleteIsolationSegments, null);
    };

    var procCallbackDeleteIsolationSegments = function(data){
        console.log(data);
        if(data.result) {
            console.log("success");
            procAlert("success", 'Segment가 삭제 되었습니다.');
            init();
        } else {
            console.log("fail");
        }
    };

</script>
</body>
</html>
