<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>
    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper" >

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                서비스 제어
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div id="loadingBar" class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
                        <div class="box-body">
                            <table class="table table-striped text-center"> <!-- table-responsive -->
                                <thead>
                                <tr>
                                    <th width="25%">서비스</th>
                                    <th width="30%">플랜</th>
                                    <th width="15%">접근</th>
                                    <th width="30%">조직</th>
                                </tr>
                                </thead>
                                <tbody id="servicePlanList" th:remove="body">
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>

            <!-- Modal Layer-->
            <div class="modal fade" id="serviceAccessFormModal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>

                            <h4 class="modal-title">
                                <div id="titleDetail">서비스 제어</div>
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div class="box" style="margin-bottom: 0px; border-top: 0px; box-shadow: 0 0px 0px">
                                <div id="modalLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                                <form id="serviceAccessForm" class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group">
                                            <label for="servicename" class="col-sm-3 control-label">서비스 이름</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control toCheckString" id="servicename" name="servicename" disabled="disabled"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="serviceplan" class="col-sm-3 control-label">서비스 플랜</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control toCheckString" id="serviceplan" name="serviceplan" disabled="disabled"/>
                                            </div>
                                        </div>

                                        <div class="form-group" name="serviceAccessListForm">
                                            <label for="serviceAccessList" class="col-sm-3 control-label">서비스 접근</label>
                                            <div class="col-sm-9">
                                                <select class="form-control checkServiceForm" onchange="selectServiceAccess()" id="serviceAccessList" name="serviceAccessList" style="width:630px;">
                                                    <option value="none">NONE</option>
                                                    <option value="all">ALL</option>
                                                    <option value="limited">LIMITED</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group" style="display: none;"  id="serviceOrgListDiv">
                                            <label for="serviceOrgList" class="col-sm-3 control-label">서비스 조직</label>
                                            <div class="col-sm-9">
                                                <select class="form-control checkServiceForm" onchange="changeSelectOrgs()" id="serviceOrgList" name="serviceOrgList" style="width:630px;">
                                                    <option value="">추가 할 서비스 조직을 선택하세요</option>
                                                </select>
                                                <p></p>
                                            </div>
                                        </div>

                                        <div class="form-group required" style="display: none" id="serviceOrgListDivSecond">
                                            <label for="serviceOrgListText" class="col-sm-3"></label>
                                            <div class="col-sm-9">
                                                <label id="serviceOrgListText" name="serviceOrgListText"></label>
                                                <td id="ServicePlanVisibilityDeleteText"></td>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="closeBtn" class="btn btn-sm btn-default pull-left" data-dismiss="modal">취소</button>
                            <button type="button" id="enableBtn" class="btn btn-sm btn-primary pull-right" onClick="enableServiceAccess();">수정</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" id="serviceBrokerConfirmModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> &times; </span></button>
                            <h1 id="popupTitle" class="modal-title" style="font-size:25px"> TITLE </h1>
                        </div>
                        <div class="modal-body">
                            <p id="popupMessage"> MESSAGE </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="popupButtonText"> SAVE CHANGES </button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" id="popupCancelButtonText"
                                    onclick="procClosePopup('serviceBrokerConfirmModal');"> 취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Layer-->
        </section>
        <!-- /.Content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/

    var orgObj = new Object();                //Org All List

    var UNIQUE_ID;                            //Created form Service Plan Visibility GUID
    var SERVICE_PLAN_GUID;                   //Service Plan GUID
    var SELECT_SERVICE_PACK_NAME;           //Service Pack Name All List

    var SERVICE_LIST;                         //Service Pack List
    var SERVICE_ACCESS_LIST;                 //Service Access List
    var SELECT_DELETE_ORG_GUID;

    var DETAIL_SELECT_SERVICE_NAME;
    var DETAIL_SELECT_PPAN_NAME;
    var DETAIL_SELECT_PLAN_TD_ID;
    var DETAIL_SELECT_ORGS;


    var init = function(){
        getServicePlanList();
        $('#serviceAccessFormModal').modal('hide');
    }

    $(document).ready(function () {
        init();

        $('#register').click(function(){
            $('#titleDetail').hide();
            $('#disableBtn').hide();
            $('#enableBtn').hide();
            $('#closeBtn').show();

            $("#serviceOrgListText").val("");
            $("#serviceOrgList").val("");
        });

    });


    // 조직 전체 목록 리스트:[동기화]
    function getOrgs() {
        procCallAjaxAsyncFalse("/v2/orgs", "GET", null, procCallbackGetOrgs, null);
    };

    var procCallbackGetOrgs = function(data) {
        console.debug("data Org   "+data);

        $.each(data.resources, function (index, data) {
            orgObj[data.metadata.guid] = data.entity.name;
        });
        console.debug(orgObj);
    }


    // 서비스 제어전체 목록 리스트:[동기화]
    function getServicePlanList(){
        procCallAjaxAsyncFalse("/v2/servicepacks", "GET", null, procCallbackGetServiceList, $('#loadingBar') );
    };


    var procCallbackGetServiceList = function(data){
        getOrgs();

        SERVICE_LIST= data;
        printData(SERVICE_LIST);
    }

    // 서비스제어 리스트 출력: [동기화]
    function printData(dataList) {

        console.debug(":::SERVICE_LIST DATA:::");
        console.debug(dataList);

        var entity = dataList.list;
        console.log(entity);

        $("#servicePlanList").html("");
        procCallAjaxAsyncFalse("/v2/catalogs/serviceplan-admin", "GET", null, procCallbackGetServicePlan, $('#modalLoadingBar'));
    };

    var procCallbackGetServicePlan = function(data){
        SERVICE_ACCESS_LIST = "";
        $.each(data.RESULT, function (id, data2) {
            $.each(data2.Plan.resources, function (id, resource) {
                var orgId = '';
                var accessText = "NONE";     //false
                if(resource.entity.public) accessText= "All";
                SERVICE_ACCESS_LIST += "<tr style='cursor:pointer;' onclick='javascript:getServicePlanDetail(\""+data2.Service.entity.label+"\" ,\""+resource.entity.name+"\" ,\"service_access_"+resource.metadata.guid+"\", \"service_plan_"+resource.metadata.guid+"\")'>";
                SERVICE_ACCESS_LIST += "<td>"+data2.Service.entity.label+"</td> ";
                SERVICE_ACCESS_LIST += "<td>"+resource.entity.name+"</td> ";
                SERVICE_ACCESS_LIST += "<td id='service_access_"+resource.metadata.guid+"'>"+accessText+"</td> ";
                SERVICE_ACCESS_LIST += "<td id='service_plan_"+resource.metadata.guid+"'></td>";
                SERVICE_ACCESS_LIST += "<input type='hidden' id='hidden_org_guid_"+resource.metadata.guid+"'/>";
                SERVICE_ACCESS_LIST += "</tr> ";
            });
        });
        $("#servicePlanList").append(SERVICE_ACCESS_LIST);
        $.each(data.RESULT, function (id, data2) {
            $.each(data2.Plan.resources, function (id, resource) {
                $.each(data.Visibilities.resources, function (id, vis_resource) {
                    if(vis_resource.entity.service_plan_guid == resource.metadata.guid){
                        $("#service_plan_"+vis_resource.entity.service_plan_guid).append(orgObj[vis_resource.entity.organization_guid]+" ");
                        if($("#hidden_org_guid_"+ vis_resource.entity.service_plan_guid).val() == "") {
                            $("#hidden_org_guid_"+ vis_resource.entity.service_plan_guid).val(vis_resource.entity.organization_guid);
                        } else {
                            $("#hidden_org_guid_"+ vis_resource.entity.service_plan_guid).val($("#hidden_org_guid_"+ vis_resource.entity.service_plan_guid).val()+","+vis_resource.entity.organization_guid);
                        }
                        $("#service_access_"+vis_resource.entity.service_plan_guid).text('limited');
                    }
                });
            });
        });
    };


    var procCallbackGetServicePlanVisibilites = function(data){

        if(data.resources.length > 0) {

            $.each(data.resources, function (id, data3) {
                $("#service_plan_"+data3.entity.service_plan_guid).append("<span>"+orgObj[data3.entity.organization_guid]+"</span>");

                if($("#hidden_org_guid_"+ data3.entity.service_plan_guid).val() == "") {
                    $("#hidden_org_guid_"+ data3.entity.service_plan_guid).val(data3.entity.organization_guid);
                    $("#hidden_meta_guid_"+ data3.entity.service_plan_guid).val(data3.metadata.guid);
                } else {
                    $("#hidden_org_guid_"+ data3.entity.service_plan_guid).val($("#hidden_org_guid_"+ data3.entity.service_plan_guid).val()+","+data3.entity.organization_guid);
                    $("#hidden_meta_guid_"+ data3.entity.service_plan_guid).val($("#hidden_meta_guid_"+ data3.entity.service_plan_guid).val()+","+data3.metadata.guid);
                }

                //접근 리스트
                $("#service_access_"+data3.entity.service_plan_guid).text('limited');
            });
        }
    };

    function getServicePlanDetail(serviceName, planName, planTdId, orgs){
        DETAIL_SELECT_SERVICE_NAME = serviceName;
        DETAIL_SELECT_PPAN_NAME = planName;
        DETAIL_SELECT_PLAN_TD_ID = planTdId;
        DETAIL_SELECT_ORGS = orgs;

        //초기화
        $('#serviceOrgList').empty();
        $("#serviceOrgListText").empty();

        $('#serviceAccessForm')[0].reset();
        $('#serviceAccessFormModal').modal('show');

        SERVICE_PLAN_GUID = planTdId.replace("service_access_", "");
        ORG_GUID = orgs;

        //서비스 이름
        $("#servicename").val(serviceName);

        //서비스 플랜
        $("#serviceplan").val(planName);

        //서비스 접근
        $('#serviceAccessList option[value=limited]').attr('selected','selected');

        $('#serviceAccessList').val($("#"+planTdId).text().toLowerCase());

        //서비스 전체 조직
        if( $("#serviceAccessList").val() =="limited"){
            $("#serviceOrgListDiv").show();
            $("#serviceOrgListDivSecond").show();

            //서비스 조직
            $("#serviceOrgListText").show();

            var selectBox = '';
            var objTable = $('#serviceOrgList');

            var splitSelectOrgName = $("#"+orgs).text().substr(0, $("#"+orgs).text().length-0).split(",");
            var splitSelectOrgGuid = $("#hidden_org_guid_"+SERVICE_PLAN_GUID).val().split(",");
            var splitSelectMetaGuid = $("#hidden_meta_guid_"+SERVICE_PLAN_GUID).val().split(",");

            for(var j=0; j<splitSelectOrgName.length; j++) {
                var html = '<a href="javascript:deleteServicePlanVisibility(\''+splitSelectMetaGuid[j]+'\')">[X]&nbsp;&nbsp;&nbsp;</a>';
                $("#serviceOrgListText").append("<span>"+(splitSelectOrgName[j]+html)+"</span>");
            }

            var orgObj2 = orgObj;

            for(var i=0; i<splitSelectOrgGuid.length; i++) {
                delete orgObj2[splitSelectOrgGuid[i]];
            }

            selectBox += '<option value="">Selected Organization</option>';

            for( var key in orgObj2 ) {
                selectBox += '<option value="'+key+'">'+orgObj2[key]+'</option>';
            }
            objTable.append(selectBox);

        } else {
            $("#serviceOrgListDiv").hide();
            $("#serviceOrgListDivSecond").hide();
        }
    };

    function selectServiceAccess(){

        //limited 일 때 조직
        $("#serviceAccessList").val();

        if($("#serviceAccessList").val() == "limited"){
            $("#serviceOrgListDiv").show();
            $("#serviceOrgListDivSecond").show();

            var selectBox = '';
            var objTable = $('#serviceOrgList');

            for( var key in orgObj ) {
                selectBox += '<option value="'+key+'">'+orgObj[key]+'</option>';
                console.log(key);
            }
            objTable.append(selectBox);
        } else{
            $("#serviceOrgListDiv").hide();
            $("#serviceOrgListDivSecond").hide();
        }
    };

    // 서비스 조직 추가
    function changeSelectOrgs() {
        var uniqueId =UNIQUE_ID;
        var servicePlanGuid = SERVICE_PLAN_GUID;
        var orgGuid = $("#serviceOrgList").val();

        var param = {
            servicePlanGuid: servicePlanGuid,
            orgGuid : orgGuid
        }
        procCallAjax("/v2/serviceplanvisibilities/"+ uniqueId, "PUT", JSON.stringify(param), procCallbackChangeSelectOrgs, $('#modalLoadingBar'));
    }

    var procCallbackChangeSelectOrgs = function(data) {
        getServicePlanDetail(DETAIL_SELECT_SERVICE_NAME, DETAIL_SELECT_PPAN_NAME, DETAIL_SELECT_PLAN_TD_ID, DETAIL_SELECT_ORGS);
    };

    // 서비스 접근 허용
    function enableServiceAccess() {

        console.log(orgObj);

        var guid = SERVICE_PLAN_GUID;
        var publiclyVisible;

        if( $("#serviceAccessList").val() == "none"){
            publiclyVisible = false;
            console.log("false");
        }else if($("#serviceAccessList").val() == "all"){
            publiclyVisible = true;
            console.log("true");
        }else{
            /*limited*/
            changeSelectOrgs();
        }

        var param = {
            guid: guid,
            publiclyVisible : publiclyVisible
        }
        console.debug(param);
        procCallAjaxAsyncFalse("/v2/serviceplans/"+guid, "PUT", JSON.stringify(param), init, $('#modalLoadingBar'));
    }

    //서비스 조직 삭제
    function deleteServicePlanVisibility(splitSelectMetaGuid) {
        //초기화
        // $("#serviceOrgListText").empty();

        var guid = splitSelectMetaGuid;
        var publiclyVisible;

        SELECT_DELETE_ORG_GUID = splitSelectMetaGuid;

        if( $("#hidden_meta_guid_"+SERVICE_PLAN_GUID).val() !="") {
            publiclyVisible = true;
        }

        var param = {
            publiclyVisible : publiclyVisible
        }

        console.log(DETAIL_SELECT_ORGS);
        // procCallAjax("/v2/serviceplanvisibilities/"+guid, "DELETE", JSON.stringify(param), procCallbackDeleteServicePlanVisibility, $('#modalLoadingBar'));
    }

    var procCallbackDeleteServicePlanVisibility = function(data) {
        getServicePlanDetail(DETAIL_SELECT_SERVICE_NAME, DETAIL_SELECT_PPAN_NAME, DETAIL_SELECT_PLAN_TD_ID, DETAIL_SELECT_ORGS);
    };

    /*]]>*/
</script>
</body>
</html>
