<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>
    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper" >

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                서비스 제어
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div id="loadingBar" class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
                        <div class="box-body">
                            <table class="table table-striped text-center"> <!-- table-responsive -->
                                <thead>
                                <tr>
                                    <th width="30%">서비스</th>
                                    <th width="30%">플랜</th>
                                    <th width="30%">접근</th>
                                    <th width="30%">조직</th>
                                </tr>
                                </thead>
                                <tbody id="servicePlanList" th:remove="body">
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>

            <!-- Modal Layer-->
            <div class="modal fade" id="serviceAccessFormModal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>

                            <h4 class="modal-title">
                                <div id="titleDetail">서비스 제어</div>
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div class="box" style="margin-bottom: 0px; border-top: 0px; box-shadow: 0 0px 0px">
                                <div id="modalLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                                <form id="serviceAccessForm" class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group required">
                                            <label for="servicename" class="col-sm-3 control-label">서비스 이름</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control toCheckString" id="servicename" name="servicename" disabled="disabled"/>
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label for="serviceplan" class="col-sm-3 control-label">서비스 플랜</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control toCheckString" id="serviceplan" name="serviceplan" disabled="disabled"/>
                                            </div>
                                        </div>

                                        <div class="form-group required" name="serviceAccessListForm">
                                            <label for="serviceAccessList" class="col-sm-3 control-label">서비스 접근</label>
                                            <div class="col-sm-9">
                                                <select class="form-control checkServiceForm" onchange="selectServiceAccess()" id="serviceAccessList" name="serviceAccessList" style="width:630px;">
                                                    <option value="none">NONE</option>
                                                    <option value="all">ALL</option>
                                                    <option value="limited">LIMITED</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group required" style="display: none" id="serviceOrgListDiv">
                                            <label for="serviceOrgList" class="col-sm-3 control-label">서비스 조직</label>
                                            <div class="col-sm-9">
                                                <select class="form-control checkServiceForm" id="serviceOrgList" name="serviceOrgList" style="width:630px;">
                                                    <option value="">추가 할 서비스 조직을 선택하세요</option>
                                                </select>
                                                <p></p>
                                            </div>
                                        </div>

                                        <div class="form-group required" style="display: none" id="serviceOrgListDivSecond">
                                            <label for="serviceOrgListText" class="col-sm-3"></label>
                                            <div class="col-sm-9">
                                                <label id="serviceOrgListText" name="serviceOrgListText"></label>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="disableBtn" class="btn btn-sm btn-danger pull-left" onClick="disableServiceAccess();">접근해제</button>
                            <button type="button" id="closeBtn" class="btn btn-sm btn-default pull-left" data-dismiss="modal">취소</button>
                            <button type="button" id="enableBtn" class="btn btn-sm btn-primary pull-right" onClick="enableServiceAccess();">접근허용</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" id="serviceBrokerConfirmModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> &times; </span></button>
                            <h1 id="popupTitle" class="modal-title" style="font-size:25px"> TITLE </h1>
                        </div>
                        <div class="modal-body">
                            <p id="popupMessage"> MESSAGE </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="popupButtonText"> SAVE CHANGES </button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" id="popupCancelButtonText"
                                    onclick="procClosePopup('serviceBrokerConfirmModal');"> 취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Layer-->
        </section>
        <!-- /.Content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/

    var orgObj = new Object();                // 조직 전체 리스트

    var SELECT_SERVICE_PACK_NAME;           //서비스팩 이름

    var SERVICE_LIST;                         //서비스팩 전체 리스트
    var SERVICE_ACCESS_LIST;                 //서비스 제어 전체 리스트
    var SERVICE_PLAN_GUID;


    var init = function(){
        getServicePlanList();
        $('#serviceAccessFormModal').modal('hide');
    }

    $(document).ready(function () {

        init();

        $('#register').click(function(){

            $('#titleDetail').hide();
            $('#disableBtn').hide();
            $('#enableBtn').hide();

            $('#regBtn').show();
            $('#closeBtn').show();

            $("#servicename").val("");
            $("#serviceplan").val("");
            $("#serviceOrgListText").val("");

        });

        $('#serviceBrokerList').click(function(){

            $('#titleDetail').show();
            $('#deleteBtn').show();
            $('#saveBtn').show();

            $('#regBtn').hide();
        });
    });

    // 조직 전체 목록 리스트:[동기화]
    function getOrgs() {
        procCallAjaxAsyncFalse("/v2/orgs", "GET", null, procCallbackGetOrgs, null);
    };

    var procCallbackGetOrgs = function(data) {
        console.log("data Org   "+data);

        $.each(data.resources, function (index, data) {
            orgObj[data.metadata.guid] = data.entity.name;
        });
        console.log(orgObj);
    }


    // 서비스 제어전체 목록 리스트:[동기화]
    function getServicePlanList(){
        procCallAjaxAsyncFalse("/v2/servicepacks", "GET", null, procCallbackGetServiceList, $('#loadingBar') );
    };


    var procCallbackGetServiceList = function(data){
        getOrgs();

        SERVICE_LIST= data;
        printData(SERVICE_LIST);
    }

    // 서비스제어 리스트 출력: [동기화]
    function printData(dataList) {

        console.debug(":::SERVICE_LIST DATA:::");
        console.debug(dataList);

        var entity = dataList.list;
        console.log(entity);

        $.each(entity, function (id, data) {
            if(data.servicePackName != "NONE") {
                console.log(data.servicePackName);
                SELECT_SERVICE_PACK_NAME = data.servicePackName;
                procCallAjaxAsyncFalse("/v2/catalogs/serviceplan/"+data.servicePackName, "GET", null, procCallbackGetServicePlan, $('#modalLoadingBar'));
            }
        });

    };


    var procCallbackGetServicePlan = function(data){
        SERVICE_ACCESS_LIST = "";

        $.each(data.resources, function (id, data2) {
            var accessText = "NONE";     //false
            if(data2.entity.public) {
                accessText= "All";
            }

            SERVICE_ACCESS_LIST += "<tr>";
            SERVICE_ACCESS_LIST += "<td onclick='javascript:getServicePlanDetail(\""+SELECT_SERVICE_PACK_NAME+"\" ,\""+data2.entity.name+"\" ,\"service_access_"+data2.metadata.guid+"\", \"service_plan_"+data2.metadata.guid+"\")'>"+SELECT_SERVICE_PACK_NAME+"</td> ";
            SERVICE_ACCESS_LIST += "<td>"+data2.entity.name+"</td> ";
            SERVICE_ACCESS_LIST += "<td id='service_access_"+data2.metadata.guid+"'>"+accessText+"</td> ";
            SERVICE_ACCESS_LIST += "<td id='service_plan_"+data2.metadata.guid+"'></td>";
            SERVICE_ACCESS_LIST += "</tr> ";
        });

        $("#serviceOrgList").append(SERVICE_ACCESS_LIST);
        $("#servicePlanList").append(SERVICE_ACCESS_LIST);

        $.each(data.resources, function (id, data0rg) {
            procCallAjaxAsyncFalse("/v2/serviceplans/"+data0rg.metadata.guid+"/visibilites", "GET", null, procCallbackGetServicePlanVisibilites, $('#modalLoadingBar'));
        });
    };


    var procCallbackGetServicePlanVisibilites = function(data){
        if(data.resources.length > 0) {
            $.each(data.resources, function (id, data3) {
                $("#service_plan_"+data3.entity.service_plan_guid).append(orgObj[data3.entity.organization_guid]+" ");

                //접근 리스트
                $("#service_access_"+data3.entity.service_plan_guid).text('limited');
            });
        }
    };

    function getServicePlanDetail(serviceName, planName, planTdId, orgs){
        $('#serviceAccessForm')[0].reset();
        $('#serviceAccessFormModal').modal('toggle');

        SERVICE_PLAN_GUID = planTdId.replace("service_access_", "");

//        var selectPlanGuid = planTdId.replace("service_access_", "");

        //서비스 이름
        $("#servicename").val(serviceName);

        //서비스 플랜
        $("#serviceplan").val(planName);

        //서비스 접근
        $('#serviceAccessList option[value=limited]').attr('selected','selected');

        $('#serviceAccessList').val($("#"+planTdId).text().toLowerCase());

        //서비스 조직
        $("#serviceOrgListText").text($("#"+orgs).text());

        //서비스 전체 조직
        if( $("#serviceAccessList").val() =="limited"){
            $("#serviceOrgListDiv").show();
            $("#serviceOrgListDivSecond").show();

            var selectBox = '';
            var objTable = $('#serviceOrgList');

            for( var key in orgObj ) {
                selectBox += '<option value="'+key+'">'+orgObj[key]+'</option>';
            }
            objTable.append(selectBox);
        } else {
            $("#serviceOrgListDiv").hide();
            $("#serviceOrgListDivSecond").hide();
        }

    };

    function selectServiceAccess(){
//        console.debug($("#serviceAccessList").val());

        //limited 일 때, 조직 확인 : display : none
        $("#serviceAccessList").val();

        if($("#serviceAccessList").val() == "limited"){
            $("#serviceOrgListDiv").show();
            $("#serviceOrgListDivSecond").show();
        } else{
            $("#serviceOrgListDiv").hide();
            $("#serviceOrgListDivSecond").hide();
        }
    };

    // 서비스 접근 허용
    function enableServiceAccess() {
        console.log("enableServiceAccess start");
        console.log(SERVICE_PLAN_GUID);
        console.log($("#serviceAccessList").val());

        var guid = SERVICE_PLAN_GUID;
        var publiclyVisible;

        if( $("#serviceAccessList").val() == "none"){
            publiclyVisible = false;
            console.log("false");
        }else if($("#serviceAccessList").val() == "all"){
            publiclyVisible = true;
            console.log("true");
        }else{
            /*limited*/
        }

        var param = {
            guid: guid,
            publiclyVisible : publiclyVisible
        }
        console.log(param);
        procCallAjax("/v2/serviceplans/"+guid, "PUT", JSON.stringify(param), init, $('#modalLoadingBar'));
    }

    // CHECK VALID STRING SPACE
    var procCheckValidStringSpace = function(reqString) {
        if (undefined != reqString && null != reqString) {
            return (0 != reqString.replace(/ /g, "").length);
        }
    }



    /*]]>*/
</script>
</body>
</html>
