<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>
    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper" >

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                서비스 제어
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div id="servicePlansLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                        <div class="box-header">
                            <h3 class="box-title"></h3>

                            <div class="box-tools">
                            </div>
                            <div style="height: 10px">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12" style="width: 59%">
                                <table class="table table-bordered table-striped dataTable">
                                    <thead>
                                    <tr>
                                        <th>서비스</th>
                                        <th width="150px">플랜</th>
                                        <th width="100px">접근</th>
                                    </tr>
                                    </thead>
                                    <tbody id="servicePlanList" name="dataList">
                                    </tbody>
                                </table>
                                <div id="noPlanMessage" class='box-header with-border' style="display: none">생성된 Isolation Segments가 없습니다.</div>
                            </div>
                            <div class="box-body table-responsive no-padding" style="width: 39%; display:none;" id="orgDiv">
                                <table class="table table-bordered table-striped dataTable">
                                    <thead>
                                    <tr>
                                        <th>Organization Name</th>
                                        <th width="70px">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="selectOrgList" name="dataList">
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-header -->

                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="servicePlanDeleteModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> &times; </span></button>
                            <h1 id="popupTitle" class="modal-title" style="font-size:25px"> TITLE </h1>
                        </div>
                        <div class="modal-body">
                            <p id="popupMessage"> MESSAGE </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="popupButtonText"> SAVE CHANGES </button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" id="popupCancelButtonText"
                                    onclick="procClosePopup('clientConfirmModal');"> 취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/

    var ORG_Obj = new Object();                //Org All List

    var SERVICE_PLAN_LIST;
    var SERVICE_LIST;                         //Service Pack List
    var SELECT_DELETE_ORG_GUID;
    var SELECT_SERVICE_PLAN_GUID;
    var SELECT_SERVICE_PLAN_UNIQUE_ID;
    var SELECT_ORG_LIST = [];

    var DETAIL_SELECT_ORGS;


    $( "#apiUrls" ).change(function() {
        //key 값 저장
        key = $("#apiUrls").val();
        $.cookie("api_key",key);

        asynchronousInit();

        location.reload();
    });

    var asynchronousInit = function(){
        procCallAjax("/v2/servicepacks"+"?key="+$("#apiUrls").val(), "GET", null, procCallbackGetServiceList, $('#servicePlansLoadingBar'));
    };

    var synchronousInit = function(){
        //alert("synchronousInit 동기식 :: " + key);
        console.debug("===start init===");
        $("#orgDiv").hide();

        //key 값 설정
        if($.cookie("api_key") != null){
            key = $.cookie("api_key");
            $("#apiUrls").val(key);
        }else{
            key = $("#apiUrls").val();
        }

        getServicePlanList();
    };

    $(document).ready(function () {
        //key 값 설정
        if($.cookie("api_key") != null){
            key = $.cookie("api_key");
            $("#apiUrls").val(key);
        }else{
            key = $("#apiUrls").val();
        }

        getInitMarketPlaceURL();
        asynchronousInit();

        $('#register').click(function(){

            $('#titleDetail').hide();
            $('#disableBtn').hide();
            $('#enableBtn').hide();
            $('#closeBtn').show();

            $("#serviceOrgListText").val("");
            $("#serviceOrgList").val("");
        });


    });

    // 조직 전체 목록 리스트:[동기화]
    function getOrgs() {
        procCallAjaxAsyncFalse("/v2/orgs"+"?key="+$("#apiUrls").val(), "GET", null, procCallbackGetOrgs, null);
    };

    var procCallbackGetOrgs = function(data) {
        $.each(data.resources, function (index, data) {
            ORG_Obj[data.metadata.guid] = data.entity.name;
        });
    };


    // 서비스 제어전체 목록 리스트:[동기화]
    function getServicePlanList(){
        procCallAjax("/v2/servicepacks"+"?key="+$("#apiUrls").val(), "GET", null, procCallbackGetServiceList, $('#servicePlansLoadingBar'));
    };


    var procCallbackGetServiceList = function(data){
        getOrgs();

        SERVICE_LIST= data;
        printData(SERVICE_LIST);
    }

    // 서비스제어 리스트 출력: [동기화]
    function printData(dataList) {
        $("#servicePlanList").html("");
        procCallAjaxAsyncFalse("/v2/catalogs/serviceplan-admin"+"?key="+$("#apiUrls").val(), "GET", null, procCallbackGetServicePlan, $('#servicePlansLoadingBar'));
    };

    var procCallbackGetServicePlan = function(data){

        var serviceAccessList = "";
        var cnt = 0;

        SERVICE_PLAN_LIST = data;

        $.each(data.RESULT, function (index, data2) {
            $.each(data2.Plan.resources, function (index2, resource) {
                var accessSelectBoxHtml = "";
                var serviceAccessType = "";

                accessSelectBoxHtml += "<select id='service_access_"+resource.metadata.guid+"' onchange='changeServiceAccess(\""+resource.metadata.guid+"\", this.value,\""+"key="+$("#apiUrls").val()+"\")'>";
                if(resource.entity.public) {
                    accessSelectBoxHtml += "    <option value='none'>NONE</option>";
                    accessSelectBoxHtml += "    <option value='all' selected='selected'>ALL</option>";
                    serviceAccessType = "all";
                } else {
                    accessSelectBoxHtml += "    <option value='none' selected='selected'>NONE</option>";
                    accessSelectBoxHtml += "    <option value='all'>ALL</option>";
                    serviceAccessType = "none";
                }
                accessSelectBoxHtml += "    <option value='limited'>LIMITED</option>";
                accessSelectBoxHtml += "</select>";

                serviceAccessList += "<tr id='servicePlan_"+(cnt+1)+"\'>";
                serviceAccessList += "    <td onclick='getServicePlanOrgs(\"servicePlan_"+(cnt+1)+"\", \""+resource.entity.unique_id+"\", \""+"key="+$("#apiUrls").val()+"\");'  style='cursor:pointer;'>"+data2.Service.entity.label+"</td> ";
                serviceAccessList += "    <td onclick='getServicePlanOrgs(\"servicePlan_"+(cnt+1)+"\", \""+resource.entity.unique_id+"\", \""+"key="+$("#apiUrls").val()+"\");'  style='cursor:pointer;'>"+resource.entity.name+"</td> ";
                serviceAccessList += "    <td>"+accessSelectBoxHtml+"</td> ";
                // serviceAccessList += "    <input type='hidden' id='hidden_org_guid_"+resource.metadata.guid+"'/>";
                serviceAccessList += "    <input type='hidden' id='service_access_type_"+resource.metadata.guid+"' value='"+serviceAccessType+"'/>";
                serviceAccessList += "    <input type='hidden' id='service_plan_meta_guid_"+resource.metadata.guid+"' value=''/>";
                serviceAccessList += "    <input type='hidden' id='apiUrls_"+"key="+$("#apiUrls").val()+"' value=''/>";
                serviceAccessList += "</tr> ";

                cnt++;
            });
        });

        $("#servicePlanList").append(serviceAccessList);

        if(SELECT_SERVICE_PLAN_GUID != "" && SELECT_SERVICE_PLAN_GUID != undefined && SELECT_SERVICE_PLAN_UNIQUE_ID != "" && SELECT_SERVICE_PLAN_UNIQUE_ID != undefined) {
            var selectId = $("#service_access_"+SELECT_SERVICE_PLAN_GUID).parent().parent().attr("id");
            getServicePlanOrgs(selectId, SELECT_SERVICE_PLAN_UNIQUE_ID);
        } else {
            $("#servicePlanList > tr:eq(0) > td:eq(0)").trigger("click");
        }
    };

    function getServicePlanOrgs(selectId, uniqueId) {;

        $("[id^='servicePlan_']").removeClass("bg-aqua disabled color-palette");
        $("#"+selectId).addClass("bg-aqua disabled color-palette");
        $("#"+selectId+" > td > select").css("color", "black");

        SELECT_SERVICE_PLAN_GUID = $("#"+selectId+" > td > select").attr("id").replace("service_access_", "");
        SELECT_SERVICE_PLAN_UNIQUE_ID = uniqueId;

        var objTable = $('#selectOrgList');

        objTable.html('');

        var cnt = 0;
        SELECT_ORG_LIST = [];

        $.each(SERVICE_PLAN_LIST.RESULT, function (id, data2) {
            $.each(data2.Plan.resources, function (id, resource) {
                $.each(SERVICE_PLAN_LIST.Visibilities.resources, function (id, vis_resource) {
                    if(vis_resource.entity.service_plan_guid == resource.metadata.guid){
                        if(SELECT_SERVICE_PLAN_GUID == vis_resource.entity.service_plan_guid) {
                            objTable.append('' +
                                '<tr id="org_'+(cnt+1)+'">' +
                                '   <td id="'+vis_resource.entity.organization_guid+'">' + ORG_Obj[vis_resource.entity.organization_guid] + '</td>' +
                                '   <td style="text-align: center"><span class="fa fa-trash" onclick="deleteServicePlanVisibility(\''+vis_resource.metadata.guid+'\', \''+vis_resource.entity.organization_guid+'\');" style="cursor:pointer;"></span></td>' +
                                '</tr>'
                            );

                            SELECT_ORG_LIST.push(vis_resource.entity.organization_guid);

                            cnt++;
                        }

                        // $("#service_access_"+vis_resource.entity.service_plan_guid).val('limited');
                        $("#service_access_type_"+vis_resource.entity.service_plan_guid).val('limited');

                        $("#service_access_"+vis_resource.entity.service_plan_guid+" option").attr("selected", false);
                        $("#service_access_"+vis_resource.entity.service_plan_guid+" option:eq(2)").attr("selected", true)
                    }
                });
            });
        });

        setAddOrgSelectBox();
    };

    function setAddOrgSelectBox() {
        SELECT_DELETE_ORG_GUID = "";
        var selectBox = '';

        selectBox += '<select class="form-control toCheckStringSpace" id="selectServicePlanOrgs" onchange="changeSelectOrgs()">';
        selectBox += '  <option value="">Add Organization</option>';

        var orgObj = new Object();

        $.each(ORG_Obj, function (index, data) {
            orgObj[index] = data;
        });

        $.each(SELECT_ORG_LIST, function (index, data) {
            delete orgObj[data];
        });

        for( var key in orgObj ) {
            selectBox += '  <option value="'+key+'">'+orgObj[key]+'</option>';
        }

        selectBox += '</select>';

        var objTable = $('#selectOrgList');

        objTable.append('' +
            '<tr>' +
            '   <td colspan="2">'+selectBox+'</td>' +
            '</tr>'
        );

        if($("#service_access_"+SELECT_SERVICE_PLAN_GUID).val() == "limited") {
            $("#orgDiv").show();
        }
    };

    // 서비스 조직 추가
    function changeSelectOrgs() {
        var orgGuid = $("#selectServicePlanOrgs").val();

        var param = {
            servicePlanGuid: SELECT_SERVICE_PLAN_GUID,
            orgGuid : orgGuid
        }

        procCallAjax("/v2/serviceplanvisibilities/"+ SELECT_SERVICE_PLAN_UNIQUE_ID +"?key="+$("#apiUrls").val(), "PUT", JSON.stringify(param), procCallbackChangeSelectOrgs, $('#servicePlansLoadingBar'));
    };

    var procCallbackChangeSelectOrgs = function(data) {
        synchronousInit();
    };

    //서비스 조직 삭제
    function deleteServicePlanVisibility(selectMetaGuid, organizationGuid) {
        SELECT_DELETE_ORG_GUID = organizationGuid;

        procCallAjaxForSyncDelete("/v2/serviceplanvisibilities/"+selectMetaGuid+"?key="+$("#apiUrls").val(), "DELETE", null, procCallbackDeleteServicePlanVisibility, $('#servicePlansLoadingBar'));
    };

    var procCallbackDeleteServicePlanVisibility = function(data) {
        synchronousInit();
    };

    var procCallbackDeleteServicePlanVisibilityAll = function(data) {
    };

    // 접근 change
    function changeServiceAccess(serviceAccessMetaGuid, value){
        var serviceAccessOriginal = $("#service_access_type_"+serviceAccessMetaGuid).val();
        // var serviceAccessSelectBox = $("#service_access_"+serviceAccessMetaGuid);
        var serviceAccessSelectBox = value;

        var selectId = $("#service_access_"+serviceAccessMetaGuid).parent().parent().attr("id");
        $("#servicePlanList > #"+selectId+" > td:eq(0)").trigger("click");

        if(serviceAccessOriginal == "all" && serviceAccessSelectBox =="none") {
            enableServiceAccess(false);
        } else if(serviceAccessOriginal == "all" && serviceAccessSelectBox =="limited") {
        } else if(serviceAccessOriginal == "none" && serviceAccessSelectBox =="all") {
            enableServiceAccess(true);
        } else if(serviceAccessOriginal == "none" && serviceAccessSelectBox =="limited") {
        } else if(serviceAccessOriginal == "limited" && (serviceAccessSelectBox =="all" || serviceAccessSelectBox =="none")) {
            showServicePlanDeleteModal("Access 변경",serviceAccessMetaGuid, serviceAccessSelectBox, "변경");
        }
    };

    function showServicePlanDeleteModal(title, guid, serviceAccess, buttonText) {
        $("#popupTitle").html(title);
        $("#popupMessage").html("연결된 모든 조직에 대한 접근이 해제됩니다. 실행하시겠습니까?");
        $("#popupButtonText").text(buttonText);
        $("#popupButtonText").addClass('pull-left');
        $('#popupButtonText').attr('onclick', "ServicePlanDelete('"+guid+"','"+serviceAccess+"');");
        $("#popupButtonText").show();
        $('#servicePlanDeleteModal').modal('toggle');
    }

    function ServicePlanDelete(guid, serviceAccess) {
        procCallAjaxForSyncDelete("/v2/serviceplanvisibilities/all/"+guid +"?key="+$("#apiUrls").val(), "DELETE", null, procCallbackDeleteServicePlanVisibilityAll, $('#servicePlansLoadingBar'));
        if(serviceAccess  =="none"){
            enableServiceAccess(false);
        }else if(serviceAccess  =="all"){
            enableServiceAccess(true);
        }
    }

    // 서비스 접근 허용
    function enableServiceAccess(publiclyVisible) {

        var guid = SELECT_SERVICE_PLAN_GUID;

        var param = {
            guid: guid,
            publiclyVisible : publiclyVisible
        }

        procCallAjaxAsyncFalse("/v2/serviceplans/"+guid +"?key="+$("#apiUrls").val(), "PUT", JSON.stringify(param), synchronousInit, $('#servicePlansLoadingBar'));
    };

    /*]]>*/
</script>
</body>
</html>
