<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
  <header></header>
  <aside>/</aside>

  <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper" th:with="UPDATE_CD = ${T(org.openpaas.paasta.portal.web.admin.common.Constants).CUD_U}, INSERT_CD = ${T(org.openpaas.paasta.portal.web.admin.common.Constants).CUD_C} ">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          대시보드
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">

        <!-- Small box-->
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner" data-trigger-type="">
                <h3 id="organizationCount">&nbsp;</h3>

                <p>조직 수</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-people"></i>
              </div>
              <!-- <a href="#" class="small-box-footer">More info
                <i class="fa fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner" data-trigger-type="">
                <h3 id="spaceCount">&nbsp;</h3>

                <p>공간 수</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-pie-outline"></i>
              </div>
              <!-- <a href="#" class="small-box-footer">More info
                <i class="fa fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner" data-trigger-type="">
                <h3 id="applicationCount">&nbsp;</h3>

                <p>APP 수</p>
              </div>
              <div class="icon">
                <i class="ion ion-cube"></i>
              </div>
              <!-- <a href="#" class="small-box-footer">More info
                <i class="fa fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner" data-trigger-type="">
                <h3 id="userCount">&nbsp;</h3>

                <p>사용자 수</p>
              </div>
              <div class="icon">
                <i class="ion ion-man"></i>
              </div>
              <!-- <a href="#" class="small-box-footer">More info
                <i class="fa fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- Small box-->

        <div class="row">

          <!-- /.col (LEFT) -->
          <div class="col-md-12">

            <!-- BAR CHART -->
            <div class="box box-success">
              <div class="box-header with-border">
                <h3 class="box-title"> </h3>

                <!-- <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove">
                    <i class="fa fa-times"></i>
                  </button>
                </div> -->
              </div>
              <div class="box-body">
                <div class="chart">
                  <!--<canvas id="barChart" style="position: relative; height:80vh; width:80vw"></canvas>-->
                  <div id="chartContainer" style="position: relative; width: 100%; min-height: 400px; margin: 0 auto; display: none;"></div>
                  <div id="emptySpaceMessageArea" style="display: none;">
                    <h4 style="text-align:center; min-height: 200px; line-height: 200px;"> 생성된 공간이 없습니다. </h4>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>
          <!-- /.col (RIGHT) -->
        </div>
        <!-- /.row -->
        <input type="hidden" id="organizationId" name="organizationId" th:value="${ORGANIZATION_ID}" th:default="''"/>
      </section>
      <!-- /.content -->
    </div>
  <!-- /.content-wrapper -->

  <footer></footer>

</div>
<!-- ./wrapper -->

<div layout:fragment="custom-area">
  <script type="text/javascript" src="/resources/js/highcharts.js"
          th:src="@{../../resources/js/highcharts.js}"></script>
  <script type="text/javascript" src="/resources/js/exporting.js"
          th:src="@{../../resources/js/exporting.js}"></script>
</div>

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
  /*<![CDATA[*/


  var MAIN_DASH_BOARD_URL = "/dashboard";
  var TOTAL_COUNT_LIST_PROC_URL = "/v2/statistics";
  var TOTAL_ORGANIZATION_LIST_PROC_URL = "/v2/statistics/organizations";

  var SPACE_LABEL = "공간";
  var APP_LABEL   = "APP";
  var USER_LABEL  = "사용자";
  // ON LOAD
  $(document.body).ready(function() {
    procInitPage();


    /*
      To-Be : 아래 트리거 4개 triggerType 로 하나의 함수로 리팩토링 할것
    */
    // 공간 BLock Trigger
    $('#spaceCount').parent().on("click", function() {
      $('.highcharts-legend-item').children('text').each(function(index){

        //console.log($('.highcharts-legend-item').children('text'));
        if($(this).text() != SPACE_LABEL){
          //console.log($(this).parent().hasClass('highcharts-legend-item-hidden'));
          if(!$(this).parent().hasClass('highcharts-legend-item-hidden')){
            $(this).trigger('click');
          }
        }else{
          if($(this).parent().hasClass('highcharts-legend-item-hidden')){
            $(this).trigger('click');
          }
        }
      })
    });


    // APP BLock Trigger
    $('#applicationCount').parent().on("click", function() {
      $('.highcharts-legend-item').children('text').each(function(index){

        //console.log($('.highcharts-legend-item').children('text'));
        if($(this).text() != APP_LABEL){
          //console.log($(this).parent().hasClass('highcharts-legend-item-hidden'));
          if(!$(this).parent().hasClass('highcharts-legend-item-hidden')){
            $(this).trigger('click');
          }
        }else{
          if($(this).parent().hasClass('highcharts-legend-item-hidden')){
            $(this).trigger('click');
          }
        }
      })
    });

    // USER BLock Trigger
    $('#userCount').parent().on("click", function() {
      $('.highcharts-legend-item').children('text').each(function(index){

        //console.log($('.highcharts-legend-item').children('text'));
        if($(this).text() != USER_LABEL){
          //console.log($(this).parent().hasClass('highcharts-legend-item-hidden'));
          if(!$(this).parent().hasClass('highcharts-legend-item-hidden')){
            $(this).trigger('click');
          }
        }else{
          if($(this).parent().hasClass('highcharts-legend-item-hidden')){
            $(this).trigger('click');
          }
        }
      })
    });

    // USER BLock Trigger
    $('#organizationCount').parent().on("click", function() {
      $('.highcharts-legend-item').children('text').each(function(index){
        if($(this).parent().hasClass('highcharts-legend-item-hidden')){
          $(this).trigger('click');
        }
      })
    });


  }); // End ready()

  // Init
  var procInitPage = function() {
    getTotalCountList();  // 조직 / 공간 / 앱 /사용자 수 조회
    getChartList();       // 조직 / 공간 차트 조회

    //setViewEmptySpaceMessageArea();// empty 테스트
  };


  // 조직.공간.앱.사용자 수 조회
  var getTotalCountList = function() {
    procCallAjax2(TOTAL_COUNT_LIST_PROC_URL,"GET", {}, procCallbackGetTotalCountList);
  };

  // 조직.공간.앱.사용자 수 조회 CALLBACK
  var procCallbackGetTotalCountList = function(data) {
    var resultList = data.list[0];
    var organizationCount = $('#organizationCount');
    var spaceCount = $('#spaceCount');
    var applicationCount = $('#applicationCount');
    var userCount = $('#userCount');

    organizationCount.text(resultList.organizationCount);
    spaceCount.text(resultList.spaceCount);
    applicationCount.text(resultList.applicationCount);
    userCount.text(resultList.userCount);
  };


  var getChartList = function(){
      // 조직 공간 앱 사용자 통계정보
      procCallAjax2(TOTAL_ORGANIZATION_LIST_PROC_URL,"GET", {}, procCallbackGetTotalOrganizationList);

//    var organizationId = $('#organizationId').val();
//    if ('' == organizationId) {
//      // 조직 공간 앱 사용자 통계정보
//      procCallAjax2(TOTAL_ORGANIZATION_LIST_PROC_URL,"GET", {}, procCallbackGetTotalOrganizationList);
//    } else {
//      // 해당 조직의 공간정보 통계정보
//      procCallAjax2(MAIN_DASH_BOARD_ORGANIZATION_URL+"/"+organizationId+"/spaces" ,"GET", {}, procCallbackGetTotalSpaceList);
//    }
  };

  // '조직'차트 CALLBACK
    var procCallbackGetTotalOrganizationList = function(data) {
      setOrganizationChart(data);
  }; // END procCallbackGetTotalOrganizationList


  // '조직'차트 Draw
  var setOrganizationChart = function(data) {
    var resultList = data.list;
    var chartContainer = $('#chartContainer');
    var listLength = resultList.length;

    // SET OPTIONS
    var chartOptions = setOrganizationChartOptions(resultList);

    // EXECUTE CHART
    chartContainer.css('height', listLength * 80 + 'px');
    chartContainer.fadeIn();
    chartContainer.highcharts(chartOptions);


    // Label Rename(seperate '||' Name && Id )
    var arrayOrganizationName = $('.highcharts-xaxis-labels text');

    for (var i = 0; i < listLength; i++) {

      console.log(arrayOrganizationName.eq(i).text());

      var labelTxt = arrayOrganizationName.eq(i).text().split('||');
      console.log(labelTxt);
      arrayOrganizationName.eq(i).text(labelTxt[0]);

      var organizationId = labelTxt[1];
      console.log("organizationId::"+organizationId);

      //좌측 LABEL(조직명)에 CLICK 이벤트(조직의 공간조회) 등록
      arrayOrganizationName[i].onclick = function() {
        //procMovePage(MAIN_DASH_BOARD_ORGANIZATION_URL + "/" + getOrganizationId($(this).children().text(), resultList));
        getTotalSpaceList(organizationId);
      };

    }

    $('.highcharts-xaxis-labels tspan').on("mouseover", function() {
      $(this).attr('style', 'cursor: pointer;');
    });
  };


  // SET CHART OPTIONS
  var setOrganizationChartOptions = function(resultList) {
    var listLength = resultList.length;
    var arrayOrganizationName = [];
    var arraySpaceCount = [];
    var arrayApplicationCount = [];
    var arrayUserCount = [];
    var organizationName = '';
    var organizationId = '';

    for (var i = 0; i < listLength; i++) {
      organizationName = resultList[i].organizationName;
      organizationId = resultList[i].organizationId;

      arrayOrganizationName.push(organizationName+'||'+organizationId);

      for (var j = 0; j < listLength; j++) {
        if (organizationName == resultList[j].organizationName) {
          arraySpaceCount.push(resultList[j].spaceCount);
          arrayApplicationCount.push(resultList[j].applicationCount);
          arrayUserCount.push(resultList[j].userCount);
        }
      }
    }

    arrayOrganizationName.join(',');
    arraySpaceCount.join(',');
    arrayApplicationCount.join(',');
    arrayUserCount.join(',');

    return {
      legend: {
        verticalAlign: 'top',
        align: 'left',
        itemStyle: {
          'font-size': '16px', 'font-family':'"Spoqa Han Sans","Helvetica Neue",Helvetica,Arial,sans-serif', 'color':'#494747'
        }
      },
      colors: ['#F39C12', '#00A65A', '#DD4B39'],
      chart: {
        type: 'bar'
      },
      title: {
        text: ''
      },
      subtitle: {
        text: ''
      },
      xAxis: {
        categories: arrayOrganizationName,
        labels: {
          style: {'font-size': '16px', 'font-family':'"Spoqa Han Sans","Helvetica Neue",Helvetica,Arial,sans-serif', 'color':'#494747'}
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: ''
        }
      },
      plotOptions: {
        bar: {
          dataLabels: {
            enabled: true
          }
        }
      },
      credits: {
        enabled: false
      },
      series: [{
        name: APP_LABEL,
        data: arrayApplicationCount
      }, {
        name: SPACE_LABEL,
        data: arraySpaceCount
      }, {
        name: USER_LABEL,
        data: arrayUserCount
      }]
    };
  };




  // 조직 차트 셋팅
  var setSpaceChart = function(data) {
    var resultList = data.list;
    var chartContainer = $('#chartContainer');
    var listLength = resultList.length;

    // CHECK EMPTY SPACE
    if (0 == listLength) {
      setViewEmptySpaceMessageArea();
      return false;
    }

    // SET OPTIONS
    var chartOptions = setSpaceChartOptions(resultList);

    // EXECUTE CHART
    chartContainer.css('height', listLength * 80 + 'px');
    chartContainer.fadeIn();
    chartContainer.highcharts(chartOptions);

    // VIEW BUTTON
    $('#btnMoveMainArea').fadeIn();

    // BIND :: BUTTON EVENT
//    $("#btnMoveMain").on("click", function() {
//      procMovePage(MAIN_DASH_BOARD_URL);
//    })
  };

  // SET CHART OPTIONS
  var setSpaceChartOptions = function(resultList) {
    var listLength = resultList.length;
    var arraySpaceName = [];
    var arrayApplicationCount = [];
    var spaceName = '';

    for (var i = 0; i < listLength; i++) {
      spaceName = resultList[i].spaceName;
      arraySpaceName.push(spaceName);

      for (var j = 0; j < listLength; j++) {
        if (spaceName == resultList[j].spaceName) {
          arrayApplicationCount.push(resultList[j].applicationCount);
        }
      }
    }

    arraySpaceName.join(',');
    arrayApplicationCount.join(',');

    return {
      colors: ['#77807e', '#c0c0c0', '#738de0'],

      chart: {
        type: 'bar'
      },
      title: {
        text: ''
      },
      subtitle: {
        text: ''
      },
      xAxis: {
        categories: arraySpaceName,
        labels: {
          style: {'font-size': '16px', 'font-family':'"Spoqa Han Sans","Helvetica Neue",Helvetica,Arial,sans-serif', 'color':'#494747'}
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: ''
        }
      },
      plotOptions: {
        bar: {
          dataLabels: {
            enabled: true
          }
        }
      },
      legend: {
        verticalAlign: 'top',
        align: 'left',
        itemStyle: {
          'font-size': '16px', 'font-family':'"Spoqa Han Sans","Helvetica Neue",Helvetica,Arial,sans-serif', 'color':'#494747'
        }
      },
      credits: {
        enabled: false
      },
      series: [{
        name: 'APP',
        data: arrayApplicationCount
      }]
    };
  };


  // 조직 Label Click Event
  var getTotalSpaceList = function(reqOrganizationId) {
    procCallAjax2(TOTAL_ORGANIZATION_LIST_PROC_URL+"/"+reqOrganizationId+"/spaces","GET", {}, procCallbackGetTotalSpaceList);
  };

  // '공간'차트 CALLBACK
  var procCallbackGetTotalSpaceList = function(data) {
    setSpaceChart(data);

  };


  // VIEW EMPTY SPACE MESSAGE AREA
  var setViewEmptySpaceMessageArea = function () {
    $('#emptySpaceMessageArea').fadeIn();
    $('#btnMoveMainArea').fadeIn();

//    $("#btnMoveMain").on("click", function() {
//      procMovePage(MAIN_DASH_BOARD_URL);
//    });
  };

  /*]]>*/
</script>


</body>
</html>
