<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>

    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper" >

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                서비스 브로커
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div id="loadingBar" class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
                        <div class="box-header">
                            <h3 class="box-title"></h3>
                            <div class="box-tools col-xs-6 col-sm-2 pull-left" style="position:static;padding-left: 0px;">
                            </div>
                            <div class="pull-right" style="padding-right: 0px;">
                                <button type="button" id="register" class="btn btn-block btn-primary btn-sm" name="registBtn" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#serviceBrokerFormModal">
                                    서비스브로커 등록
                                </button>
                            </div>
                        </div>
                        <div class="box-body" style="padding-top: 0px;">
                            <table class="table table-striped text-center"> <!-- table-responsive -->
                                <thead>
                                <tr>
                                    <th>이름</th>
                                    <th>URL</th>
                                </tr>
                                </thead>
                                <tbody id="serviceBrokerList" th:remove="body">
                                </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>

            <!-- Modal Layer-->
            <div class="modal fade" id="serviceBrokerFormModal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>

                            <h4 class="modal-title">
                                <div id="titleReg">서비스 브로커 등록</div>
                                <div id="titleDetail">서비스 브로커 상세</div>
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div class="box" style="margin-bottom: 0px; border-top: 0px; box-shadow: 0 0px 0px">
                                <div id="modalLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                                <form id="serviceBrokerForm" class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group required">
                                            <label for="name" class="col-sm-3 control-label">서비스 브로커 이름</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control toCheckString" id="name" name="name" placeholder="ex) rabbitmq-service-broker"/>
                                                <input type="hidden" id="guid"/>
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label for="username" class="col-sm-3 control-label">사용자 이름</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control toCheckString" id="username" name="username" placeholder="ex) admin"/>
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label for="password" class="col-sm-3 control-label">사용자 패스워드</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control toCheckString" id="password" name="password" placeholder="ex) admin"/>
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label for="url" class="col-sm-3 control-label">URL 정보</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control toCheckString" id="url" name="url" placeholder="ex) http://10.30.40.81:4567"/>
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label for="purge" class="col-sm-3 control-label" id="forcedeletion">강제 삭제</label>
                                            <div class="col-sm-9">
                                                <input type="checkbox" id="purge"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="deleteBtn" class="btn btn-sm btn-danger pull-left" onClick="deleteServiceBrokerModal();">삭제</button>
                            <button type="button" id="saveBtn" class="btn btn-sm btn-primary pull-right" onClick="updateServiceBroker();">저장</button>
                            <button type="button" id="regBtn" class="btn btn-sm btn-primary pull-right" onClick="createServiceBroker();">등록</button>
                            <button type="button" id="closeBtn" class="btn btn-sm btn-default pull-left" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" id="serviceBrokerConfirmModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> &times; </span></button>
                            <h1 id="popupTitle" class="modal-title" style="font-size:25px"> TITLE </h1>
                        </div>
                        <div class="modal-body">
                            <p id="popupMessage"> MESSAGE </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="popupButtonText"> SAVE CHANGES </button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" id="popupCancelButtonText"
                                    onclick="procClosePopup('serviceBrokerConfirmModal');"> 취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Layer-->
        </section>
        <!-- /.Content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/
    var serviceBrokerGuid = /*[[${guid}]]*/ 'empty';

    $( "#apiUrls" ).change(function() {
        key = $("#apiUrls").val();
        $.cookie("api_key",key);

        //getServiceBrokerList
        procCallAjax("/v2/servicebrokers"+"?key="+key, "GET", null, procCallbackGetServiceBrokerList, $('#loadingBar') );

        //reset
        $("#serviceBrokerList *").remove();
    });

    var init = function(){
        //key 값 설정
        if($.cookie("api_key") != null){
            key = $.cookie("api_key");
            $("#apiUrls").val(key);
        }else{
            key = $("#apiUrls").val();
        }
        getInitMarketPlaceURL();
        getServiceBrokerList();
        $('#serviceBrokerFormModal').modal('hide');
    }

    $(document).ready(function () {


        init();

        $('#register').click(function(){

            $('#titleDetail').hide();
            $('#deleteBtn').hide();
            $('#saveBtn').hide();
            $('#forcedeletion').hide();
            $('#purge').hide();

            $('#titleReg').show();
            $('#regBtn').show();
            $('#closeBtn').show();

            $("#name").val("");
            $("#username").val("");
            $("#password").val("");
            $("#url").val("");
            $("#guid").val("");

        });

        $('#serviceBrokerList').click(function(){

            $('#titleDetail').show();
            $('#deleteBtn').show();
            $('#saveBtn').show();
            $('#forcedeletion').show();
            $('#purge').show();

            $('#titleReg').hide();
            $('#regBtn').hide();
            //$('#closeBtn').hide();
        });

    });

    function getServiceBrokerList() {
        key = $("#apiUrls").val();
        procCallAjax("/v2/servicebrokers"+"?key="+key, "GET", null, procCallbackGetServiceBrokerList, $('#loadingBar') );
    };

    var procCallbackGetServiceBrokerList = function(data){
        printData(data.resources);
    }

    // 서비스 브로커 리스트 출력
    function printData(dataList) {

        var objTable = $("#serviceBrokerList");

        objTable.html('');

        $.each(dataList, function (id, data) {

            objTable.append(" <tr align='center' style='cursor:pointer;'" +
                    " onclick='javascript:getServiceBroker(\""+data.metadata.guid+"\");'>" +
                    "<td>" + data.entity.name + "</td>" +
                    "<td>" + data.entity.broker_url + "</td>"
            );
        });
    };

    // 서비스 브로커 상세
    function getServiceBroker(guid) {
        $('#serviceBrokerForm')[0].reset();
        $('#serviceBrokerFormModal').modal('toggle');
        procCallAjax("/v2/servicebrokers/"+guid+"?key="+key, "GET", null, procCallbackGetServiceBroker, $('#modalLoadingBar'));
    }

    var procCallbackGetServiceBroker = function(data){
        if (data) {

            $("#name").val(data.entity.name);
            $("#username").val(data.entity.auth_username);
            $("#password").val("");
            $("#url").val(data.entity.broker_url);
            $("#guid").val(data.metadata.guid);
        }
    }

    // 서비스 브로커 등록
    function createServiceBroker() {

        if (!procCheckValidStringSpace()){return false;}

        var param = {
            name: $("#name").val(),
            username: $("#username").val(),
            password: $("#password").val(),
            url: $("#url").val()
        }
        procCallAjax("/v2/servicebrokers"+"?key="+key, "POST", JSON.stringify(param), init, $('#modalLoadingBar'));

    }

    // 서비스브로커 수정
    function updateServiceBroker() {

        var guid = $('#guid').val();

        if (!procCheckValidStringSpace()){
            return false;
        };

        var param = {
            guid: guid,
            name: $("#name").val(),
            username: $("#username").val(),
            password: $("#password").val(),
            url: $("#url").val()
        }
        procCallAjax("/v2/servicebrokers/"+guid+"?key="+key, "PUT", JSON.stringify(param), init, $('#modalLoadingBar'));
    }

    // 서비스 브로커 삭제 (confirm layer)
    function deleteServiceBrokerModal() {

        $("#popupTitle").html("서비스 브로커 삭제");
        $("#popupMessage").html("" +$("#name").val()+ " " + /*[[#{delete.confirm.message('서비스 브로커')}]]*/ "");
        $("#popupButtonText").text("삭제");
        $("#popupButtonText").addClass('pull-left');
        $('#popupButtonText').attr('onclick', "deleteServiceBroker();");
        $("#popupButtonText").show();

        $('#serviceBrokerConfirmModal').modal('toggle');
    }

    // 서비스 브로커 삭제 처리
    function deleteServiceBroker() {
        var guid = $('#guid').val();
        var purge = $('#purge').is(":checked");
        procCallAjax("/v2/servicebrokers/"+guid+"?purge="+purge+"&key="+key, "DELETE", null, init, $('#modalLoadingBar'));
    }

    /*]]>*/
</script>
</body>
</html>
