<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
  <header></header>
  <aside>/</aside>

  <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          빌드팩
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <!--<div class="box-header">-->
                <!--<h3 class="box-title"></h3>-->
              <!--</div>-->
              <div class="box-body">
                <table class="table table-striped text-center"> <!-- table-responsive --> <!-- table-bordered --> <!-- table-striped -->
                  <thead>
                  <tr>
                    <th width="30%">이름</th>
                    <th width="30%">파일명</th>
                    <th width="13%">순서</th>
                    <th width="13%">사용유무</th>
                    <th width="13%">Lock유무</th>
                  </tr>
                  </thead>
                  <tbody id="buildPackList" th:remove="body">
                  <tr class="text-center">
                    <td>staticfile_buildpack</td>
                    <td>staticfile-buildpack-v1.4.13.zip</td>
                    <td><select id='position1' style='width:50px;'><option value="1">1</option><option value="2">2</option></select></td>
                    <td><input type="checkbox" checked="true"/></td>
                    <td><input type="checkbox" checked="true"/></td>
                  </tr>
                  <tr class="text-center">
                    <td>staticfile_buildpack</td>
                    <td>staticfile-buildpack-v1.4.13.zip</td>
                    <td><select id='position2' style='width:50px;'><option value="1">1</option><option value="2" selected="true">2</option></select></td>
                    <td><input type="checkbox" /></td>
                    <td><input type="checkbox" /></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>

        <!-- Modal Layer-->
        <!-- Modal Layer-->

      </section>
      <!-- /.content -->
    </div>
  <!-- /.content-wrapper -->

  <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
  /*<![CDATA[*/

  $(document).ready(function(){
    getList();

  });

  function getList(){
    $.ajax({
      url: "/buildpack/buildpacks",
      method: "GET",
      dataType: 'json',
      contentType: "application/json",
      success: function(data){

        var n = 0;
        if(data.resources){ //
          totalCount = data.resources.length;
          $.each(data.resources, function (id, data) {
            n++;
            var positionOption = "";
            for(var i=1; i <= totalCount; i++){
              if(i ==  data.entity.position) {
                positionOption += "<option value='" + i + "' selected>" + i + "</option>";
              }else{
                positionOption += "<option value='" + i + "'>" + i + "</option>";
              }
            }

            var enabled = "";
            if(data.entity.enabled){
              enabled = "checked";
            }

            var locked = "";
            if(data.entity.locked){
              locked = "checked";
            }

            $("#buildPackList").append(" <tr align='center'>" +
                    "<td> " + data.entity.name + "</td>" +
                    "<td> " + data.entity.filename + "</td>" +
                    "<td class='col-md-1' align='center'><select id='position"+ n +"' style='width:50px;' onChange=updateBuildPack('"+ data.metadata.guid +"'," + n + ",true); >" + positionOption + "</select></td>" +
                    "<td class='col-md-1' align='center'><input type='checkbox' id='enabled"+ n +"' "+ enabled + " onChange=updateBuildPack('"+ data.metadata.guid +"'," + n + ",false); ></td>" +
                    "<td class='col-md-1' align='center'><input type='checkbox' id='locked"+ n +"' "+ locked + " onChange=updateBuildPack('"+ data.metadata.guid +"'," + n + ",false); ></td>"
            );

          });
        }
      }
    });
  }


  function updateBuildPack(guid, n, refresh){
    var param = {
      guid:  guid,
      position: $('#position'+ n).val(),
      enable : $('#enabled'+ n).is(":checked"),
      lock : $('#locked'+ n).is(":checked")
    }

    $.ajax({
      url: "/buildpack/buildpacks/"+guid,
      method: "PUT",
      data: JSON.stringify(param),
      dataType: 'json',
      contentType: "application/json",
      success: function(data){
        if(data){//
          procAlert("success", '빌드팩 정보가 저장되었습니다.');
          if(refresh) {
            $("#buildPackList").html("");
            getList();
          }
        }
      }
    });

  }

  /*]]>*/
</script>


</body>
</html>
