<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head>
    <script layout:fragment="custom-script">
        var V2_URL = "/v2";
        var GET_ORGS_FOR_ADMIN_URL = V2_URL + "/orgs";
        var OrgSpaceList = V2_URL + "/spaces/";
        var OrgAndSpace = "/OrgAndSpace";
        var Space = "/Space";
        var domainNames;
        var currentOrg;

        var quotaName;
        var totalRoutes;
        var paidServices;
        var totalServices;
        var MemoryLimit;

        var quotaNameSpace;
        var totalRoutesSpace;
        var paidServicesSpace;
        var spaceQuotaText;

        $(document).ready(function(){
            getOrgsForAdmin(GET_ORGS_FOR_ADMIN_URL,{} ,procCallbackGetOrgs);
            getDomains();

        });

        function getOrgsForAdmin(reqUrl, param, callback) {

              $.ajax({
                url: reqUrl,
                method: "GET",
                dataType: 'json',
                success: function(data) {
                    if (data) {
                        callback(data, param);
                    } else {
                        var resData = {RESULT : RESULT_STATUS_SUCCESS,
                            RESULT_MESSAGE : RESULT_STATUS_SUCCESS_MESSAGE};

                        callback(resData, param);
                    }
                },
                error: function(xhr, status, error) {
                    var resData = {RESULT : RESULT_STATUS_FAIL,
                        RESULT_MESSAGE : JSON.parse(xhr.responseText).message};

                    callback(resData, param);

                    console.log("ERROR :: error :: ", error);
                    procAlert("danger", JSON.parse(xhr.responseText).message);
                },
                complete : function(data) {
                }
            });
        };

        /*<![CDATA[*/
        function getDomains() {

            $.ajax({
                url: "/domains/shared",
                method: "GET",
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data) {
                        domainNames = "";
                        for (var i = 0; i < data.resources.length; i++) {
                            if (i != 0) domainNames += " , ";
                            domainNames += data.resources[i].entity.name;
                        }
                    }
                }
            });
        }



        var procCallbackGetOrgs = function(data) {
            console.log(data);
            $("#orgTable").hide();
            $("#noSpaceMessage").hide();

            if(data.resources.length === 0){
                $("#noOrgMessage").show();
            } else {
                $("#orgTable").append(
                    "<tbody>"+
                    "<tr>"+
                    "<th style='text-align: center'>번호</th>"+
                    "<th style='text-align: center'>조직이름</th>"+
                    "</tr>"

                )

                var orgName = new Array();
                var idMap = new Map();
                var QuotaMap = new Map();
                for (var i = 0; i < data.resources.length; i++) {
                    orgName[i] = data.resources[i].entity.name;
                    idMap.set(orgName[i],data.resources[i].metadata.id);
                    QuotaMap.set(orgName[i],data.resources[i].entity.quotaDefinitionId);
                }
                orgName.sort();
                for (var i = 0; i < data.resources.length; i++) {
                    $("#orgTable").append (
                        "<tr id='orgSpaceViewArea-table-content-org-no" + (i + 1) + "' name='" + orgName[i].toString().toLowerCase() + "' >" +
                        "<td>" + (i + 1) + "</td>" +
                        "<td><a style='color: black' href='#none' onClick=\"selectOrg('" + idMap.get(orgName[i]) + "')\">" + orgName[i] + "</a> &nbsp;<a href='#none' onClick=\"procGetOrgSummary('" + idMap.get(orgName[i]) + "','" +  QuotaMap.get(orgName[i]) + "')\" style='font-size:10px' data-toggle='modal' data-target='#modal-default'>[상세정보]</a></td>" +
                        "</tr>"
                    )
                }
                $("#orgTable").append (
                    "</tbody>"
                )
                changeTableContentColor("org")
                $("#orgTable").show();
                selectOrg(idMap.get(orgName[0]));
            }
        }

        function getSpacesForAdmin(orgName){
            $("#spaceTable").hide();
            $("#noSpaceMessage").hide();
            currentOrg = orgName;
            getOrgsForAdmin(GET_ORGS_FOR_ADMIN_URL+"/"+orgName+"/space", {"orgName":orgName},procCallbackGetSpaces)
        }

        var procCallbackGetSpaces = function(data) {

            $("#spaceTable *").remove();
            $("#spaceTable").hide();
            $("#noSpaceMessage").hide();

            if(data.spaceList.resources.length === 0){
                $("#noSpaceMessage").show();
            } else {
                $("#spaceTable").append(
                    "<tbody>"+
                    "<tr>"+
                    "<th style='text-align: center'>번호</th>"+
                    "<th style='text-align: center'>공간 이름</th>"+
                    "</tr>"
                )
                $.each(data.spaceList.resources, function (eventId, space) {
                    $("#spaceTable").append (
                        "<tr id='orgSpaceViewArea-table-content-space-no"+(eventId+1)+"'>"+
                        "<td>"+(eventId+1)+"</td>"+
                        "<td>" + space.entity.name + "&nbsp; <a href='#none' onClick=\"procGetSpaceSummary('"+ space.metadata.id +"','" + space.entity.spaceQuotaDefinitionId + "')\" style='font-size:10px' data-toggle='modal' data-target='#modal-default'>[상세정보]</a></td>" +
                        "</tr>"
                    )
                });
                $("#orgTable").append (
                    "</tbody>"
                )
                $("#spaceTable").show();
            }
        }

        function selectOrg(orgName){
            getSpacesForAdmin(orgName)
        }

        // GET ORG SUMMARY
        var procGetOrgSummary = function (orgid, quotaid) {
            $("#modaltitle").html("조직 상세 정보");
            $("#modalbody").html("데이터를 불러오고 있습니다.");
            getOrgsForAdmin(V2_URL + "/orgs/"+quotaid+"/quota", {}, procCallbackGetOrgQuota);

            getOrgsForAdmin(V2_URL + "/orgs/"+orgid+"/summary", {}, procCallbackGetOrgSummary);

        };

        // GET ORG SUMMARY CALLBACK
        var procCallbackGetOrgQuota = function (data) {

            quotaName = data.entity.name;
            totalRoutes = data.entity.totalRoutes;
            totalServices = data.entity.totalServices;
            MemoryLimit = data.entity.memoryLimit;
            if (data.entity.nonBasicServicesAllowed) {
                paidServices = "paid services allowed";
            } else {
                paidServices = "paid services disallowed";
            }
        }

        // GET ORG SUMMARY CALLBACK
        var procCallbackGetOrgSummary = function (data) {

            spaces = "";
            for (var i = 0; i < data.spaces.length; i++) {
                if (i != 0) spaces += " , ";
                spaces += data.spaces[i].name;
            }
            $("#modalbody").html("<b>Domains</b> : " + domainNames +
                "<br><b>Quota</b> : " + quotaName + " (" + MemoryLimit + "M memory limit, " + totalRoutes + " routes, " + totalServices + " services, " + paidServices + ")" +
                "<br><b>Spaces</b> : " + spaces);
        }


        // GET SPACE SUMMARY
        var procGetSpaceSummary = function (spaceId, spaceQuotaId) {
            $("#modaltitle").html("영역 상세 정보");
            $("#modalbody").html("데이터를 불러오고 있습니다.");

            if(spaceQuotaId != "null") {
                getOrgsForAdmin("/orgSpaceList/"+spaceQuotaId+"/SpaceQuota", {
                    spaceName: spaceId
                }, procCallbackGetSpaceQuota);
            }
            else{
                spaceQuotaText = "";
            }
            getOrgsForAdmin(V2_URL + "/spaces/"+spaceId+"/summary", {
               spaceName: spaceId
            }, procCallbackGetSpaceSummary);
        };


        // GET ORG SUMMARY CALLBACK
        var procCallbackGetSpaceQuota = function (data) {

            if (data.spaceQuota != null) {
                var spaceQuota = JSON.parse(data.spaceQuota);
                quotaNameSpace = spaceQuota.entity.name;
                totalRoutesSpace = spaceQuota.entity.total_routes;
                totalServicesSpace = spaceQuota.entity.total_services;
                if (spaceQuota.entity.non_basic_services_allowed) {
                    paidServicesSpace = "paid services allowed";
                } else {
                    paidServicesSpace = "paid services disallowed";
                }
                spaceQuotaText = quotaNameSpace + " (" + spaceQuota.entity.memory_limit + "M memory limit, " + totalRoutesSpace + " routes, " + totalServicesSpace + " services, " + paidServicesSpace + ")";
            } else {
                spaceQuotaText = "";
            }
        }

        // GET ORG SUMMARY CALLBACK
        var procCallbackGetSpaceSummary = function (data) {

            apps = "";
            for (var i = 0; i < data.applications.length; i++) {
                if (i != 0) apps += " , ";
                apps += data.applications[i].name;
            }

            services = "";
            for (var i = 0; i < data.services.length; i++) {
                if (i != 0) services += " , ";
                services += data.services[i].name;
            }

            $("#modalbody").html("<b>Org</b> : " + data.name + "<br><b>Apps</b> : " + apps +
                "<br><b>Domains</b> : " + domainNames +
                "<br><b>Services</b> : " + services +
                "<br><b>Quota</b> : " + spaceQuotaText);
        }




        function searchOrg() {
            $('#spaceTable').hide();
            $('#noSpaceMessage').hide();

            var input = $("#org-searchKeyword").val().toLowerCase();

            if(input === ""){
                $('#noSearchOrgMessage').hide();
                $('#orgTable').show();
                $('#orgTable tr[id*="orgSpaceViewArea-table-content-org-no"]').show();

            } else{
                $('#orgTable tr[id*="orgSpaceViewArea-table-content-org-no"]').hide();

                if($('#orgTable tr[name*="'+input+'"]').length > 0){
                    $('#noSearchOrgMessage').hide();
                    $('#orgTable').show();
                    $('#orgTable tr[name*="'+input+'"]').show();

                } else{
                    $('#orgTable').hide();
                    $('#noSearchOrgMessage').show();
                }
            }
        }

        function changeTableContentColor(orgOrSpace) {
            var listToShow = $('#'+orgOrSpace+'Table div[id*="orgSpaceViewArea-table-content-'+orgOrSpace+'-no"]:not([style*="display: none"])')
            $.each(listToShow, function (eventId, eventData){
                if(eventId%2 === 1){
                    document.getElementById(eventData.id).className = "mainViewArea-table-content content-v2"
                } else {
                    document.getElementById(eventData.id).className = "mainViewArea-table-content"
                }
            });
        }

        /*]]>*/
    </script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header></header>
    <div layout:fragment="content">
        <section class="content-header">
            <h3>
                조직 및 공간 조회
            </h3>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"></h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text"  name="table_search" class="form-control pull-right" placeholder="Search" id="org-searchKeyword" onkeyup="searchOrg()"/>
                                    <div class="input-group-btn" >
                                        <button type="submit"  class="btn btn-default" onclick="searchOrg()"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>

                            </div>
                                <div style="height: 10px">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12" style="width: 49%">
                                <table class="table table-bordered table-striped dataTable" style="text-align: center; display: none" id="orgTable" >
                                </table>
                                <div id="noOrgMessage" class='box-header with-border' style="display: none">생성된 조직이 없습니다.</div>
                                <div id="noSearchOrgMessage" class='box-header with-border' style="display: none">검색된 조직이 없습니다.</div>
                            </div>
                            <div class="box-body table-responsive no-padding" style="width: 49%">
                                <table class="table table-bordered table-striped dataTable" style="text-align: center; display: none" id="spaceTable" >
                                </table>
                                <div id="noSpaceMessage" class='box-header with-border' style="display: none">생성된 공간이 없습니다.</div>
                            </div>
                        <!-- /.box-header -->

                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>
            </div>
            <div class="modal fade" id="modal-default" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="modaltitle">Default Modal</h4>
                    </div>
                    <div class="modal-body" id="modalbody">
                        <p>One fine body…</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


</section>
    </div>
    <footer></footer>
</div>

</body>
</html>