<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>
    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">

        <!-- tabNumber hidden value :: tabs -->
        <input type="hidden" id="tabName" value="STARTER"/>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                카탈로그 관리
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
<!-- -->
                    <div class="box">
                        <div class="box-header with-border">

                            <div class="nav-tabs-custom" style="margin-bottom:0px;">
                                <ul class="nav nav-tabs">

                                    <li class="header no-padding active"><a href="#starterTab" data-toggle="tab" aria-expanded="true"  data-tab-type="starter">앱 템플릿</a></li>
                                    <li class="header no-padding"><a href="#devTab" data-toggle="tab" aria-expanded="false" data-tab-type="dev">앱 개발환경</a></li>
                                    <li class="header no-padding"><a href="#serviceTab" data-toggle="tab" aria-expanded="false" data-tab-type="service">앱 서비스</a></li>

                                </ul>
                            </div>

                            <!-- tab-content -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="starterTab">

                                    <div class="box box-solid">
                                        <div id="starterTabLoadingBar" class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
                                        <div class="box-header">
                                            <!--  -->
                                            <h3 class="box-title"></h3>

                                            <div class="box-tools col-xs-6 col-sm-3 pull-left" style="position:static;padding-left: 0px;">
                                                <!--<div class="has-feedback">-->
                                                    <!--<input type="text" class="form-control input-sm" id="searchKeyword" onkeyup="procSearchByKeyword(event,'org');" placeholder="이름으로 검색"/>-->
                                                    <!--<span class="glyphicon glyphicon-search form-control-feedback"></span>-->
                                                <!--</div>-->
                                            </div>

                                            <div class="col-xs-6 col-sm-2 pull-right" style="padding-right: 0px;">
                                                <button type="button" class="btn btn-block btn-primary btn-sm" name="registBtn" data-title-text="앱 템플릿 등록" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#catalogFormModal">
                                                    앱 템플릿 등록
                                                </button>
                                            </div>
                                            <!--  -->
                                        </div>

                                        <div class="box-body no-padding table-responsive"> <!-- table-responsive -->
                                            <table class="table table-striped text-center" style="word-break:break-all;">
                                                <colgroup>
                                                    <col class="col-xs-3"/>
                                                    <col class="col-xs-5"/>
                                                    <col class="col-xs-2"/>
                                                    <col class="col-xs-2"/>
                                                </colgroup>
                                                <thead>
                                                <tr class="text-center">
                                                    <th>이름</th>
                                                    <th>요약</th>
                                                    <th>분류</th>
                                                    <th>공개</th>
                                                </tr>
                                                </thead>
                                                <tbody id="serviceList">
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div><!-- /.tab-pane tab_1 -->


                                <div class="tab-pane fade" id="devTab">
                                    <div class="box box-solid">
                                        <div id="devTabLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                                        <div class="box-header"></div>

                                        <div class="box-body no-padding table-responsive">
                                            <table class="table table-striped text-center" style="word-break:break-all;"> <!-- table-responsive -->
                                                <colgroup>
                                                    <col class="col-xs-3"/>
                                                    <col class="col-xs-5"/>
                                                    <col class="col-xs-2"/>
                                                    <col class="col-xs-2"/>
                                                </colgroup>
                                                <thead>
                                                <tr class="text-center">
                                                    <th>이름</th>
                                                    <th>요약</th>
                                                    <th>분류</th>
                                                    <th>공개</th>
                                                </tr>
                                                </thead>
                                                <tbody id="devList">
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->

                                    </div><!-- /.box -->
                                </div><!-- /.tab-pane tab_2 -->

                                <div class="tab-pane fade" id="serviceTab">
                                    <div class="box box-solid">
                                        <div id="serviceTabLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                                        <div class="box-header"></div>

                                        <div class="box-body no-padding table-responsive"> <!-- table-responsive -->
                                            <table class="table table-striped text-center" style="word-break:break-all;">
                                                <colgroup>
                                                    <col class="col-xs-3"/>
                                                    <col class="col-xs-5"/>
                                                    <col class="col-xs-2"/>
                                                    <col class="col-xs-2"/>
                                                </colgroup>
                                                <thead>
                                                <tr class="text-center">
                                                    <th>이름</th>
                                                    <th>요약</th>
                                                    <th>분류</th>
                                                    <th>공개</th>
                                                </tr>
                                                </thead>
                                                <tbody id="templeteList">
                                                <tr>
                                                    <td>9</td>
                                                    <td>10</td>
                                                    <td>11</td>
                                                    <td>12</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->

                                    </div><!-- /.box -->
                                </div><!-- /.tab-pane tab_3 -->


                             </div><!-- /.tab-content -->


                        </div>
                    </div><!-- /.div -->





<!-- -->

                </div>

                <!--<div class="col-xs-12">-->
                    <!--<div class="box">-->
                        <!--&lt;!&ndash; 탭 구현설정1 &ndash;&gt;-->
                        <!--<div class="nav-tabs-custom" style="cursor: move;">-->
                            <!-- Tabs box -->
                            <!--<ul class="nav nav-tabs pull-right ui-sortable-handle">-->
                                <!--&lt;!&ndash; chart - 03 &ndash;&gt;-->
                                <!--<li id="SERVICE_PACK"><a href="#SERVICE_PACK_TAB" data-toggle="tab"-->
                                                         <!--aria-expanded="false"-->
                                                         <!--onclick="appbutton('SERVICE_PACK')">-->
                                    <!--<i class="fa fa-fw fa-gear"></i>앱 서비스</a></li>-->
                                <!--&lt;!&ndash; chart - 02 &ndash;&gt;-->
                                <!--<li id="DEVELOP_PACK"><a href="#DEVELOP_PACK_TAB" data-toggle="tab"-->
                                                         <!--onclick="appbutton('DEVELOP_PACK')"-->
                                                         <!--aria-expanded="false">-->
                                    <!--<i class="fa fa-fw fa-code-fork"></i>앱 개발환경</a></li>-->
                                <!--&lt;!&ndash; chart - 01&ndash;&gt;-->
                                <!--<li id="STARTER"><a href="#STARTER_TAB" data-toggle="tab"-->
                                                    <!--aria-expanded="true"-->
                                                    <!--onclick="appbutton('STARTER')">-->
                                    <!--<i class="fa fa-fw fa-bookmark-o"></i>앱 템플릿</a></li>-->
                            <!--</ul>-->

                            <!--<div class="tab-content no-padding">-->
                                <!--&lt;!&ndash; chart - 01 &ndash;&gt;-->
                                <!--<div class="chart tab-pane active" id="STARTER_TAB"-->
                                     <!--style="position: relative; height: 600px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">-->
                                    <!--<div id="starterListMessageArea" class="table-responsive">-->
                                        <!--<table class="table table-striped">-->
                                            <!--<tr>-->
                                                <!--<th style="width: 10px">#</th>-->
                                                <!--<th>이름</th>-->
                                                <!--<th>요약</th>-->
                                                <!--<th>분류</th>-->
                                                <!--<th>공개</th>-->
                                            <!--</tr>-->
                                            <!--<tbody id="starterListTableArea">-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                        <!--&lt;!&ndash;<div class="box-footer clearfix"></div>&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<form id="starterHiddenForm">-->
                                        <!--<input type="hidden" id="starterHiddenFormNo" name="no" value=""/>-->
                                    <!--</form>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; chart - 02 &ndash;&gt;-->
                                <!--<div class="chart tab-pane" id="DEVELOP_PACK_TAB"-->
                                     <!--style="position: relative; height: 600px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">-->
                                    <!--<div id="buildPackMessageArea" class="table-responsive">-->
                                        <!--<table class="table table-striped">-->
                                            <!--<tr>-->
                                                <!--<th style="width: 10px">#</th>-->
                                                <!--<th>이름</th>-->
                                                <!--<th>요약</th>-->
                                                <!--<th>분류</th>-->
                                                <!--<th>공개</th>-->
                                            <!--</tr>-->
                                            <!--<tbody id="buildPackTableArea">-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                        <!--&lt;!&ndash;<div class="box-footer clearfix"></div>&ndash;&gt;-->
                                        <!--<form id="BuildPackHiddenForm">-->
                                            <!--<input type="hidden" id="BuildPackHiddenFormNo" name="no" value=""/>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; chart - 03 &ndash;&gt;-->
                                <!--<div class="chart tab-pane" id="SERVICE_PACK_TAB"-->
                                     <!--style="position: relative; height: 600px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">-->
                                    <!--<div id="servicePackMessageArea" class="table-responsive">-->
                                        <!--<table class="table table-striped">-->
                                            <!--<tr>-->
                                                <!--<th style="width: 10px">#</th>-->
                                                <!--<th>이름</th>-->
                                                <!--<th>요약</th>-->
                                                <!--<th>분류</th>-->
                                                <!--<th>공개</th>-->
                                            <!--</tr>-->
                                            <!--<tbody id="servicePackTableArea">-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                        <!--&lt;!&ndash;<div class="box-footer clearfix"></div>&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<form id="ServicePackHiddenForm">-->
                                        <!--<input type="hidden" id="ServicePackHiddenFormNo" name="no" value=""/>-->
                                    <!--</form>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; ▼ <div class="tab-content no-padding">&ndash;&gt;-->
                            <!--</div>-->
                            <!-- ▼ tab class end -->


                        <!--</div>-->
                        <!--&lt;!&ndash; ▼row: 12   <div class="tab-content no-padding">&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer></footer>
</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/
    var STARTER_LIST_PROC_URL = "/v2/starterpacks";
    var STARTER_INSERT_FORM_URL = "/starterpackForm";
    var DEVELOP_PACK_LIST_PROC_URL = "/v2/developpacks";
    var DEVELOP_PACK_INSERT_FORM_URL = "/developpackForm";
    var SERVICE_PACK_LIST_PROC_URL = "/v2/servicepacks";
    var SERVICE_PACK_INSERT_FORM_URL = "/servicepackForm";
    var CLIENT_LIST = new Array();
    var TAB_NAME = /*[[${TAB_NAME}]]*/ null;
    var STARTER_PACK = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).TAB_NAME_STARTER}]]*/ null;
    var DEVELOP_PACK = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).TAB_NAME_DEVELOP_PACK}]]*/ null;
    var SERVICE_PACK = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).TAB_NAME_SERVICE_PACK}]]*/ null;


    //  procGetSearchList
    $(document.body).ready(function () {
        getStarterList();
//        getBuildPackList();
//        getServicePackList();

        if (TAB_NAME != null) {
            $("#" + STARTER_PACK + "_TAB").removeClass('active');
            $("#" + DEVELOP_PACK + "_TAB").removeClass('active');
            $("#" + SERVICE_PACK + "_TAB").removeClass('active');
            $("#" + TAB_NAME).addClass('active');
            $("#" + TAB_NAME + "_TAB").addClass('active');
            appbutton(TAB_NAME);
        } else {
            $("#STARTER").addClass('active');
        }

    });

    getSearchList = function () {
        getStarterList();
//        getBuildPackList();
//        getServicePackList();
    }


    // CHECK SEARCH FORM KEY EVENT
    var procCheckSearchFormKeyEvent = function (e) {
        if (e.keyCode == 13 && e.srcElement.type != 'textarea') {
            procGetSearchList();
        }
    };

    function procSearchByKeyword(e) {

        $('#starterListTableArea').hide(); //<tbody id> 값
        $('#starterList').empty();

        var searchKeyword = $(e.target).val();
        var searchResult = new Array();
        var newIdx = 0;
        for (var i = 0; i < CLIENT_LIST.length; i++) {

            if (CLIENT_LIST[i].includes(document.getElementById('searchKeyword').value)) {
                searchResult[newIdx++] = CLIENT_LIST[i];
            }
        }

        CURRENT_LIST = searchResult;
        var reqParam = {'searchKeyword': searchKeyword};
        getStarterList(reqParam);
    }

    // BIND :: BUTTON EVENT
    $("#btnSearch").on("click", function () {
        //procGetSearchList();

    });

    // GET StarterList
    var getStarterList = function () {
        var searchKeyword = "";//document.getElementById('searchKeyword').value;
        var param;
        if (null != searchKeyword && "" != searchKeyword) {
            param = {"searchKeyword": searchKeyword};
        }
        procCallAjax(STARTER_LIST_PROC_URL, "GET", param, procCallbackGetStarterList, $('#starterTabLoadingBar') );
    };

    // GET BuildPackList
    var getBuildPackList = function (reqParam) {
        var searchKeyword = "";//document.getElementById('searchKeyword').value;
        var param;
        if (null != searchKeyword && "" != searchKeyword) {
            param = {"searchKeyword": searchKeyword};
        }
        procCallAjax2(DEVELOP_PACK_LIST_PROC_URL, "GET", param, procCallbackGetBuildPackList);
    };

    // GET ServicePackList
    var getServicePackList = function () {
        var searchKeyword = "";//document.getElementById('searchKeyword').value;
        var param = "";
        if (null != searchKeyword && "" != searchKeyword) {
            param = {"searchKeyword": searchKeyword};
        }
        procCallAjax2(SERVICE_PACK_LIST_PROC_URL, "GET", param, procCallbackGetServicePackList);

    };

    // GET LIST CALLBACK StarterList
    var procCallbackGetStarterList = function (data) {
        var objTable = $("#serviceList");
        var listLength = data.list.length;
        var htmlString = [];

        objTable.html('');

        if (listLength < 1) {
            objTable.append('<tr><td colspan="4">'+/*[[#{common.info.empty.data}]]*/ ""+'</td></tr>');
            objTable.show();

        } else {
            var catalogList = data.list;

            $.each(catalogList, function (id, data) {
                var useYnClass = (data.useYn == 'Y')  ? "bg-green"  : "bg-red" ;
                htmlString.push('<tr style="cursor:pointer;" onclick="procMoveStarterInsertForm(\'' + data.no + '\')">'
                        + '<td>' + data.name + '</td>'
                        + '<td>' + data.summary + '</td>'
                        + '<td>' + data.classificationValue + '</td>'
                        + '<td><span class="label label-default '+useYnClass+'">' + data.useYn + '</span></td>'
                        + '</tr>');
                });

            objTable.append(htmlString);
        }
    };

    // GET LIST CALLBACK BuildPackList
    var procCallbackGetBuildPackList = function (data) {
        var objTable = $('#buildPackListTable');
        var objTableArea = $('#buildPackTableArea');
        var objMessageArea = $('#buildPackMessageArea');
        var listLength = data.list.length;
        var htmlString = [];

        objTableArea.html('');

        if (listLength < 1) {
            objMessageArea.append('<spring:message code="common.info.empty.data" />');
            objMessageArea.show();

        } else {
            var catalogList = data.list;

            for (var i = 0; i < listLength; i++) {
                htmlString.push('<tr style="cursor:pointer;" onclick="procMoveBuildPackInsertForm(\'' + catalogList[i].no + '\')">'
                    + '<td>' + (i + 1) + '</td>'
                    + '<td>' + catalogList[i].name + '</td>'
                    + '<td>' + catalogList[i].summary + '</td>'
                    + '<td>' + catalogList[i].classificationValue + '</td>'
                    + '<td><span class="label label-default">' + catalogList[i].useYn + '</span></td>'
                    + '</tr>');
            }
            objTableArea.append(htmlString).trigger("create");
        }
    };

    // GET LIST CALLBACK ServicePackList
    var procCallbackGetServicePackList = function (data) {
        var objTable = $('#servicePackListTable');
        var objTableArea = $('#servicePackTableArea');
        var objMessageArea = $('#servicePackMessageArea');
        var listLength = data.list.length;
        var htmlString = [];

        objTableArea.html('');

        if (listLength < 1) {
            objMessageArea.append('<spring:message code="common.info.empty.data" />');
            objMessageArea.show();

        } else {
            var catalogList = data.list;

            for (var i = 0; i < listLength; i++) {
                htmlString.push('<tr style="cursor:pointer;" onclick="procMoveServicePackInsertForm(\'' + catalogList[i].no + '\')">'
                    + '<td>' + (i + 1) + '</td>'
                    + '<td>' + catalogList[i].name + '</td>'
                    + '<td>' + catalogList[i].summary + '</td>'
                    + '<td>' + catalogList[i].classificationValue + '</td>'
                    + '<td><span class="label label-default">' + catalogList[i].useYn + '</span></td>'
                    + '</tr>');
            }
            objTableArea.append(htmlString).trigger("create");
        }

    };

    // MOVE PAGE StarterInsertForm
    var procMoveStarterInsertForm = function (reqParam) {
        var hiddenForm = $('#starterHiddenForm');
        $('#starterHiddenFormNo').val(reqParam);
        hiddenForm.attr({action: STARTER_INSERT_FORM_URL, method: "POST"}).submit();
    };

    // MOVE PAGE BuildPackInsertForm
    var procMoveBuildPackInsertForm = function (reqParam) {
        var hiddenForm = $('#BuildPackHiddenForm');
        $('#BuildPackHiddenFormNo').val(reqParam);
        hiddenForm.attr({action: DEVELOP_PACK_INSERT_FORM_URL, method: "POST"}).submit();
    };

    // MOVE PAGE ServicePackInsertForm
    var procMoveServicePackInsertForm = function (reqParam) {
        var hiddenForm = $('#ServicePackHiddenForm');
        $('#ServicePackHiddenFormNo').val(reqParam);
        hiddenForm.attr({action: SERVICE_PACK_INSERT_FORM_URL, method: "POST"}).submit();
    };

    // MOVE PAGE Button Form
    var appbutton = function (tabName) {
        $("#btn_insert").text("");
        if (tabName == SERVICE_PACK) {
            $("#btn_insert").text("서비스 등록");
        } else if (tabName == DEVELOP_PACK) {
            $("#btn_insert").text("앱 개발환경 등록");

        } else if (tabName == STARTER_PACK) {
            $("#btn_insert").text("앱 템플릿 등록");
        }
        $("#tabName").val(tabName);
    }

    // MOVE TabForm
    var procMoveForm = function () {

        var tabName = $("#tabName").val();

        if (tabName == STARTER_PACK) {
            procMovePage(STARTER_INSERT_FORM_URL);
        } else if (tabName == DEVELOP_PACK) {
            procMovePage(DEVELOP_PACK_INSERT_FORM_URL);
        } else if (tabName == SERVICE_PACK) {
            procMovePage(SERVICE_PACK_INSERT_FORM_URL);
        }
    }
    /*]]>*/
</script>

</body>
</html>
