<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>

    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                카탈로그 관리
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- 탭 구현설정1 -->
                        <div class="nav-tabs-custom" style="cursor: move;">
                            <!-- Tabs within a box -->
                            <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                <!-- chart - 03 -->
                                <li class=""><a href="#app-service" data-toggle="tab" aria-expanded="false">
                                    <i class="fa fa-fw fa-gear"></i>Service</a></li>
                                <!-- chart - 02 -->
                                <li class=""><a href="#app-development-environment" data-toggle="tab"
                                                aria-expanded="false">
                                    <i class="fa fa-fw fa-code-fork"></i>Development environment</a></li>
                                <!-- chart - 01-->
                                <li class="active"><a href="#app-template" data-toggle="tab" aria-expanded="true">
                                    <i class="fa fa-fw fa-bookmark-o"></i> Template</a></li>
                                <!-- App Icons-->
                                <li class="pull-left header"><i class=" fa fa-fw fa-cloud"></i> App</li>
                            </ul>

                            <!-- Search a box -->
                            <div class="box-header">
                                <div class="input-group input-group-sm pull-right header" style="width: 200px;">
                                    <input type="text" name="table_search" class="form-control pull-right"
                                           placeholder="Search"/>

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content no-padding">
                                <!-- chart - 01 -->
                                <div class="chart tab-pane active" id="app-template"
                                     style="position: relative; height: 600px;">
                                    <div id="starterListMessageArea" class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>이름</th>
                                                <th>요약</th>
                                                <th>분류</th>
                                                <th>공개</th>
                                            </tr>
                                            <tbody id="starterListTableArea">

                                            </tbody>
                                        </table>

                                        <div class="box-footer clearfix">
                                            <button th:type="button" class="btn btn-sm btn-primary btn-flat pull-right"
                                                    onclick="procMovePage(STARTER_INSERT_FORM_URL)">
                                                앱 템플릿 등록
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <form id="starterHiddenForm">
                                    <input type="hidden" id="starterHiddenFormNo" name="no" value=""/>
                                </form>

                                <!-- chart - 02 -->
                                <div class="chart tab-pane" id="app-development-environment"
                                     style="position: relative; height: 600px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                    <div id="buildPackMessageArea" class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>이름</th>
                                                <th>요약</th>
                                                <th>분류</th>
                                                <th>공개</th>
                                            </tr>

                                            <tbody id="buildPackTableArea">

                                            </tbody>
                                        </table>
                                        <div class="box-footer clearfix">
                                            <button th:type="button" class="btn btn-sm btn-primary btn-flat pull-right"
                                                    onclick="procMovePage(BUILD_PACK_INSERT_FORM_URL)">
                                                앱 개발환경 등록
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- chart - 03 -->
                                <div class="chart tab-pane" id="app-service"
                                     style="position: relative; height: 600px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                    <div id="servicePackMessageArea" class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>이름</th>
                                                <th>요약</th>
                                                <th>분류</th>
                                                <th>공개</th>
                                            </tr>
                                            <tbody id="servicePackTableArea">

                                            </tbody>
                                        </table>
                                        <div class="box-footer clearfix">
                                            <button th:type="button" class="btn btn-sm btn-primary btn-flat pull-right"
                                                    onclick="procMovePage(SERVICE_PACK_INSERT_FORM_URL)">
                                                서비스 등록
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- ▼ <div class="tab-content no-padding">-->
                            </div>
                            <!-- ▼ tab class end -->
                        </div>
                        <!-- ▼row: 12   <div class="tab-content no-padding">-->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/

    //    var TAB_NAME = "<c:out value='${TAB_NAME}' default='' />";
    var TAB_NAME;
    var STARTER_LIST_PROC_URL = "/catalog/starterNamesList";
    var STARTER_INSERT_FORM_URL = "/catalog/starterForm";
    var BUILD_PACK_LIST_PROC_URL = "/catalog/buildPackCatalogList";
    var BUILD_PACK_INSERT_FORM_URL = "/catalog/buildPackForm";
    var SERVICE_PACK_LIST_PROC_URL = "/catalog/servicePackCatalogList";
    var SERVICE_PACK_INSERT_FORM_URL = "/catalog/servicePackForm";

    $(document.body).ready(function () {
        procSelectTab(TAB_NAME);
    });


    // SELECT TAB
    var procSelectTab = function (reqTabName) {
        if ("" == reqTabName) return false;

        $('.tab-pane.fade').removeClass('active in');
        $('#' + reqTabName).addClass('active in');
        $('#catalogTabs_' + reqTabName).tab("show");

        $("#STARTER").hide();
        $("#BUILD_PACK").hide();
        $("#SERVICE_PACK").hide();
        $("#" + reqTabName).show();
    };


    // CHECK SEARCH FORM KEY EVENT
    var procCheckSearchFormKeyEvent = function (e) {
        if (e.keyCode == 13 && e.srcElement.type != 'textarea') {
            procGetSearchList();
        }
    };


    // GET SEARCH LIST
    var procGetSearchList = function () {
        var doc = document;
        var reqSearchType = doc.getElementById('searchType').value;
        var reqSearchTypeColumn = doc.getElementById('searchTypeColumn').value;
        var reqSearchTypeUseYn = doc.getElementById('searchTypeUseYn').value;
        var reqSearchKeyword = doc.getElementById('searchKeyword').value.toLowerCase();

        var param = {
            searchKeyword: reqSearchKeyword,
            searchTypeColumn: reqSearchTypeColumn,
            searchTypeUseYn: reqSearchTypeUseYn
        };

        var objDivStarter = $("#divStarter");
        var objDivBuildPack = $("#divBuildPack");
        var objDivServicePack = $("#divServicePack");

        objDivStarter.show();
        objDivBuildPack.show();
        objDivServicePack.show();

        if (/*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).TAB_NAME_BUILD_PACK}]]*/ == reqSearchType
        )
        {
            getBuildPackList(param);
            objDivStarter.hide();
            objDivServicePack.hide();

        }
        else
        if (/*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).TAB_NAME_SERVICE_PACK}]]*/ == reqSearchType
        )
        {

            getServicePackList(param);
            objDivStarter.hide();
            objDivBuildPack.hide();

        }
        else
        if (/*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).TAB_NAME_STARTER}]]*/ == reqSearchType
        )
        {
            getStarterList(param);
            objDivBuildPack.hide();
            objDivServicePack.hide();

        }
        else
        {
            getStarterList(param);
            getBuildPackList(param);
            getServicePackList(param);
        }
    };


    // BIND :: BUTTON EVENT
    $("#btnSearch").on("click", function () {
        procGetSearchList();
    });


    //   procGetSearchList
    $(document.body).ready(function () {
        getStarterList();
        getBuildPackList();
        getServicePackList();
    });


    // GET StarterList
    var getStarterList = function (reqParam) {
        var param = {};

        if (null != reqParam && "" != reqParam) param = reqParam;

        procCallAjax2(STARTER_LIST_PROC_URL, "GET", null, procCallbackGetStarterList);
    };


    // GET BuildPackList
    var getBuildPackList = function (reqParam) {
        var param = {};

        if (null != reqParam && "" != reqParam) param = reqParam;

        procCallAjax2(BUILD_PACK_LIST_PROC_URL, "GET", null, procCallbackGetBuildPackList);
    };


    // GET ServicePackList
    var getServicePackList = function (reqParam) {
        var param = {};

        if (null != reqParam && "" != reqParam) param = reqParam;

        procCallAjax2(SERVICE_PACK_LIST_PROC_URL, "GET", null, procCallbackGetServicePackList);

    };


    // GET LIST CALLBACK StarterList
    var procCallbackGetStarterList = function (data) {

        var objTableArea = $('#starterListTableArea');
        var objMessageArea = $('#starterListMessageArea');
        var listLength = data.list.length;
        var htmlString = [];

        objTableArea.html('');

        if (listLength < 1) {
            objMessageArea.append('<spring:message code="common.info.empty.data" />');
            objMessageArea.show();

        } else {
            var catalogList = data.list;

            for (var i = 0; i < listLength; i++) {
                reqParam = {name: catalogList[i].name};
                htmlString.push('<tr style="cursor:pointer;" onclick="procMoveStarterInsertForm(\'' + catalogList[i].no + '\')">'
                    + '<td>' + (i + 1) + '</td>'
                    + '<td>' + catalogList[i].name + '</td>'
                    + '<td>' + catalogList[i].summary + '</td>'
                    + '<td>' + catalogList[i].classificationValue + '</td>'
                    + '<td>' + catalogList[i].useYn + '</td>'
                    + '</tr>');
            }
            objTableArea.append(htmlString).trigger("create");
        }
    };


    // GET LIST CALLBACK BuildPackList
    var procCallbackGetBuildPackList = function (data) {

        var objTableArea = $('#buildPackTableArea');
        var objMessageArea = $('#buildPackMessageArea');
        var listLength = data.list.length;
        var htmlString = [];

        objTableArea.html('');

        if (listLength < 1) {
            objMessageArea.append('<spring:message code="common.info.empty.data" />');
            objMessageArea.show();

        } else {
            var catalogList = data.list;

            for (var i = 0; i < listLength; i++) {
                htmlString.push('<tr style="cursor:pointer;" onclick="procMoveBuildPackInsertForm(\'' + catalogList[i].no + '\')">'
                    + '<td>' + (i + 1) + '</td>'
                    + '<td>' + catalogList[i].name + '</td>'
                    + '<td>' + catalogList[i].summary + '</td>'
                    + '<td>' + catalogList[i].classificationValue + '</td>'
                    + '<td>' + catalogList[i].useYn + '</td>'
                    + '</tr>');
            }
            objTableArea.append(htmlString).trigger("create");
            objTable.append(htmlString).trigger("create");
        }
    };


    // GET LIST CALLBACK ServicePackList
    var procCallbackGetServicePackList = function (data) {

        var objTable = $('#servicePackTableArea');
        var objMessageArea = $('#servicePackMessageArea');
        var listLength = data.list.length;
        var htmlString = [];

        objTable.html('');

        if (listLength < 1) {
            objMessageArea.append('<spring:message code="common.info.empty.data" />');
            objMessageArea.show();

        } else {
            var catalogList = data.list;

            for (var i = 0; i < listLength; i++) {
                htmlString.push('<tr style="cursor:pointer;" onclick="procMoveServicePackInsertForm(\'' + catalogList[i].no + '\')">'
                    + '<td>' + (i + 1) + '</td>'
                    + '<td>' + catalogList[i].name + '</td>'
                    + '<td>' + catalogList[i].summary + '</td>'
                    + '<td>' + catalogList[i].classificationValue + '</td>'
                    + '<td>' + catalogList[i].useYn + '</td>'
                    + '</tr>');
            }
            objTable.append(htmlString).trigger("create");
        }
    };


    // MOVE PAGE StarterInsertForm
    var procMoveStarterInsertForm = function (reqParam) {
        var hiddenForm = $('#starterHiddenForm');
        $('#starterHiddenFormNo').val(reqParam);
        hiddenForm.attr({action: STARTER_INSERT_FORM_URL, method: "POST"}).submit();
    };


    // MOVE PAGE BuildPackInsertForm
    var procMoveBuildPackInsertForm = function (reqParam) {
        var hiddenForm = $('#BuildPackHiddenForm');
        $('#BuildPackHiddenFormNo').val(reqParam);
        hiddenForm.attr({action: BUILD_PACK_INSERT_FORM_URL, method: "POST"}).submit();
    };


    // MOVE PAGE ServicePackInsertForm
    var procMoveServicePackInsertForm = function (reqParam) {
        var hiddenForm = $('#ServicePackHiddenForm');
        $('#ServicePackHiddenFormNo').val(reqParam);
        hiddenForm.attr({action: SERVICE_PACK_INSERT_FORM_URL, method: "POST"}).submit();
    };

    /*]]>*/
</script>

</body>
</html>
