<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>

    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                카탈로그 관리
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="selectbox select1">
                                        <label for="searchType">검색유형</label>
                                        <select id="searchType" name="searchType"
                                                class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;"
                                                tabindex="-1"
                                                aria-hidden="true">
                                            <option selected="selected"
                                                    th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).SEARCH_TYPE_ALL}">
                                                전체
                                            </option>
                                            <option th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).TAB_NAME_STARTER}">
                                                앱 템플릿
                                            </option>
                                            <option th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).TAB_NAME_BUILD_PACK}">
                                                앱 개발환경
                                            </option>
                                            <option th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).TAB_NAME_SERVICE_PACK}">
                                                앱 서비스
                                            </option>
                                        </select>
                                        <span class="select2 select2-container select2-container--default select2-container--below"
                                              dir="ltr" style="width: 100%;">
                                        <span class="selection"></span>
                                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                                        </span>
                                    </div>
                                    <div class="selectbox select2">
                                        <label for="searchTypeColumn">검색항목</label>
                                        <select id="searchTypeColumn" name="searchTypeColumn"
                                                class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;"
                                                tabindex="-1"
                                                aria-hidden="true">
                                            <option selected="selected"
                                                    th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).SEARCH_TYPE_ALL}">
                                                전체
                                            </option>
                                            <option th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).SEARCH_TYPE_NAME}">
                                                이름
                                            </option>
                                            <option th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).SEARCH_TYPE_SUMMARY}">
                                                요약
                                            </option>
                                        </select>
                                        <span class="select2 select2-container select2-container--default select2-container--below"
                                              dir="ltr" style="width: 100%;">
                                        <span class="selection"></span>
                                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="selectbox select3">
                                        <label for="searchType">공개여부</label>
                                        <select id="searchTypeUseYn" name="searchTypeUseYn"
                                                class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;" tabindex="-1" aria-hidden="true">
                                            <option selected="selected"
                                                    th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).SEARCH_TYPE_ALL}">
                                                전체
                                            </option>
                                            <option th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).USE_YN_Y}">
                                                공개
                                            </option>
                                            <option th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).USE_YN_N}">
                                                비공개
                                            </option>
                                        </select>
                                        <span class="select2 select2-container select2-container--default select2-container--below"
                                              dir="ltr" style="width: 100%;">
                                        <span class="selection"></span>
                                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                                        </span>
                                    </div>
                                    <div class="selectbox select4">
                                        <label for="searchTypeColumn">검색어</label>
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="searchKeyword" class="form-control pull-right"
                                                       placeholder="검색어를 입력하세요"
                                                       onkeypress="procCheckSearchFormKeyEvent(event);"/>
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 탭 구현설정1 -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">앱 템플릿</h3>
                            <!-- [_]창)-->
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <a href="#STARTER" data-toggle="tab" onclick="procSelectTab('STARTER')"
                                       aria-expanded="true"></a>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="">
                            <div id="starterListTableArea" class="table-responsive">
                                <table id="starterListTableAreaT" class="table no-margin">
                                    <thead>
                                    <tr>
                                        <td>이름</td>
                                        <td>요약</td>
                                        <td>분류</td>
                                        <td>공개</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                    <!-- 탭 구현설정 2-->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">앱 개발환경</h3>
                            <!-- [_]창)-->
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <a href="#STARTER" data-toggle="tab" onclick="procSelectTab('STARTER')"
                                       aria-expanded="true"></a>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="">
                            <div id="buildPackMessageArea" class="table-responsive">
                                <table id="buildPackMessageAreaT" class="table no-margin">
                                    <thead>
                                    <tr>
                                        <td>이름</td>
                                        <td>요약</td>
                                        <td>분류</td>
                                        <td>공개</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                    <!-- 탭 구현설정 3-->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">서비스</h3>
                            <!-- [_]창)-->
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <a href="#STARTER" data-toggle="tab" onclick="procSelectTab('STARTER')"
                                       aria-expanded="true"></a>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="">
                            <div id="servicePackTableArea" class="table-responsive">
                                <table id="servicePackTableAreaT" class="table no-margin">
                                    <thead>
                                    <tr>
                                        <td>이름</td>
                                        <td>요약</td>
                                        <td>분류</td>
                                        <td>공개</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                    <!-- 탭 구현하기 끝 -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/
    var error = /*[[${error}]]*/ null;


    /*]]>*/
</script>


</body>
</html>
