<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>

    <!-- Content Header (Page header) -->
    <div layout:fragment="content" class="content-wrapper"
         th:with="UPDATE_CD = ${T(org.openpaas.paasta.portal.web.admin.common.Constants).CUD_U}, INSERT_CD = ${T(org.openpaas.paasta.portal.web.admin.common.Constants).CUD_C} ">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <div th:if=" ${REQUEST_NO != ''} ">
                    앱 개발환경 상세
                </div>
                <div th:if=" ${REQUEST_NO == ''} ">
                    앱 개발환경 등록
                </div>
            </h1>
        </section>

        <!-- Content Header (Page header) -->
        <section class="content">
            <form class="form-horizontal" role="form" id="catalogForm" name="catalogForm">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-default">
                            <!-- /.box-header -->
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-fw fa-chrome"></i> Development environment</h3>
                            </div>

                            <div class="box-body">
                                <!--인스턴스 설정-->
                                <div class="content-box2 col-md-12 col-md-offset-13">
                                    <!--<div class="1">-->
                                    <input type="hidden" id="thumb_image_path" value="${thumb_image_path}"/>
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="name">이름</label>
                                        <input type="text" class="form-control" id="name" name="name"/>
                                    </div>
                                    <br/>
                                    <!--<div class="2">-->
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="classification">분류</label>
                                        <select class="form-control" id="classification"
                                                style="background:url(/resources/images/btn_down.png) no-repeat right; background-color:#fafafa;">
                                        </select>
                                    </div>
                                    <br/>
                                    <!--<div class="3">-->
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="buildPackName">앱 개발환경</label>
                                        <select class="form-control" id="buildPackName" name="buildPackName"
                                                style="background:url(/resources/images/btn_down.png) no-repeat right; background-color:#fafafa;">
                                        </select>
                                    </div>
                                    <br/>
                                    <!--<div class="4">-->
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="thumbnail"> 썸네일<font
                                                style="font-size:13px;color:#ababab;">(50X50)</font></label>
                                        <input type="file" id="thumbnail"/>
                                    </div>

                                    <div class="form-group">
                                        <label id="labelThumbName"></label>
                                        <button id="btnResetImg" type="button" class="btn-del" aria-label="썸네일 지우기">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <br/>
                                    <!--<div class="5">-->
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="appSampleFile"> 앱 샘플</label>
                                        <input type="file" name="files[]" id="appSampleFile"/>
                                        <p class="help-block">파일 첨부는 1개 파일만 가능합니다.</p>
                                    </div>

                                    <div class="form-group">
                                        <button id="btnDeleteAppSampleFile" type="button" class="btn-del mt-30 ml3"
                                                aria-label="파일 지우기">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <br/>
                                    <!--<div class="6">-->
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="useYn_Y">공개</label>
                                        <div>
                                            <label class="radio-inline">
                                                <input type="radio" id="useYn_Y" name="useYn"
                                                       th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).USE_YN_Y}"/>Y
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" id="useYn_N" name="useYn"
                                                       th:value="${T(org.openpaas.paasta.portal.web.admin.common.Constants).USE_YN_N}"/>N
                                            </label>
                                        </div>
                                    </div>
                                    <!--<div class="7">-->
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="summary">요약</label>
                                        <input type="text" class="form-control" id="summary" name="summary"/>
                                    </div>
                                    <br/>
                                    <!--<div class="8">-->
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="description">설명</label>
                                        <textarea class="form-control" rows="5" id="description"></textarea>
                                    </div>
                                    <!--<div class="9"::button>-->
                                    <div class="form-group">
                                        <div class="form-horizontal" align="right" id="statusActivity">
                                            <div class="divButtons">
                                                <div>
                                                    <div th:if=" ${REQUEST_NO != ''} ">
                                                        <button type="button"
                                                                class="btn btn-cancel btn-default btn-sm pull-left label-danger"
                                                                id="btnDelete">삭제
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-cancel btn-default btn-sm"
                                                                id="btnCancel">취소
                                                        </button>
                                                        <button type="button" class="btn btn-save btn-primary btn-sm"
                                                                id="btnRegist">저장
                                                        </button>
                                                    </div>
                                                    <div th:if=" ${REQUEST_NO == ''} ">
                                                        <button type="button"
                                                                class="btn btn-cancel btn-default btn-sm"
                                                                id="btnCancel">취소
                                                        </button>
                                                        <button type="button" class="btn btn-save btn-primary btn-sm"
                                                                id="btnRegist">등록
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  <!--<div class="9"::button/>-->
                                </div><!--<HIDDEN VALUE>-->
                                <input type="hidden" id="orgThumbImgPath" name="orgThumbImgPath" value=""/>
                                <input type="hidden" id="thumbImgPath" name="thumbImgPath" value=""/>
                                <input type="hidden" id="thumbImgName" name="thumbImgName" value=""/>
                                <input type="hidden" id="orgName" name="orgName" value=""/>
                                <input type="hidden" id="appSampleFileName" name="appSampleFileName" value=""/>
                                <input type="hidden" id="appSampleFilePath" name="appSampleFilePath" value=""/>
                                <input type="hidden" id="appSampleFileSize" name="appSampleFileSize" value=""/>
                                <input type="hidden" id="orgAppSampleFileName" name="orgAppSampleFileName" value=""/>
                                <input type="hidden" id="orgAppSampleFilePath" name="orgAppSampleFilePath" value=""/>
                                <input type="hidden" id="orgAppSampleFileSize" name="orgAppSampleFileSize" value=""/>
                            </div> <!-- <div class="box-body"/>>-->
                        </div> <!--<div class="box box-default"/>-->
                    </div>  <!-- row: 12<div class="tab-content no-padding"/>-->
                </div>
            </form>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/
    var CATEGORY_HOME_URL = "/catalogs/DEVELOP_PACK";
    var CATALOG_LIST_PROC_URL = "/v2/developpacks";
    var CATEGORY_LIST_PROC_URL = "/v2/codedetail";  //공통코드 메인페이지로 이동한다.??
    var BUILD_PACK_LIST_PROC_URL = "/v2/buildpacks";
    var PROC_URL = "/v2/developpacks";
    var INSERT_PROC_METHOD = "POST";
    var UPDATE_PROC_METHOD = "PUT";
    var DELETE_PROC_METHOD = "DELETE";
    var CHECK_DELETE_PROC_URL = "/catalog/getCheckDeleteBuildPackCatalogCount";
    var UPLOAD_IMAGE_PROC_URL = "/catalog/uploadThumbnailImage";
    var DELETE_IMAGE_PROC_URL = "/catalog/deleteThumbnailImage";
    var UPLOAD_APP_SAMPLE_PROC_URL = "/catalog/uploadAppSampleFile";
    var DELETE_APP_SAMPLE_PROC_URL = "/catalog/deleteAppSampleFile";
    var BUILD_PACK_CATALOG_ID = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).BUILD_PACK_CATALOG_ID}]]*/ "";
    var REQ_NO = /*[[${REQUEST_NO}]]*/ null;
    var SUCCESS_MSG = /*[[#{common.info.result.success}]]*/ '';
    var FAIL_MSG = /*[[#{common.info.result.fail}]]*/ '';
    var ERROR_MSG = /*[[#{common.system.error.message}]]*/ '';
    var EMPTY_MSG = /*[[#{common.info.empty.req.data}]]*/ '';

    var INIT_MESSAGE = "첨부된 파일이 없습니다.";
    var REQUEST_APP_SAMPLE_FILE;
    var REQUEST_APP_SAMPLE_FILE_OBJECT;
    REQUEST_APP_SAMPLE_FILE_OBJECT = $('#appSampleFile');

    // GET CATEGORY LIST
    var getCategoryList = function () {
        var param = {"groupId": BUILD_PACK_CATALOG_ID};
        procCallAjax2(CATEGORY_LIST_PROC_URL, 'GET', param, procCallbackCategoryList);
    };

    // GET CATEGORY LIST CALLBACK
    var procCallbackCategoryList = function (data) {


        if (RESULT_STATUS_FAIL == data.RESULT) return false;

        var objSelectBox = $('#classification');
        var listLength = data.list.length;
        var htmlString = [];

        for (var i = 0; i < listLength; i++) {
            htmlString.push("<option value='" + data.list[i].key + "'>" + data.list[i].value + "</option>");
        }

        objSelectBox.append(htmlString);

        getBuildPackList();
    };


    // GET BUILD PACK LIST
    var getBuildPackList = function () {
        procCallAjax2(BUILD_PACK_LIST_PROC_URL, 'GET', '', procCallbackBuildPackList);
    };


    // GET BUILD PACK LIST CALLBACK
    var procCallbackBuildPackList = function (data) {
        if (RESULT_STATUS_FAIL == data.RESULT) return false;

        var objSelectBox = $('#buildPackName');
        var listLength = data.resources.length;
        var htmlString = [];
        for (var i = 0; i < listLength; i++) {
            htmlString.push("<option value='" + data.resources[i].entity.name + "'>" + data.resources[i].entity.name + "</option>");
        }

        objSelectBox.append(htmlString);

        var reqAppSampleFileName = $("#appSampleFileName").val();

        if (reqAppSampleFileName == '' || reqAppSampleFileName == null) {
            $('#appSampleFileNameLabel').text(INIT_MESSAGE);
        }


        if (REQ_NO != null && REQ_NO != '') procUpdateForm();
    };


    // UPDATE FORM
    var procUpdateForm = function () {
        var reqNo = REQ_NO;
        if (null == reqNo || "" == reqNo) {
            procAlert("danger", ERROR_MSG);
            return false;
        }

        procCallAjax2(CATALOG_LIST_PROC_URL + "/" + reqNo, 'GET', '', procCallbackUpdateForm);
    };


    // CALL BACK UPDATE FORM
    var procCallbackUpdateForm = function (data) {
        if (RESULT_STATUS_FAIL == data.RESULT) return false;

        if (data.list.length < 1) return false;

        var resultData = data.list[0];
        resultData.name
        var reqName = $('#name');
        var reqOrgName = $('#orgName');
        var reqClassification = $('#classification');
        var reqBuildPackName = $('#buildPackName');
        var reqThumbImgPath = $("#thumbImgPath");
        var reqOrgThumbImgPath = $("#orgThumbImgPath");
        var reqThumbImgName = $("#thumbImgName");
        var reqUseYn = $('#useYn_' + resultData.useYn);
        var reqSummary = $('#summary');
        var reqDescription = $('#description');

        reqName.val(resultData.name);
        reqOrgName.val(resultData.name);
        reqClassification.val(resultData.classification);
        reqBuildPackName.val(resultData.buildPackName);
        reqThumbImgPath.val(resultData.thumbImgPath);
        reqOrgThumbImgPath.val(resultData.thumbImgPath);
        reqThumbImgName.val(resultData.thumbImgName);
        reqUseYn.attr('checked', true);
        reqSummary.val(resultData.summary);
        reqDescription.val(resultData.description);

        var tempThumbImgPath = reqThumbImgPath.val();

        if (null != tempThumbImgPath && "" != tempThumbImgPath) {
            $('#divPreview').attr('style', 'display: block; height: 94px;');
        }

        $('#preview').attr('src', IMAGE_PATH_PREFIX + tempThumbImgPath);
        $("#labelThumbName").text(reqThumbImgName.val());

        var appSampleFileName = resultData.appSampleFileName;

        if ('' != appSampleFileName) {
            var appSampleFilePath = resultData.appSampleFilePath;
            var appSampleFileSize = resultData.appSampleFileSize;

            var reqAppSampleFileName = $("#appSampleFileName");
            var reqAppSampleFilePath = $("#appSampleFilePath");
            var reqAppSampleFileSize = $("#appSampleFileSize");
            var reqOrgAppSampleFileName = $("#orgAppSampleFileName");
            var reqOrgAppSampleFilePath = $("#orgAppSampleFilePath");
            var reqOrgAppSampleFileSize = $("#orgAppSampleFileSize");

            reqAppSampleFileName.val(appSampleFileName);
            reqAppSampleFilePath.val(appSampleFilePath);
            reqAppSampleFileSize.val(appSampleFileSize);
            reqOrgAppSampleFileName.val(appSampleFileName);
            reqOrgAppSampleFilePath.val(appSampleFilePath);
            reqOrgAppSampleFileSize.val(appSampleFileSize);

            //
            //procSetFileLabel(appSampleFileName, appSampleFileSize, appSampleFilePath);
        } else {
            $('#appSampleFileNameLabel').text(INIT_MESSAGE);
        }
    };


    // CHECK DUPLICATED NAME
    var procCheckDuplicatedName = function () {
        if (!procCheckValidStringSpace()) return false;
        if (!procCheckValid()) return false;

        var doc = document;
        var reqName = doc.getElementById('name').value;
        var orgName = doc.getElementById('orgName').value;

        // CHECK DUPLICATED NAME
//        var insertFlag = INSERT_FLAG;
//        if ("" != insertFlag && CUD_U == insertFlag && reqName == orgName) {
//            procUploadThumbnailImageFile({RESULT: RESULT_STATUS_SUCCESS});
//        } else {
//            procCallAjax2(DUPLICATED_PROC_URL, "GET", {name: reqName}, procUploadThumbnailImageFile);
//        }
        procInsert();

    };

    // PROCESS CHECK VALID
    var procCheckValid = function () {

        // name
        var name = $('#name').val();
        if (name == '') {
            procAlert("warning", EMPTY_MSG);
            $('#name').focus();
            return false;
        }

        // summart
        var summary = $('#summary').val();
        if (summary == '') {
            procAlert("warning", EMPTY_MSG);
            $('#summary').focus();
            return false;
        }

        return true;
    };

    // UPLOAD THUMBNAIL IMAGE FILE
    var procUploadThumbnailImageFile = function (data) {
        if (RESULT_STATUS_SUCCESS != data.RESULT) {
            $('#name').focus();
            return false;
        }

        var formData = getFileFormData();

        if (formData != undefined) {
            uploadFile(formData, UPLOAD_IMAGE_PROC_URL, procUploadAppSampleFile);
        } else {
            procUploadAppSampleFile();
        }
    };


    // UPLOAD APP SAMPLE FILE
    var procUploadAppSampleFile = function () {
        var formData = getAppSampleFileFormData();

        if (!formData) {
            //섬네일 되면 여기 살려~
//            procInsert();
        } else {
            procUploadFile(formData, UPLOAD_APP_SAMPLE_PROC_URL, procCallbackUploadAppSampleFile);
        }
    };


    // UPLOAD APP SAMPLE FILE CALLBACK
    var procCallbackUploadAppSampleFile = function (data) {
        if (RESULT_STATUS_SUCCESS == data.RESULT) document.getElementById('appSampleFilePath').value = data.path;
        procInsert();
    };


    // APP SAMPLE FILE FORM DATA
    var getAppSampleFileFormData = function () {
        var reqFileObject = REQUEST_APP_SAMPLE_FILE;
        if (null == reqFileObject || undefined === reqFileObject) return false;

        var formData = new FormData();
        formData.append("file", reqFileObject[0]);

        return formData;
    };


    // INSERT
    var procInsert = function () {
        var doc = document;
        var reqUseYn = $("input:radio[name='useYn']:checked").val();
        var param = $("#catalogForm").serializeObject();

        var param2 = {
            name: doc.getElementById('name').value,
            no: REQ_NO,
            useYn: reqUseYn,
            summary: doc.getElementById('summary').value,
            description: doc.getElementById('description').value,
            classification: doc.getElementById('classification').value
        };

        $.extend(param, param2);

        console.log(param);

        // UPDATE
        if (REQ_NO == null || REQ_NO == 0) {
            // INSERT
            console.log("INSERT");
            procCallAjax2(PROC_URL, INSERT_PROC_METHOD, JSON.stringify(param), procCallbackUpdate);


        } else {
            // UPDATE
            console.log("UPDATE" + REQ_NO);
            procCallAjax2(PROC_URL + '/' + REQ_NO, UPDATE_PROC_METHOD, JSON.stringify(param), procCallbackUpdate);
        }
    };


    // INSERT CALLBACK
    var procCallbackInsert = function (data) {
        if (RESULT_STATUS_SUCCESS == data.RESULT) {
            procAlert("success", SUCCESS_MSG);
            procMovePage(CATEGORY_HOME_URL);

        } else {
            procAlert("danger", FAIL_MSG);
        }
    };


    // UPDATE CALLBACK
    var procCallbackUpdate = function (data) {
        if (RESULT_STATUS_SUCCESS == data.RESULT) {
            procDeleteThumbnailImageFile();
            procAlert("success", SUCCESS_MSG);

        } else {
            procAlert("danger", FAIL_MSG);
        }
    };


    // CHECK DELETE
    var procCheckDelete = function () {
        $('div.modal').modal('toggle');
        var reqNo = REQ_NO;
        if (null == reqNo || "" == reqNo) return false;

        // procCallAjax(CHECK_DELETE_PROC_URL, {no: reqNo}, procDelete);

        procDelete();

    };


    // DELETE
    var procDelete = function (data) {
        // if (RESULT_STATUS_SUCCESS != data.RESULT) {
        //     procAlert("danger", FAIL_MSG);
        //     return false;
        // }

        document.getElementById('thumbImgPath').value = '';

        procCallAjax2(PROC_URL + "/" + REQ_NO, DELETE_PROC_METHOD, '', procCallbackDelete);
    };


    // DELETE CALLBACK
    var procCallbackDelete = function (data) {
        if (RESULT_STATUS_SUCCESS == data.RESULT) {
            // procDeleteThumbnailImageFile();
            procAlert("success", SUCCESS_MSG);
            procMovePage(CATEGORY_HOME_URL);

        } else {
            procAlert("danger", FAIL_MSG);
        }
    };


    // DELETE THUMBNAIL IMAGE FILE
    var procDeleteThumbnailImageFile = function () {
        if (procCheckDeleteFileValid('<%= Constants.FILE_TYPE_IMAGE %>')) {
            procCallAjax(DELETE_IMAGE_PROC_URL, {thumbImgPath: document.getElementById('orgThumbImgPath').value}, procDeleteAppSampleFile);
        } else {
            procDeleteAppSampleFile();
        }
    };


    // DELETE APP SAMPLE FILE
    var procDeleteAppSampleFile = function () {
        if (procCheckDeleteFileValid('<%= Constants.FILE_TYPE_APP_SAMPLE %>')) {
            procCallAjax(DELETE_APP_SAMPLE_PROC_URL, {appSampleFilePath: document.getElementById('orgAppSampleFilePath').value}, procCallbackDeleteFile);
        } else {
            procMovePage(CATEGORY_HOME_URL);
        }
    };


    // CHECK DELETE FILE VALID
    var procCheckDeleteFileValid = function (reqFileType) {
        var doc = document;
        var orgFilePath = doc.getElementById('orgThumbImgPath').value;
        var filePath = doc.getElementById('thumbImgPath').value;

        if ('<%= Constants.FILE_TYPE_APP_SAMPLE %>' == reqFileType) {
            orgFilePath = doc.getElementById('orgAppSampleFilePath').value;
            filePath = doc.getElementById('appSampleFilePath').value;
        }


        if ("" == REQ_NO && 0 == REQ_NO) {
            if (orgFilePath == filePath || orgFilePath == "" || orgFilePath == null) {
                return false;
            }
        }

        return true;
    };


    // DELETE FILE CALLBACK
    var procCallbackDeleteFile = function () {
        procMovePage(CATEGORY_HOME_URL);
    };


    // RESET IMAGE
    var procResetImage = function () {
        var doc = document;
        doc.getElementById('thumbImgPath').value = '';
        doc.getElementById('thumbImgName').value = '';

        // resetThumbnail();
    };


    // SET FILE INFO
    var procSetFileInfo = function (reqFile) {
        var fileName = reqFile[0].name;
        var limitFileSizeMb = '<%= Constants.CATALOG_APP_SAMPLE_LIMIT_FILE_SIZE_MB %>';
        var limitFileSize = parseInt(limitFileSizeMb) << 20;
        var orgFileSize = reqFile[0].size;

        if (limitFileSize < orgFileSize) {
            var alertMessage = '파일 크기는 ' + limitFileSizeMb + ' MB 를 넘을 수 없습니다.';
            procAlert("danger", alertMessage);
            window.scrollTo(0, 0);
            return false;
        }

        REQUEST_APP_SAMPLE_FILE = reqFile;

        //procSetFileLabel(fileName, orgFileSize, /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).NONE_VALUE}]]*/);
    };


    // SET FILE LABEL
    var procSetFileLabel = function (reqFileName, reqOrgFileSize, reqFilePath) {
        if (null == reqFileName || '' == reqFileName) return false;

        var doc = document;
        var fileSize = procConvertFormatNumber(procCalculateFloor(parseInt(reqOrgFileSize) / 1024, 2));
        var fileName = reqFileName + " (" + fileSize + " KB)";

        doc.getElementById('appSampleFileName').value = reqFileName;
        doc.getElementById('appSampleFileSize').value = reqOrgFileSize;

        if ('<%= Constants.NONE_VALUE %>' != reqFilePath) {
            var linkHtml = '<a href="javascript:void(0);" onclick="procDownload(\'' + reqFilePath + '\', \'' + reqFileName + '\')">' + fileName + '</a>';
            $('#appSampleFileNameLabel').html(linkHtml);

        } else {
            $('#appSampleFileNameLabel').text(fileName);
        }

        $('#appSampleFileDeleteButtonArea').show();

        // BIND :: BUTTON EVENT
        $("#btnDeleteFile").on("click", function () {
            procDeleteAppSampleFileLabel();
        });
    };


    // DELETE FILE LABEL
    var procDeleteAppSampleFileLabel = function () {
        var doc = document;
        var fileDeleteButtonArea = $('#appSampleFileDeleteButtonArea');
        var reqFileLabel = $('#appSampleFileNameLabel');

        fileDeleteButtonArea.hide();
        reqFileLabel.text(INIT_MESSAGE);

        doc.getElementById('appSampleFileName').value = '';
        doc.getElementById('appSampleFilePath').value = '';
        doc.getElementById('appSampleFileSize').value = '';
    };


    // CALCULATE FLOOR
    var procCalculateFloor = function (reqNumber, reqPosition) {
        var digits = Math.pow(10, reqPosition);
        var num = Math.round(reqNumber * digits) / digits;

        return num.toFixed(reqPosition);
    };


    // CONVERT FORMAT NUMBER
    var procConvertFormatNumber = function (reqString) {
        return reqString.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    };


    // INIT
    var procInit = function () {
        getCategoryList();

        $('#name').focus();
        $('#useYn_Y').attr('checked', true);


        if (REQ_NO != null && REQ_NO != '') procUpdateForm();

        // resetThumbnail();

        $("#hiddenThumbnail").on("change", function () {
            setPreView($(this));
        });

        $('#appSampleFileDeleteButtonArea').hide();
        procAlert("info", WELCOME_MESSAGE);
    };


    // BIND :: BUTTON EVENT
    $("#btnResetImg").on("click", function () {
        procResetImage();
    });


    // BIND :: BUTTON EVENT
    $("#btnDeleteAppSampleFile").on("click", function () {
        procDeleteAppSampleFileLabel();
    });


    // BIND :: BUTTON EVENT
    $("#btnSearchAppSampleFile").on("click", function () {
        REQUEST_APP_SAMPLE_FILE_OBJECT.click();
    });


    // BIND :: FILE CHANGE
    REQUEST_APP_SAMPLE_FILE_OBJECT.on("change", function () {
        procSetFileInfo($(this)[0].files);
    });


    // BIND :: BUTTON EVENT
    $("#btnRegist").on("click", function () {
        procCheckDuplicatedName();
    });


    // BIND :: BUTTON EVENT
    $("#btnCancel").on("click", function () {
        procMovePage(CATEGORY_HOME_URL);
    });


    // BIND :: BUTTON EVENT
    $("#btnDelete").on("click", function () {
        // procPopup('카탈로그', DELETE_MESSAGE, 'procCheckDelete();');
        procCheckDelete();
    });


    // ON LOAD
    $(document.body).ready(function () {
        procInit();
    });


    /*]]>*/
</script>


</body>
</html>
