<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>

    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <div th:if=" ${REQUEST_NO != ''} ">
                    앱 템플릿 상세
                </div>
                <div th:if=" ${REQUEST_NO == ''} ">
                    앱 개발환경 등록
                </div>
            </h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <!-- /.box-header -->
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-fw fa-chrome"></i> App Template</h3>
                        </div>

                        <div class="box-body">
                            <form class="form-horizontal" role="form" id="starterForm" name="starterForm">
                                <!--html Start class-->
                                <div class="content-box2 col-md-12 col-md-offset-13">
                                    <input type="hidden" id="thumb_image_path" value="${thumb_image_path}"/><br/>

                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="starterName">이름</label>
                                        <input type="text" class="form-control" id="starterName"/>
                                    </div>
                                    <br/>

                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="categoryList">분류</label>
                                        <select class="form-control" id="categoryList"
                                                style="background:url(/resources/images/btn_down.png) no-repeat right; background-color:#fafafa;">
                                            <!--Category Area-->
                                        </select>
                                    </div>
                                    <br/>

                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="buildPackList">앱 개발환경</label>
                                        <select class="form-control" id="buildPackList"
                                                style="background:url(/resources/images/btn_down.png) no-repeat right; background-color:#fafafa;">
                                            <!--build pack area-->
                                        </select>
                                    </div>
                                    <br/>


                                    <div class="row invoice-info">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="servicePackList">서비스</label><br/>

                                        <div class="col-sm-5" style="width: 45.2%">
                                            <select multiple="" class="form-control" id="servicePackList"
                                                    name="servicePackList" style="height: 90px; line-height: 90px;">
                                            </select>
                                        </div>

                                        <div class="col-sm-1" style="text-align:center; margin:20px 1.0% 0px 0.0%;">
                                            <div><span type="button" class="glyphicon glyphicon-chevron-right"
                                                       style="font-size:22px;color:#ababab; cursor: pointer;"
                                                       onClick="SelectMoveRows(document.starterForm.servicePackList, document.starterForm.selectedServicePackList)"></span>
                                            </div>
                                            <div><span type="button" class="glyphicon glyphicon-chevron-left"
                                                       style="font-size:22px;color:#818181; cursor: pointer;"
                                                       onClick="SelectMoveRows(document.starterForm.selectedServicePackList, document.starterForm.servicePackList)"></span>
                                            </div>
                                        </div>

                                        <div class="col-sm-5" style="width: 45.2%">
                                            <select multiple="" class="form-control" id="selectedServicePackList"
                                                    name="selectedServicePackList"
                                                    style="height: 90px; line-height: 90px;">
                                            </select>
                                        </div>
                                    </div>
                                    <br/>

                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="hiddenThumbnail"> 썸네일(50X50)</label>
                                        <p/>
                                        <input type="file" id="hiddenThumbnail" name="hiddenThumbnail"/>
                                    </div>
                                    <p/><br/>

                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="useYn">공개여부</label><br/>
                                        <label class="radio-inline"><input type="radio" id="useYn" name="useYn"
                                                                           value="Y" checked="checked"/>Y</label>
                                        <label class="radio-inline"><input type="radio" name="useYn"
                                                                           value="N"/>N</label>
                                    </div>
                                    <br/>

                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="summary">요약</label>
                                        <input type="text" class="form-control" id="summary"/>
                                    </div>
                                    <br/>

                                    <div class="form-group">
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        <label for="description">설명</label>
                                        <textarea class="form-control" rows="5" id="description"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-horizontal" align="right" id="statusActivity">
                                            <div class="divButtons">
                                                <div>
                                                    <div th:if=" ${REQUEST_NO != ''} ">
                                                        <button type="button"
                                                                class="btn btn-cancel btn-default btn-sm pull-left label-danger"
                                                                id="btnDelete">삭제
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-cancel btn-default btn-sm"
                                                                id="btnCancel">취소
                                                        </button>
                                                        <button type="button" class="btn btn-save btn-primary btn-sm"
                                                                id="btnRegist">저장
                                                        </button>
                                                    </div>
                                                    <div th:if=" ${REQUEST_NO == ''} ">
                                                        <button type="button"
                                                                class="btn btn-cancel btn-default btn-sm"
                                                                id="btnCancel">취소
                                                        </button>
                                                        <button type="button" class="btn btn-save btn-primary btn-sm"
                                                                id="btnRegist">등록
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--starterForm-->
                                <input type="hidden" id="oldThumbImgPath" name="oldThumbImgPath" value=""/>
                                <input type="hidden" id="thumbImgPath" name="thumbImgPath" value=""/>
                                <input type="hidden" id="thumbImgName" name="thumbImgName" value=""/>

                            </form>
                            <!--<div class="box-body">-->
                        </div>
                    </div>
                    <!-- ▼row: 12  <div class="tab-content no-padding">-->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/
    var CATEGORY_HOME_URL = "/catalogs/STATER";
    var CATEGORY_LIST_PROC_URL = "/v2/codedetail";


    var STARTER_CATALOG_ID = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).STARTER_CATALOG_ID}]]*/ '';

    var BUILD_PACK_NAMES_LIST_PROC_URL = "/v2/developpacks";
    var SERVICE_PACK_NAMES_LIST_PROC_URL = "/v2/servicepacks";
    var DUPLICATED_PROC_URL = "/v2/starterpacks/count";
    var GET_PROC_URL = "/v2/starterpacks";
    var PROC_URL = "/v2/starterpacks";
    var INSERT_METHOD = "POST";
    var UPDATE_METHOD = "PUT";
    var DELETE_METHOD = "DELETE";

    var DELETE_PROC_URL = "/catalog/buildpackCatalogs";

    var SAVED_NAME = null;
    var SAVED_THUMBNAIL_NAME = '';
    var SAVED_THUMBNAIL_PATH = '';

    var IMAGE_UPLOAD_PROC_URL = "/catalog/uploadThumbnailImage";
    var IMAGE_DELETE_PROC_URL = "/catalog/deleteThumbnailImage";
    var MAX_SIZE = 500; // KB

    var RESULT_STATUS_SUCCESS = "SUCCESS";
    var RESULT_STATUS_FAIL = "FAIL";

    var buildPackCategoryNoFromDB;
    var servicePackCategoryNoListFromDB;
    var CategoryNoFromDB;

    var REQ_NO = /*[[${REQUEST_NO}]]*/ 0;
    var SUCCESS_MSG = /*[[#{common.info.result.success}]]*/ '';
    var FAIL_MSG = /*[[#{common.info.result.fail}]]*/ '';
    var ERROR_MSG = /*[[#{common.system.error.message}]]*/ '';
    var EMPTY_MSG = /*[[#{common.info.empty.req.data}]]*/ '';


    /*CRUD->*/
    function registerStarter(data) {
        var oldPath = $("#oldThumbImgPath").val();
        var thumbpath = $("#thumbImgPath").val();

        if (oldPath != '' && thumbpath == '') procDeleteFile();

        var starterName = $("#starterName").val();
        var categoryList = $("#categoryList").val(); // classification
        var thumbname = $("#thumbImgName").val();
        var useYn = $("input[name=useYn]:checked").val();
        var summary = $("#summary").val();
        var description = $("#description").val();
        var buildPackList = $("#buildPackList").val(); // no

        var selectedServicePackList = [];
        var getList = document.getElementById("selectedServicePackList");
        for (var i = 0; i < getList.length; i++) {
            selectedServicePackList[i] = getList.options[i].value;
        }

        var param = {
            name: starterName,
            classification: categoryList,
            thumbImgName: thumbname,
            thumbImgPath: thumbpath,
            useYn: useYn,
            summary: summary,
            description: description,
            buildPackCategoryNo: buildPackList,
            servicePackCategoryNoList: selectedServicePackList
        };


        if ("" == REQ_NO && 0 == REQ_NO) { // INSERT
            procCallAjax2(PROC_URL, INSERT_METHOD, JSON.stringify(param), procCallbackCRUDStarterCatalog);

        } else { // UPDATE
            procCallAjax2(PROC_URL + "/" + REQ_NO, UPDATE_METHOD, JSON.stringify(param), procCallbackCRUDStarterCatalog);
        }

    }

    function deleteStarter() {
        procDeleteFile();
    }

    var procCallbackCRUDStarterCatalog = function (data) { // CRUD 공동 사용중

        if (RESULT_STATUS_SUCCESS == data.RESULT) {

            procAlert("success", SUCCESS_MSG); // message api에서 입력안함
            procMovePage(CATEGORY_HOME_URL);

        } else if (RESULT_STATUS_FAIL == data.RESULT) {

            procAlert("danger", data.RESULT_MESSAGE);
        }
    }

    /*<-CRUD*/

    // PROCESS CHECK VALID
    var procCheckValid = function () {

        // starter name
        var starterName = $('#starterName').val();
        if (starterName == '') {
            procAlert("warning", EMPTY_MSG);
            $('#starterName').focus();
            return false;
        }

        // service pack list
        var reqServicePack = [];
        var getList = document.getElementById("selectedServicePackList");
        for (var i = 0; i < getList.length; i++) {
            reqServicePack[i] = getList.options[i].value;
        }

        if (reqServicePack == '') {
            procAlert("warning", ERROR_MSG);
            $('#selectedServicePackList').focus();
            return false;
        }

        // summart
        var summary = $('#summary').val();
        if (summary == '') {
            procAlert("warning", EMPTY_MSG);
            $('#summary').focus();
            return false;
        }

        return true;
    };


    // PROCESS CHECK DUPLICATED NAME
    function procCheckDuplicatedName() {

        if (!procCheckValidStringSpace()) return false;
        if (!procCheckValid()) return false; // valid check

        var currentName = $("#starterName").val();

        if (SAVED_NAME != currentName) {    // 이름 변경 -> DB에 동일 이름 있는지 체크 후 -> 파일업로드체크
            var param = {name: $('#starterName').val()};
            procCallAjax2(DUPLICATED_PROC_URL, 'GET', param, procCallBackDuplicated);
        } else {                            // 파일업로드체크
            checkFileUpload2();
        }

    };

    var procCallBackDuplicated = function (data) {

        if (data != -1 && 0 < data.startpackcount) { // db 중복 체크
            $('#starterName').focus();
            return false;
        } else { // 중복없음
            checkFileUpload2();
        }
    }

    /************************************************************************************** file upload 관련 -> ******/

    function checkFileUpload2() {

        var formData = getFileFormData();
        if (formData != undefined) uploadFile(formData);

        else registerStarter();
    }

    // FILE FORM DATA
    var getFileFormData = function () {
        var reqThumbnail = $("#hiddenThumbnail");

        if (reqThumbnail[0].files[0] === undefined) return undefined;

        var formData = new FormData();

        formData.append("file", reqThumbnail[0].files[0]);

        return formData;
    };


    // UPLOAD FILE
    var uploadFile = function (formData) {
        $.ajax({
            url: IMAGE_UPLOAD_PROC_URL
            , method: "POST"
            , processData: false
            , contentType: false
            , data: formData
            , dataType: "json"
            , success: function (data) {

                procCallbackUploadFile(data);
            },
            error: function (xhr, status, error) {
                procAlert("danger", JSON.parse(xhr.responseText).customMessage);
            },
            complete: function (data) {
            }
        });
    };

    // UPLOAD FILE CALLBACK
    var procCallbackUploadFile = function (data) {
        if (RESULT_STATUS_SUCCESS == data.RESULT) {

            $("#thumbImgPath").val(data.path);
            $("#thumbImgName").val($("#labelThumbName").text());

            var oldPath = $("#oldThumbImgPath").val();
            if (oldPath != null || oldPath != '') procDeleteFile();

            registerStarter();

        } else if (RESULT_STATUS_FAIL == data.RESULT) {
            procAlert("danger", data.RESULT_MESSAGE);
        }
    };

    // PREVIEW
    var setPreView = function (objThumbnail) {
        var this_form = objThumbnail[0];
        var file = this_form.files[0];
        var preview = $('#preview');
        var img_size = 0;

        if (file) {
            // image file check
            var pathHeader = this_form.value.lastIndexOf("\\");
            var pathMiddle = this_form.value.lastIndexOf(".");
            var pathEnd = this_form.value.length;
            var filename = this_form.value.substring(pathHeader + 1, pathEnd);
            var ext = this_form.value.substring(pathMiddle + 1, pathEnd).toLowerCase();

            if (ext != "jpg" && ext != "png" && ext != "gif") {
                procAlert('warning', '이미지 파일(jpg, png, gif)만 등록 가능합니다.');
                //jasny bootstrap fileinput을 이용함. 참고는 http://www.jasny.net/bootstrap/javascript/#fileinput 참조바람
                resetThumbnail();
                return false;
            }

            // file 읽어 오기
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#divPreviewMessage').attr('style', 'display: none;');
                var image = new Image();
                // 파일의 내용을 읽어서 넣어준다.
                image.src = e.target.result;
                img_size = Math.round(e.total / 1024);
            };

            reader.onloadend = function (e) {
                if (img_size > MAX_SIZE) {
                    resetThumbnail();

                    var alertMessage = '이미지 크기는 ' + MAX_SIZE + 'Kb를 넘을 수 없습니다.';
                    var divPreviewMessage = $("#divPreviewMessage");

                    divPreviewMessage.text(alertMessage);
                    divPreviewMessage.attr('style', 'display: block;');

                    procAlert('warning', alertMessage);

                    return false;
                }
                $('#divPreview').attr('style', 'display: block; height: 94px;');
                e
                preview.attr("src", e.target.result);

                $("#labelThumbName").text(filename);

            };

            reader.readAsDataURL(file);

        } else {
            resetThumbnail();
        }
    };

    // RESET THUMBNAIL
    var resetThumbnail = function () {
        //    $('#thumbnail').filestyle('clear');
        $('#preview').attr('src', '');
        $("#labelThumbName").text('');

        $('#divPreview').attr('style', 'display: none;');
        $('#divPreviewMessage').attr('style', 'display: none;');

    };

    var procDeleteFile = function () {
        var oldPath = $("#oldThumbImgPath").val();

        if (oldPath != null || oldPath != '') {
            var param = {
                thumbImgPath: oldPath
            };

            procCallAjax(IMAGE_DELETE_PROC_URL, param, procCallbackDeleteFile);

        }
    };

    var procCallbackDeleteFile = function (data) {
        if (RESULT_STATUS_SUCCESS == data.RESULT) {
            $("#oldThumbImgPath").val('');
        }
        procCallAjax2(PROC_URL + "/" + REQ_NO, DELETE_METHOD, '', procCallbackCRUDStarterCatalog);
    };
    /*<- file upload 관련 */

    /*******************/
    /* .ready function */
    /*******************/
    $(document.body).ready(function () {
        param = {};

        if (REQ_NO == 0 || REQ_NO == '') { // 등록

            buildPackCategoryNoFromDB = -1;
            servicePackCategoryNoListFromDB = null;
            CategoryNoFromDB = -1;
            var param = {"groupId": STARTER_CATALOG_ID};
            procCallAjax2(BUILD_PACK_NAMES_LIST_PROC_URL, 'GET', '', procCallbackGetBuildPackNamesList);
            procCallAjax2(SERVICE_PACK_NAMES_LIST_PROC_URL, 'GET', '', procCallbackGetServicePackNamesList);
            procCallAjax2(CATEGORY_LIST_PROC_URL, 'GET', param, procCallbackCategoryList);


        } else { // 상세
            procCallAjax2(GET_PROC_URL + "/" + REQ_NO, '', param, procCallbackGetOneStarter);
        }
        // init Thumbnail
        resetThumbnail();

        $("#hiddenThumbnail").on("change", function () {
            setPreView($(this));
        });

    });

    var procCallbackGetOneStarter = function (data) {

        SAVED_NAME = data.info.name;
        SAVED_THUMBNAIL_NAME = data.info.thumbImgName;
        SAVED_THUMBNAIL_PATH = data.info.thumbImgPath;

        $("#labelThumbName").text(data.info.thumbImgName);
        $("#oldThumbImgPath").val(data.info.thumbImgPath);

        DELETE_FLAG = false;

        $("#starterName").val(data.info.name);

        $("#thumbImgName").val(data.info.thumbImgName);
        $("#thumbImgPath").val(data.info.thumbImgPath);

        if (data.info.thumbImgPath == '' || data.info.thumbImgPath == null) {
            $('#divPreview').hide();

        } else {
            $('#divPreview').attr('style', 'display: block; height: 94px;');
            $('#preview').attr('src', IMAGE_PATH_PREFIX + $("#thumbImgPath").val());
        }

        var useYnValue = data.info.useYn;
        if (useYnValue == "Y") $("input:radio[name='useYn']:radio[value='Y']").attr("checked", true);
        else if (useYnValue == "N") $("input:radio[name='useYn']:radio[value='N']").attr("checked", true);

        $("#summary").val(data.info.summary);
        $("#description").val(data.info.description);

        buildPackCategoryNoFromDB = data.info.buildPackCategoryNo;
        servicePackCategoryNoListFromDB = data.info.servicePackCategoryNoList;
        CategoryNoFromDB = data.info.classification;
        procCallAjax2(CATEGORY_LIST_PROC_URL, 'GET', param, procCallbackCategoryList);
        var param = {"groupId": STARTER_CATALOG_ID};
        procCallAjax2(BUILD_PACK_NAMES_LIST_PROC_URL, 'GET', '', procCallbackGetBuildPackNamesList);
        procCallAjax2(SERVICE_PACK_NAMES_LIST_PROC_URL, 'GET', '', procCallbackGetServicePackNamesList);

    }

    var procCallbackGetBuildPackNamesList = function (data) {

        if (buildPackCategoryNoFromDB == -1) {  // 등록
            for (var i = 0; i < data.list.length; i++) {
                $("#buildPackList").append("<option value='" + data.list[i].no + "'> " + data.list[i].name + " </option>");
            }
        }
        else {                                   // 상세
            for (var i = 0; i < data.list.length; i++) {
                if (data.list[i].no == buildPackCategoryNoFromDB)
                    $("#buildPackList").append("<option value='" + data.list[i].no + "' selected='selected'> " + data.list[i].name + " </option>");
                else
                    $("#buildPackList").append("<option value='" + data.list[i].no + "'> " + data.list[i].name + " </option>");
            }
        }
    }

    var procCallbackGetServicePackNamesList = function (data) {

        if (servicePackCategoryNoListFromDB == null) { // 등록
            for (var i = 0; i < data.list.length; i++) {
                $("#servicePackList").append("<option value='" + data.list[i].no + "'> " + data.list[i].name + " </option>");
            }
        }
        else { // 상세

            for (var i = 0; i < data.list.length; i++) {

                if (servicePackCategoryNoListFromDB.includes(data.list[i].no)) {
                    $("#selectedServicePackList").append("<option value='" + data.list[i].no + "'> " + data.list[i].name + " </option>");
                } else {
                    $("#servicePackList").append("<option value='" + data.list[i].no + "'> " + data.list[i].name + " </option>");
                }
            }

        }
    }

    // GET CATEGORY LIST CALLBACK
    var procCallbackCategoryList = function (data) {

        if (RESULT_STATUS_FAIL == data.RESULT) return false;

        var objSelectBox = $('#categoryList');
        var listLength = data.list.length;
        var htmlString = [];

        for (var i = 0; i < listLength; i++) {
            if (CategoryNoFromDB == -1) {  // 등록
                for (var i = 0; i < data.list.length; i++) {
                    objSelectBox.append("<option value='" + data.list[i].key + "'> " + data.list[i].value + " </option>");
                }
            }
            else {                                   // 상세
                for (var i = 0; i < data.list.length; i++) {
                    if (data.list[i].key == CategoryNoFromDB)
                        objSelectBox.append("<option value='" + data.list[i].key + "' selected='selected'> " + data.list[i].value + " </option>");
                    else
                        objSelectBox.append("<option value='" + data.list[i].key + "'> " + data.list[i].value + " </option>");
                }
            }

        }


        objSelectBox.append(htmlString);

    };


    /************************************************************/
    /* service pack box moves 관련 (SelectMoveRows, SelectSort) */
    /************************************************************/
    function SelectMoveRows(SS1, SS2) {
        var SelID = '';
        var SelText = '';
        // Move rows from SS1 to SS2 from bottom to top
        for (i = SS1.options.length - 1; i >= 0; i--) {
            if (SS1.options[i].selected == true) {
                SelID = SS1.options[i].value;
                SelText = SS1.options[i].text;
                var newRow = new Option(SelText, SelID);
                SS2.options[SS2.length] = newRow;
                SS1.options[i] = null;
            }
        }
        SelectSort(SS2);
    }

    function SelectSort(SelList) {

        var ID = '';
        var Text = '';
        for (x = 0; x < SelList.length - 1; x++) {
            for (y = x + 1; y < SelList.length; y++) {
                if (SelList[x].value > SelList[y].value) {
                    // Swap rows
                    ID = SelList[x].value;
                    Text = SelList[x].text;
                    SelList[x].value = SelList[y].value;
                    SelList[x].text = SelList[y].text;
                    SelList[y].value = ID;
                    SelList[y].text = Text;
                }
            }
        }
    }

    /***********/
    /* Buttons */
    /***********/
    // BIND :: BUTTON EVENT
    $("#btnRegist").on("click", function () {

        // 이름 체크 -> 파일 체크 -> C/U 결정
        procCheckDuplicatedName();

    });

    // BIND :: BUTTON EVENT
    $("#btnCancel").on("click", function () {
        procMovePage(CATEGORY_HOME_URL);

    });

    // BIND :: BUTTON EVENT
    $("#btnDelete").on("click", function () {
        DELETE_FLAG = true;
        // procPopup('카탈로그', DELETE_MESSAGE, 'procDeleteFile();');
        procDeleteFile();

    });


    $("#btnResetImg").on("click", function () {

        $("#thumbImgPath").val('');
        $("#thumbImgName").val('');
        $("#labelThumbName").text('');

        resetThumbnail();
    });
    /*]]>*/
</script>


</body>
</html>
