<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
    <header></header>
    <aside>/</aside>

    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <!-- /.box-header -->
                        <div class="box-header with-border">
                            <h3 class="box-title">  <i class="fa fa-fw fa-chrome"></i> App Template</h3>
                        </div>

                        <div class="box-body">
                            <div class="content-box2 col-md-12 col-md-offset-13">
                                <!--<div class="row">-->
                                <!--<div class="col-md-6">-->
                                <br/>
                                <div class="form-group">
                                    <i class="fa fa-fw fa-check-square-o"></i>
                                    <label for="starterName">이름</label>
                                    <input type="text" class="form-control" id="starterName"/>
                                </div>

                                <br/>
                                <div class="form-group">
                                    <i class="fa fa-fw fa-check-square-o"></i>
                                    <label for="categoryList">분류</label>
                                    <input type="text" class="form-control" id="categoryList" placeholder="기본 유형을 입력하세요."/>
                                </div>

                                <br/>
                                <div class="form-group">
                                    <i class="fa fa-fw fa-check-square-o"></i>
                                    <label for="buildPackList">앱 개발환경</label>
                                    <select id="buildPackList"
                                            class="form-control select2 select2-hidden-accessible"
                                            style="width: 100%;"
                                            tabindex="-1"
                                            aria-hidden="true">
                                        <option selected="selected" th:value="${19073}"> 테스트-buildpack-pinpoint</option>
                                        <option th:value="${3157}"> Nodejs 앱 개발환경</option>
                                        <option th:value="${3160}"> PHP 앱 개발환경</option>
                                        <option th:value="${3159}"> Python 앱 개발환경</option>
                                        <option th:value="${20}"> Java8 오프라인 앱 개발환경</option>
                                        <option th:value="${3158}"> GO 앱 개발환경</option>
                                        <option th:value="${3155}"> 전자정부 프레임워크 앱 개발환경</option>
                                        <option th:value="${3156}"> Java8 온라인 앱 개발환경</option>
                                        <option th:value="${665}"> mysql test</option>
                                        <option th:value="${772}"> Ruby 앱 개발환경</option>
                                        <option th:value="${1150}"> ruby test</option>
                                        <option th:value="${3161}"> Java Pinpoint 오프라인 앱 개발환경</option>
                                    </select>
                                    <span class="select2 select2-container select2-container--default select2-container--below"
                                          dir="ltr" style="width: 100%;">
                                        <span class="selection"></span>
                                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                                        </span>
                                </div>

                                <br/>
                                <i class="fa fa-fw fa-check-square-o"></i>
                                <label for="servicePackList">서비스</label><br/>
                                <label class="control-label col-sm-2control-label"></label>
                                <div class="row invoice-info">
                                    <div class="col-sm-5" style="width: 45.2%">
                                            <select multiple="" class="form-control" id="servicePackList" name="servicePackList" style="height: 90px; line-height: 90px;">
                                                <option value=""> RabbitMQ 메시지 큐 서비스</option>
                                                <option value=""> Redis 서비스</option>
                                                <option value=""> Mqsql DBMS 서비스</option>
                                                <option value=""> 큐브리드 DBMS 서비스</option>
                                                <option value=""> Swift 오브젝트 스토리지 서비스</option>
                                                <option value=""> Java 애플리케이션 APM 서비스</option>
                                                <option value=""> 테스트-servicepack-pinpoint</option>
                                                <option value=""> 파이프라인</option>
                                                <option value=""> 형상관리</option>
                                                <option value=""> 파이프라인-dev</option>
                                                <option value="">laas-dev</option>
                                                <option value="">Mongo-DB DBMS 서비스</option>
                                            </select>
                                        </div>

                                        <!-- /.col -->
                                    <div class="col-sm-1" style="text-align:center; margin:20px 1% 0px 0%;">
                                            <div>
                                                <span type="button" class="glyphicon glyphicon-chevron-right" style="font-size:22px;color:#ababab; cursor: pointer;"
                                                       onClick="SelectMoveRows(document.starterForm.servicePackList, document.starterForm.selectedServicePackList)">
                                                </span>
                                            </div>
                                            <div>
                                                <span type="button" class="glyphicon glyphicon-chevron-left" style="font-size:22px;color:#818181; cursor: pointer;"
                                                       onClick="SelectMoveRows(document.starterForm.selectedServicePackList, document.starterForm.servicePackList)">
                                                </span>
                                            </div>
                                        </div>

                                        <!-- /.col -->
                                    <div class="col-sm-5" style="width: 45.2%">
                                            <select multiple="" class="form-control" id="selectedServicePackList" name="selectedServicePackList"  style="height: 90px; line-height: 90px;"></select>
                                        </div>
                                        <!-- /.col -->
                                    </div>

                                <!--</div>-->
                                <br/>
                                <div class="form-group">
                                    <i class="fa fa-fw fa-check-square-o"></i>
                                    <label for="thumbnail"> 썸네일(50X50)</label>
                                    <p/>
                                    <input type="file" id="thumbnail"/>
                                </div><p/>

                                <br/>
                                <!--<div class="col-md-6">-->
                                <div class="form-group">
                                    <i class="fa fa-fw fa-check-square-o"></i>
                                    <label for="useYn">공개여부</label>
                                    <br/>
                                    <label class="radio-inline"><input type="radio" id="useYn" name="useYn" value="Y" checked="checked"/>활성화</label>
                                    <label class="radio-inline"><input type="radio" name="useYn" value="N"/>비 활성화</label>
                                </div>

                                <br/>
                                <div class="form-group">
                                    <i class="fa fa-fw fa-check-square-o"></i>
                                    <label for="summary">요약</label>
                                    <input type="text" class="form-control" id="summary"/>
                                </div>

                                <br/>
                                <div class="form-group">
                                    <i class="fa fa-fw fa-check-square-o"></i>
                                    <label for="description">설명</label>
                                    <textarea class="form-control" rows="5" id="description"></textarea>
                                </div>

                                <button type="button" class="btn btn-sm pull-left btn-default" id="btnCancel">취소</button>
                                <button type="button" class="btn btn-sm btn-primary btn-flat pull-right" id="btnRegist">등록</button>

                            </div>
                        </div>
                    </div>
                      <!-- ▼row: 12   <div class="tab-content no-padding">-->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    /*<![CDATA[*/

    /*]]>*/
</script>


</body>
</html>
