<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
  <header></header>
  <aside>/</aside>

  <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          클라이언트 목록
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">

                <h3 class="box-title"><button type="button" class="btn btn-block btn-primary btn-sm" data-toggle="modal" data-target="#modal-default">클라이언트 등록</button></h3>

                <div class="box-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search"/>

                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>

              </div>
              <!-- /.box-header -->

              <div class="box-body no-padding">
                <table class="table table-striped"> <!-- table-responsive -->

                  <tr class="text-center">
                    <td><b>클라이언트 ID</b></td>
                  </tr>
                  <tr class="text-center">
                    <td>183</td>
                  </tr>
                  <tr class="text-center">
                    <td>184</td>
                  </tr>
                  <tr class="text-center">
                    <td>185</td>
                  </tr>
                  <tr class="text-center">
                    <td>186</td>
                  </tr>
                  <tr class="text-center">
                    <td>187</td>
                  </tr>

                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>

        <!-- Modal Layer-->
        <div class="modal fade" id="modal-default" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Default Modal</h4>
              </div>
              <div class="modal-body">
                <p>One fine body…</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- Modal Layer-->

      </section>
      <!-- /.content -->
    </div>
  <!-- /.content-wrapper -->

  <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
  var GET_CLIENT_FORM = "/client/clientForm";
  var LOADED_LIST_COUNT = 0;
  var GET_CLIENT_LIST = "/client/getClientList";
  var CURRENT_OFFSET = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).PAGE_OFFSET}]]*/ 0;
  var LOAD_UNIT = 10;
  var CLIENT_LIST = new Array();
  var CURRENT_LIST;

  $(document).ready(function(){
    getClientList();
  });

  var getClientList = function () {
    var param = {};
    procCallAjax(GET_CLIENT_LIST, param, procCallbackGetClientList)
  };

  var procCallbackGetClientList = function (data) {
    if("" == data.RESULT){
      return false;
    }



  }


</script>


</body>
</html>
