<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div>
  <header></header>
  <aside>/</aside>

  <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          클라이언트 목록
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">

              <div class="box-footer" style="padding-bottom:0px;">

                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-xs-7 col-sm-5">
                        <div class="input-group input-group-sm">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                          </div>
                          <input type="text" name="table_search" id="searchKeyword" class="form-control" style="margin-left:-1px;"  placeholder="Search" onkeyup="procSearchByKeyword(event);"/>
                        </div>
                      </div>

                      <div class="col-xs-5 col-sm-7">
                        <button type="button" id="register" class="btn btn-primary btn-sm pull-right" onclick="procMovePage(GET_CLIENT_FORM);">
                          클라이언트 등록
                        </button>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="box-body">
                <table class="table table-striped text-center"> <!-- table-responsive -->
                  <thead>
                  <tr>
                    <th>클라이언트 ID</th>
                  </tr>
                  </thead>
                  <tbody id="clientInfoTable">
                  <!--<tr class="text-center">-->
                    <!--<td><b>클라이언트 ID</b></td>-->
                  <!--</tr>-->
                </tbody>
                </table>
                <div id="buttonGetMoreList" style="text-align:center;">
                  <button type="button" class="btn btn-primary btn-sm" onclick="procGetMoreList();">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>

        <!-- Modal Layer-->
        <div class="modal fade" id="client-form" style="display: none;">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>

                <h4 class="modal-title">서비스 브로커 등록</h4>
              </div>
              <div class="modal-body">

                <div class="box">
                  <!--<div class="box-header"></div>-->
                  <!-- /.box-header -->
                  <!-- form start -->
                  <form class="form-horizontal">
                    <div class="box-body">

                      <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">서비스 브로커 이름</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="name" placeholder="ex) rabbitmq-service-broker"/>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="userName" class="col-sm-2 control-label">사용자 이름</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="userName" placeholder="ex) admin"/>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="userPassword" class="col-sm-2 control-label">사용자 패스워드</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="userPassword" placeholder="ex) admin"/>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="url" class="col-sm-2 control-label">URL 정보</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="url" placeholder="ex) http://10.30.40.81:4567"/>
                        </div>
                      </div>

                    </div>
                  </form>
                </div>

              </div>
              <div class="modal-footer" style="border-top: 0px">
                <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal">닫기</button>
                <!--<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">목록</button>-->
                <button type="button" class="btn btn-sm btn-primary">등록</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- Modal Layer-->

        <form id="hiddenForm">
          <input type="hidden" id="clientId" name="clientId" value="" />
        </form>

      </section>
      <!-- /.content -->
    </div>
  <!-- /.content-wrapper -->

  <footer></footer>

</div>
<!-- ./wrapper -->

<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
  /*<![CDATA[*/
  var LOADED_LIST_COUNT = 0;
  var GET_CLIENT_LIST = "/v2/clients";
  var CURRENT_OFFSET = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).PAGE_OFFSET}]]*/ 0;
  var LOAD_UNIT = 10;
  var CLIENT_LIST = new Array();
  var CURRENT_LIST;

  $(document).ready(function () {
    getClientList();
  });

  var getClientList = function () {
    var param = {};
    procCallAjax(GET_CLIENT_LIST, "GET", param, procCallbackGetClientList, null);
  };

  var procCallbackGetClientList = function (data) {
    if (RESULT_STATUS_FAIL == data.RESULT){
      return false;
    }

    for(var i = 0; i < data.resources.length; i++){
      CLIENT_LIST[i] = data.resources[i].client_id;
    }

    CURRENT_LIST = CLIENT_LIST;
    printData(CLIENT_LIST);
  }

  function printData(data) {

    var objTableArea = $('#clientInfoTableArea');
    var objTableTitle = $('#clientInfoTableTitle');
    var objTable = $('#clientInfoTable');
    var objMessageArea = $('#clientInfoMessageArea');
    var listLength = data.length;
    var htmlString = [];

    if (/*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).PAGE_OFFSET}]]*/ 0 == CURRENT_OFFSET) {
      LOADED_LIST_COUNT = 0;
      objTable.html('');
    }

    objMessageArea.html('');

    if (listLength < 1) {
      objTableArea.hide();
      objTableTitle.hide();
      objTable.hide();
      objMessageArea.append(/*[[#{common.info.result.success}]]*/);
      objMessageArea.show();

    } else {
      var resultList = data;

      var loopEnd = CURRENT_OFFSET + LOAD_UNIT;
      if (loopEnd > listLength)
        loopEnd = listLength;

      var idx;
      for (idx = CURRENT_OFFSET; idx < loopEnd; idx++) {

        htmlString.push('<tr><td style="cursor:pointer;">' + resultList[idx] + '</td></tr>');
      }

      LOADED_LIST_COUNT += idx;

      if (listLength > LOADED_LIST_COUNT) {
        $('#buttonGetMoreList').animate({
          opacity: "show"
        });
      } else {
        $('#buttonGetMoreList').hide();
      }

      objMessageArea.hide();
      objTable.append(htmlString);
      objTable.show();
      objTableTitle.show();
      objTableArea.show();
    }
  };

  // GET MORE LIST
  var procGetMoreList = function() {
    CURRENT_OFFSET = CURRENT_OFFSET+10;
    printData(CURRENT_LIST);

  }

  function procSearchByKeyword(event) {
    $('#buttonGetMoreList').hide();
    CURRENT_OFFSET = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).PAGE_OFFSET}]]*/ "";
    LOADED_LIST_COUNT = 0;

    $('#clientInfoTableTitle').hide();
    $('#clientInfoTable').empty();

    var searchKeyword = document.getElementById('searchKeyword').value;
    var searchResult = new Array();
    var newIdx = 0;
    for (var i=0; i < CLIENT_LIST.length; i++ ){

      if (CLIENT_LIST[i].includes(document.getElementById('searchKeyword').value)) {
        searchResult[newIdx++] = CLIENT_LIST[i];
      }
    }

    CURRENT_LIST = searchResult;
    printData(searchResult);

  }
  /*]]>*/
</script>


</body>
</html>
